
/*animations*/
.ie8 .animated,
.ie9 .animated{
	opacity:1 !important;
}

.animated {
	-o-animation-duration: 0.5s;
	-ms-animation-duration: 0.5s;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.animated.a1s {
	-o-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}
.animated.a15s {
	-o-animation-duration: 1.5s;
	-ms-animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
}
.animated.a2s {
	-o-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
}
.animated.a25s {
	-o-animation-duration: 2.5s;
	-ms-animation-duration: 2.5s;
	-webkit-animation-duration: 2.5s;
	animation-duration: 2.5s;
}
.animated.a3s {
	-o-animation-duration: 3s;
	-ms-animation-duration: 3s;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
}
.animated.a35s {
	-o-animation-duration: 3.5s;
	-ms-animation-duration: 3.5s;
	-webkit-animation-duration: 3.5s;
	animation-duration: 3.5s;
}
.animated.a4s {
	-o-animation-duration: 4s;
	-ms-animation-duration: 4s;
	-webkit-animation-duration: 4s;
	animation-duration: 4s;
}
.animated.a5s {
	-o-animation-duration: 5s;
	-ms-animation-duration: 5s;
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
}

.animated.d1s{
	-o-animation-delay:1s;
	-moz-animation-delay:1s;
	-webkit-animation-delay:1s;
	animation-delay:1s;
}
.animated.d15s{
	-o-animation-delay:1.5s;
	-moz-animation-delay:1.5s;
	-webkit-animation-delay:1.5s;
	animation-delay:1.5s;
}
.animated.d2s{
	-o-animation-delay:2s;
	-moz-animation-delay:2s;
	-webkit-animation-delay:2s;
	animation-delay:2s;
}
.animated.d25s{
	-o-animation-delay:2.5s;
	-moz-animation-delay:2.5s;
	-webkit-animation-delay:2.5s;
	animation-delay:2.5s;
}
.animated.d3s{
	-o-animation-delay:3s;
	-moz-animation-delay:3s;
	-webkit-animation-delay:3s;
	animation-delay:3s;
}
.animated.d35s{
	-o-animation-delay:3.5s;
	-moz-animation-delay:3.5s;
	-webkit-animation-delay:3.5s;
	animation-delay:3.5s;
}
.animated.d4s{
	-o-animation-delay:4s;
	-moz-animation-delay:4s;
	-webkit-animation-delay:4s;
	animation-delay:4s;
}
.animated.d45s{
	-o-animation-delay:4.5s;
	-moz-animation-delay:4.5s;
	-webkit-animation-delay:4.5s;
	animation-delay:4.5s;
}
.animated.d5s{
	-o-animation-delay:5s;
	-moz-animation-delay:5s;
	-webkit-animation-delay:5s;
	animation-delay:5s;
}

.wobble.go {
	-webkit-animation-name: wobble;
	animation-name: wobble;
}
.fadeInUp {
	opacity: 0;
	-webkit-transform: translateY(400px);
	transform: translateY(400px);
}
.fadeInUp.go {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
.fadeInDown {
	opacity: 0;
	-webkit-transform: translateY(-80px);
	transform: translateY(-80px);
}
.fadeInDown.go {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
}
.rotateIn.go {
	-webkit-animation-name: rotateIn;
	animation-name: rotateIn;
}
.rotateInUpLeft.go {
	-webkit-animation-name: rotateInUpLeft;
	animation-name: rotateInUpLeft;
}
.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
}
.rotateInDownLeft.go {
	-webkit-animation-name: rotateInDownLeft;
	animation-name: rotateInDownLeft;
}
.rotateInUpRight.go {
	-webkit-animation-name: rotateInUpRight;
	animation-name: rotateInUpRight;
}
.rotateInDownRight.go {
	-webkit-animation-name: rotateInDownRight;
	animation-name: rotateInDownRight;
}
.rollIn.go {
	-webkit-animation-name: rollIn;
	animation-name: rollIn;
}
.wiggle.go {
	-webkit-animation-name: wiggle;
	animation-name: wiggle;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
}
.swing.go {
	-webkit-transform-origin: top center;
	transform-origin: top center;
	-webkit-animation-name: swing;
	animation-name: swing;
}
.tada.go {
	-webkit-animation-name: tada;
	animation-name: tada;
}
.pulse.go {
	-webkit-animation-name: pulse;
	animation-name: pulse;
}
.lightSpeedInRight.go {
	-webkit-animation-name: lightSpeedInRight;
	animation-name: lightSpeedInRight;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
}
.lightSpeedInLeft.go {
	-webkit-animation-name: lightSpeedInLeft;
	animation-name: lightSpeedInLeft;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
}
.flip.go {
	-webkit-backface-visibility: visible !important;
	-webkit-animation-name: flip;
	backface-visibility: visible !important;
	animation-name: flip;
}
.flipInX.go {
	-webkit-backface-visibility: visible !important;
	-webkit-animation-name: flipInX;
	backface-visibility: visible !important;
	animation-name: flipInX;
}
.flipInY.go {
	-webkit-backface-visibility: visible !important;
	-webkit-animation-name: flipInY;
	backface-visibility: visible !important;
	animation-name: flipInY;
}
.bounceOut.goAway {
	-webkit-animation-name: bounceOut;
	animation-name: bounceOut;
}
.bounceOutUp.goAway {
	-webkit-animation-name: bounceOutUp;
	animation-name: bounceOutUp;
}
.bounceOutDown.goAway {
	-webkit-animation-name: bounceOutDown;
	animation-name: bounceOutDown;
}
.bounceOutLeft.goAway {
	-webkit-animation-name: bounceOutLeft;
	animation-name: bounceOutLeft;
}
.bounceOutRight.goAway {
	-webkit-animation-name: bounceOutRight;
	animation-name: bounceOutRight;
}
.bounceIn.go {
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
}
.bounceInRight.go {
	-webkit-animation-name: bounceInRight;
	animation-name: bounceInRight;
}
.bounceInLeft.go {
	-webkit-animation-name: bounceInLeft;
	animation-name: bounceInLeft;
}
.slideInLeft.go {
	-webkit-animation-name: slideInLeft;
	animation-name: slideInLeft;
}

.bounceInUp.go {
	-webkit-animation-name: bounceInUp;
	animation-name: bounceInUp;
}

.bounceInDown.go {
	-webkit-animation-name: bounceInDown;
	animation-name: bounceInDown;
}
.fadeIn { opacity: 0; }
.fadeIn.go {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}
.growIn {
	-webkit-transform: scale(0.2);
	transform: scale(0.2);
	opacity: 0;
}
.growIn.go {
	-webkit-animation-name: growIn;
	animation-name: growIn;
}
.shake.go {
	-webkit-animation-name: shake;
	animation-name: shake;
}
.shakeUp.go {
	-webkit-animation-name: shakeUp;
	animation-name: shakeUp;
}
.fadeInLeft {
	opacity: 0;
	-webkit-transform: translateX(-400px);
	transform: translateX(-400px);
}
.fadeInLeft.go {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
}

.fadeInRight {
	opacity: 0;
	-webkit-transform: translateX(400px);
	transform: translateX(400px);
}
.fadeInRight.go {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
}
	
.bounceInRight, .bounceInLeft, .bounceInUp, .bounceInDown,.slideInLeft{
	opacity: 0;
	-webkit-transform: translateX(400px);
	transform: translateX(400px);
}
.fadeInRight, .fadeInLeft, .fadeInUp, .fadeInDown {
	opacity: 0;
	-webkit-transform: translateX(400px);
	transform: translateX(400px);
}
.flipInX, .flipInY, .rotateIn, .rotateInUpLeft, .rotateInUpRight, .rotateInDownLeft, .rotateDownUpRight, .rollIn { opacity: 0; }
.lightSpeedInRight, .lightSpeedInLeft {
	opacity: 0;
	-webkit-transform: translateX(400px);
	transform: translateX(400px);
}
	
	
.fadeOut.goAway {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}
.rotateOutUpRight.goAway {
	-webkit-animation-name: rotateOutUpRight;
	animation-name: rotateOutUpRight;
}
.rotateOutDownLeft.goAway {
	-webkit-animation-name: rotateOutDownLeft;
	animation-name: rotateOutDownLeft;
}
.rotateOutUpLeft.goAway {
	-webkit-animation-name: rotateOutUpLeft;
	animation-name: rotateOutUpLeft;
}
.rotateOut.goAway {
	-webkit-animation-name: rotateOut;
	animation-name: rotateOut;
}
.lightSpeedOutLeft.goAway {
	-webkit-animation-name: lightSpeedOutLeft;
	animation-name: lightSpeedOutLeft;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
}
.lightSpeedOutRight.goAway {
	-webkit-animation-name: lightSpeedOutRight;
	animation-name: lightSpeedOutRight;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
}
.flipOutY {
	-webkit-backface-visibility: visible !important;
	-webkit-animation-name: flipOutY;
	backface-visibility: visible !important;
	animation-name: flipOutY;
}
.flipOutX.goAway {
	-webkit-animation-name: flipOutX;
	-webkit-backface-visibility: visible !important;
	animation-name: flipOutX;
	backface-visibility: visible !important;
}

.fadeOutRight.goAway {
	-webkit-animation-name: fadeOutRight;
	animation-name: fadeOutRight;
}
.fadeOutLeft.goAway {
	-webkit-animation-name: fadeOutLeft;
	animation-name: fadeOutLeft;
}
.fadeOutDown.goAway {
	-webkit-animation-name: fadeOutDown;
	animation-name: fadeOutDown;
}
.fadeOutUp.goAway {
	-webkit-animation-name: fadeOutUp;
	animation-name: fadeOutUp;
}
.rollOut.goAway {
	-webkit-animation-name: rollOut;
	animation-name: rollOut;
}
.fadeInUpShort {
	opacity: 0;
	-webkit-transform: translateY(20px);
	transform: translateY(20px);
}
.fadeInUpShort.go {
	-webkit-animation-name: fadeInUpShort;
	animation-name: fadeInUpShort;
}
.fadeInLeftShort {
	opacity: 0;
	-webkit-transform: translateX(-20px);
	transform: translateX(-20px);
}
.fadeInLeftShort.go {
	-webkit-animation-name: fadeInLeftShort;
	animation-name: fadeInLeftShort;
}
.fadeInRightShort {
	opacity: 0;
	-webkit-transform: translateX(20px);
	transform: translateX(20px);
}
.fadeInRightShort.go {
	-webkit-animation-name: fadeInRightShort;
	animation-name: fadeInRightShort;
}
.fadeInDownShort {
	opacity: 0;
	-webkit-transform: translateY(-20px);
	transform: translateY(-20px);
}
.fadeInDownShort.go {
	-webkit-animation-name: fadeInDownShort;
	animation-name: fadeInDownShort;
}	

/***********
* linInLeft *
************/
@-webkit-keyframes linInLeft {
0% {
 opacity: 0;
 -webkit-transform: translateX(-200px);
}
 50% {
 opacity: 0.6;
}
 100% {
 opacity: 1;
 -webkit-transform: translateX(0);
}
}
 @keyframes linInLeft {
0% {
 opacity: 0;
 -webkit-transform: translateX(-200px);
}
 50% {
 opacity: 0.3;
}
 100% {
 opacity: 1;
 -webkit-transform: translateX(0);
}
}
/***********
* linoutLeft *
************/
@-webkit-keyframes linoutLeft {
0% {
 opacity: 1;
 -webkit-transform: translateX(0);
}
 50% {
 opacity: 0.6;
}
 100% {
 opacity: 0;
 -webkit-transform: translateX(200px);
}
}
 @keyframes linoutLeft {
0% {
 opacity: 1;
 -webkit-transform: translateX(0);
}
 50% {
 opacity: 0.6;
}
 100% {
 opacity: 0;
 -webkit-transform: translateX(200px);
}
}
/***********
* bounceIn *
************/
@-webkit-keyframes bounceIn {
 0% {
 opacity: 0;
 -webkit-transform: scale(.3);
}
 50% {
 opacity: 1;
 -webkit-transform: scale(1.05);
}
 70% {
 -webkit-transform: scale(.9);
}
 100% {
 -webkit-transform: scale(1);
}
}
 @keyframes bounceIn {
 0% {
 opacity: 0;
 transform: scale(.3);
}
 50% {
 opacity: 1;
 transform: scale(1.05);
}
 70% {
 transform: scale(.9);
}
 100% {
 transform: scale(1);
}
}


/****************
* bounceInRight *
****************/

@-webkit-keyframes bounceInRight {
 0% {
 opacity: 0;
 -webkit-transform: translateX(400px);
}
 60% {
 -webkit-transform: translateX(-30px);
}
 80% {
 -webkit-transform: translateX(10px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateX(0);
}
}
 @keyframes bounceInRight {
 0% {
 opacity: 0;
 transform: translateX(400px);
}
 60% {
 transform: translateX(-30px);
}
 80% {
 transform: translateX(10px);
}
 100% {
 opacity: 1;
 transform: translateX(0);
}
}



/******************
* Bounce in left *
*******************/

@-webkit-keyframes bounceInLeft {
 0% {
 opacity: 0;
 -webkit-transform: translateX(-400px);
}
 60% {
 -webkit-transform: translateX(30px);
}
 80% {
 -webkit-transform: translateX(-10px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateX(0);
}
}
 @keyframes bounceInLeft {
 0% {
 opacity: 0;
 transform: translateX(-400px);
}
 60% {
 transform: translateX(30px);
}
 80% {
 transform: translateX(-10px);
}
 100% {
 opacity: 1;
 transform: translateX(0);
}
}

/*========SlideInLeft============*/
@-webkit-keyframes slideInLeft {
 0% {
 opacity: 0;
 -webkit-transform: translateX(-400px);
}
 80% {
 -webkit-transform: translateX(-10px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateX(0);
}
}
 @keyframes slideInLeft {
 0% {
 opacity: 0;
 transform: translateX(-400px);
}
 80% {
 transform: translateX(-10px);
}
 100% {
 opacity: 1;
 transform: translateX(0);
}
}
/******************
* Bounce in up *
*******************/

@-webkit-keyframes bounceInUp {
 0% {
 opacity: 0;
 -webkit-transform: translateY(400px);
}
 60% {
 -webkit-transform: translateY(-30px);
}
 80% {
 -webkit-transform: translateY(10px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateY(0);
}
}
 @keyframes bounceInUp {
 0% {
 opacity: 0;
 transform: translateY(400px);
}
 60% {
 transform: translateY(-30px);
}
 80% {
 transform: translateY(10px);
}
 100% {
 opacity: 1;
 transform: translateY(0);
}
}


/******************
* Bounce in down *
*******************/

@-webkit-keyframes bounceInDown {
 0% {
 opacity: 0;
 -webkit-transform: translateY(-400px);
}
 60% {
 -webkit-transform: translateY(30px);
}
 80% {
 -webkit-transform: translateY(-10px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateY(0);
}
}
 @keyframes bounceInDown {
 0% {
 opacity: 0;
 transform: translateY(-400px);
}
 60% {
 transform: translateY(30px);
}
 80% {
 transform: translateY(-10px);
}
 100% {
 opacity: 1;
 transform: translateY(0);
}
}

/**********
* Fade In *
**********/ 
@-webkit-keyframes fadeIn {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
 display:block;
}
}
@keyframes fadeIn {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
 display:block;
}
}

/**********
* Grow in *
***********/

@-webkit-keyframes growIn {
 0% {
 -webkit-transform: scale(0.2);
 opacity:0;
}
 50% {
 -webkit-transform: scale(1.2);
}
 100% {
 -webkit-transform: scale(1);
 opacity:1;
}
}
@keyframes growIn {
 0% {
 transform: scale(0.2);
 opacity:0;
}
 50% {
 transform: scale(1.2);
}
 100% {
 transform: scale(1);
 opacity:1;
}
}



/********
* Shake *
********/
@-webkit-keyframes shake {
 0%, 100% {
-webkit-transform: translateX(0);
}
 10%, 30%, 50%, 70%, 90% {
-webkit-transform: translateX(-10px);
}
 20%, 40%, 60%, 80% {
-webkit-transform: translateX(10px);
}
}
@keyframes shake {
 0%, 100% {
transform: translateX(0);
}
 10%, 30%, 50%, 70%, 90% {
transform: translateX(-10px);
}
 20%, 40%, 60%, 80% {
transform: translateX(10px);
}
}



/********
* ShakeUp *
********/
@-webkit-keyframes shakeUp {
 0%, 100% {
-webkit-transform: translateX(0);
}
 10%, 30%, 50%, 70%, 90% {
-webkit-transform: translateY(-10px);
}
 20%, 40%, 60%, 80% {
-webkit-transform: translateY(10px);
}
}
@keyframes shakeUp {
 0%, 100% {
transform: translateY(0);
}
 10%, 30%, 50%, 70%, 90% {
transform: translateY(-10px);
}
 20%, 40%, 60%, 80% {
transform: translateY(10px);
}
}



/*************
* FadeInLeft *
*************/

@-webkit-keyframes fadeInLeft {
 0% {
 opacity: 0;
 -webkit-transform: translateX(-400px);
}
 50% {
 opacity: 0.3;
}
 100% {
 opacity: 1;
 -webkit-transform: translateX(0);
}
}
@keyframes fadeInLeft {
 0% {
 opacity: 0;
 transform: translateX(-400px);
}
 50% {
 opacity: 0.3;
}
 100% {
 opacity: 1;
 transform: translateX(0);
}
}



/*************
* FadeInRight *
*************/

@-webkit-keyframes fadeInRight {
 0% {
 opacity: 0;
 -webkit-transform: translateX(400px);
}
 50% {
 opacity: 0.3;
}
 100% {
 opacity: 1;
 -webkit-transform: translateX(0);
}
}
@keyframes fadeInRight {
 0% {
 opacity: 0;
 transform: translateX(400px);
}
 50% {
 opacity: 0.3;
}
 100% {
 opacity: 1;
 transform: translateX(0);
}
}




/*************
* FadeInUp *
*************/

@-webkit-keyframes fadeInUp {
 0% {
 opacity: 0;
 -webkit-transform: translateY(400px);
}
 50% {
 opacity: 0.3;
}
 100% {
 opacity: 1;
 -webkit-transform: translateY(0);
}
}
@keyframes fadeInUp {
 0% {
 opacity: 0;
 transform: translateY(400px);
}
 50% {
 opacity: 0.3;
}
 100% {
 opacity: 1;
 transform: translateY(0);
}
}



/*************
* FadeInDown *
*************/

@-webkit-keyframes fadeInDown {
 0% {
 opacity: 0;
 -webkit-transform: translateY(-400px);
}
 50% {
 opacity: 0.3;
}
 100% {
 opacity: 1;
 -webkit-transform: translateY(0);
}
}
@keyframes fadeInDown {
 0% {
 opacity: 0;
 transform: translateY(-400px);
}
 50% {
 opacity: 0.3;
}
 100% {
 opacity: 1;
 transform: translateY(0);
}
}




/*****************
* rotateIn *
*****************/
@-webkit-keyframes rotateIn {
 0% {
 -webkit-transform-origin: center center;
 -webkit-transform: rotate(-200deg);
 opacity: 0;
}
 100% {
 -webkit-transform-origin: center center;
 -webkit-transform: rotate(0);
 opacity: 1;
}
}
@keyframes rotateIn {
 0% {
 transform-origin: center center;
 transform: rotate(-200deg);
 opacity: 0;
}
 100% {
 transform-origin: center center;
 transform: rotate(0);
 opacity: 1;
}
}




/*****************
* rotateInUpLeft *
*****************/

@-webkit-keyframes rotateInUpLeft {
 0% {
 -webkit-transform-origin: left bottom;
 -webkit-transform: rotate(90deg);
 opacity: 0;
}
 100% {
 -webkit-transform-origin: left bottom;
 -webkit-transform: rotate(0);
 opacity: 1;
}
}
@keyframes rotateInUpLeft {
 0% {
 transform-origin: left bottom;
 transform: rotate(90deg);
 opacity: 0;
}
 100% {
 transform-origin: left bottom;
 transform: rotate(0);
 opacity: 1;
}
}




/*******************
* rotateInDownLeft *
*******************/
@-webkit-keyframes rotateInDownLeft {
 0% {
 -webkit-transform-origin: left bottom;
 -webkit-transform: rotate(-90deg);
 opacity: 0;
}
 100% {
 -webkit-transform-origin: left bottom;
 -webkit-transform: rotate(0);
 opacity: 1;
}
}
@keyframes rotateInDownLeft {
 0% {
 transform-origin: left bottom;
 transform: rotate(-90deg);
 opacity: 0;
}
 100% {
 transform-origin: left bottom;
 transform: rotate(0);
 opacity: 1;
}
}


/******************
* rotateInUpRight *
*******************/

@-webkit-keyframes rotateInUpRight {
 0% {
 -webkit-transform-origin: right bottom;
 -webkit-transform: rotate(-90deg);
 opacity: 0;
}
 100% {
 -webkit-transform-origin: right bottom;
 -webkit-transform: rotate(0);
 opacity: 1;
}
}
@keyframes rotateInUpRight {
 0% {
 transform-origin: right bottom;
 transform: rotate(-90deg);
 opacity: 0;
}
 100% {
 transform-origin: right bottom;
 transform: rotate(0);
 opacity: 1;
}
}


/********************
* rotateInDownRight *
********************/

@-webkit-keyframes rotateInDownRight {
 0% {
 -webkit-transform-origin: right bottom;
 -webkit-transform: rotate(90deg);
 opacity: 0;
}
 100% {
 -webkit-transform-origin: right bottom;
 -webkit-transform: rotate(0);
 opacity: 1;
}
}
@keyframes rotateInDownRight {
 0% {
 transform-origin: right bottom;
 transform: rotate(90deg);
 opacity: 0;
}
 100% {
 transform-origin: right bottom;
 transform: rotate(0);
 opacity: 1;
}
}


/*********
* rollIn *
**********/

@-webkit-keyframes rollIn {
 0% {
opacity: 0;
-webkit-transform: translateX(-100%) rotate(-120deg);
}
 100% {
opacity: 1;
-webkit-transform: translateX(0px) rotate(0deg);
}
}
@keyframes rollIn {
 0% {
opacity: 0;
transform: translateX(-100%) rotate(-120deg);
}
 100% {
opacity: 1;
transform: translateX(0px) rotate(0deg);
}
}


/*********
* wiggle *
**********/

@-webkit-keyframes wiggle {
 0% {
-webkit-transform: skewX(9deg);
}
 10% {
-webkit-transform: skewX(-8deg);
}
 20% {
-webkit-transform: skewX(7deg);
}
 30% {
-webkit-transform: skewX(-6deg);
}
 40% {
-webkit-transform: skewX(5deg);
}
 50% {
-webkit-transform: skewX(-4deg);
}
 60% {
-webkit-transform: skewX(3deg);
}
 70% {
-webkit-transform: skewX(-2deg);
}
 80% {
-webkit-transform: skewX(1deg);
}
 90% {
-webkit-transform: skewX(0deg);
}
 100% {
-webkit-transform: skewX(0deg);
}
}
@keyframes wiggle {
 0% {
transform: skewX(9deg);
}
 10% {
transform: skewX(-8deg);
}
 20% {
transform: skewX(7deg);
}
 30% {
transform: skewX(-6deg);
}
 40% {
transform: skewX(5deg);
}
 50% {
transform: skewX(-4deg);
}
 60% {
transform: skewX(3deg);
}
 70% {
transform: skewX(-2deg);
}
 80% {
transform: skewX(1deg);
}
 90% {
transform: skewX(0deg);
}
 100% {
transform: skewX(0deg);
}
}


/********
* swing *
*********/

@-webkit-keyframes swing {
 20%, 40%, 60%, 80%, 100% {
-webkit-transform-origin: top center;
}
 20% {
-webkit-transform: rotate(15deg);
}
 40% {
-webkit-transform: rotate(-10deg);
}
 60% {
-webkit-transform: rotate(5deg);
}
 80% {
-webkit-transform: rotate(-5deg);
}
 100% {
-webkit-transform: rotate(0deg);
}
}
@keyframes swing {
 20% {
transform: rotate(15deg);
}
 40% {
transform: rotate(-10deg);
}
 60% {
transform: rotate(5deg);
}
 80% {
transform: rotate(-5deg);
}
 100% {
transform: rotate(0deg);
}
}

/*******
* tada *
********/

@-webkit-keyframes tada {
 0% {
-webkit-transform: scale(1);
}
 10%, 20% {
-webkit-transform: scale(0.9) rotate(-3deg);
}
 30%, 50%, 70%, 90% {
-webkit-transform: scale(1.1) rotate(3deg);
}
 40%, 60%, 80% {
-webkit-transform: scale(1.1) rotate(-3deg);
}
 100% {
-webkit-transform: scale(1) rotate(0);
}
}
@keyframes tada {
 0% {
transform: scale(1);
}
 10%, 20% {
transform: scale(0.9) rotate(-3deg);
}
 30%, 50%, 70%, 90% {
transform: scale(1.1) rotate(3deg);
}
 40%, 60%, 80% {
transform: scale(1.1) rotate(-3deg);
}
 100% {
transform: scale(1) rotate(0);
}
}


/*********
* wobble *
**********/

@-webkit-keyframes wobble {
 0% {
-webkit-transform: translateX(0%);
}
 15% {
-webkit-transform: translateX(-25%) rotate(-5deg);
}
 30% {
-webkit-transform: translateX(20%) rotate(3deg);
}
 45% {
-webkit-transform: translateX(-15%) rotate(-3deg);
}
 60% {
-webkit-transform: translateX(10%) rotate(2deg);
}
 75% {
-webkit-transform: translateX(-5%) rotate(-1deg);
}
 100% {
-webkit-transform: translateX(0%);
}
}
@keyframes wobble {
 0% {
transform: translateX(0%);
}
 15% {
transform: translateX(-25%) rotate(-5deg);
}
 30% {
transform: translateX(20%) rotate(3deg);
}
 45% {
transform: translateX(-15%) rotate(-3deg);
}
 60% {
transform: translateX(10%) rotate(2deg);
}
 75% {
transform: translateX(-5%) rotate(-1deg);
}
 100% {
transform: translateX(0%);
}
}



/********
* pulse *
*********/

@-webkit-keyframes pulse {
 0% {
-webkit-transform: scale(1);
}
 50% {
-webkit-transform: scale(1.1);
}
 100% {
-webkit-transform: scale(1);
}
}
@keyframes pulse {
 0% {
transform: scale(1);
}
 50% {
transform: scale(1.1);
}
 100% {
transform: scale(1);
}
}


/***************
* lightSpeedInRight *
****************/
@-webkit-keyframes lightSpeedInRight {
 0% {
-webkit-transform: translateX(100%) skewX(-30deg);
opacity: 0;
}
 60% {
-webkit-transform: translateX(-20%) skewX(30deg);
opacity: 1;
}
 80% {
-webkit-transform: translateX(0%) skewX(-15deg);
opacity: 1;
}
 100% {
-webkit-transform: translateX(0%) skewX(0deg);
opacity: 1;
}
}
@keyframes lightSpeedInRight {
 0% {
transform: translateX(100%) skewX(-30deg);
opacity: 0;
}
 60% {
transform: translateX(-20%) skewX(30deg);
opacity: 1;
}
 80% {
transform: translateX(0%) skewX(-15deg);
opacity: 1;
}
 100% {
transform: translateX(0%) skewX(0deg);
opacity: 1;
}
}

/***************
* lightSpeedInLeft *
****************/
@-webkit-keyframes lightSpeedInLeft {
 0% {
-webkit-transform: translateX(-100%) skewX(30deg);
opacity: 0;
}
 60% {
-webkit-transform: translateX(20%) skewX(-30deg);
opacity: 1;
}
 80% {
-webkit-transform: translateX(0%) skewX(15deg);
opacity: 1;
}
 100% {
-webkit-transform: translateX(0%) skewX(0deg);
opacity: 1;
}
}
@keyframes lightSpeedInLeft {
 0% {
transform: translateX(-100%) skewX(30deg);
opacity: 0;
}
 60% {
transform: translateX(20%) skewX(-30deg);
opacity: 1;
}
 80% {
transform: translateX(0%) skewX(15deg);
opacity: 1;
}
 100% {
transform: translateX(0%) skewX(0deg);
opacity: 1;
}
}


/*******
* Flip *
*******/
@-webkit-keyframes flip {
 0% {
 -webkit-transform: perspective(400px) rotateY(0);
 -webkit-animation-timing-function: ease-out;
}
 40% {
 -webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg);
 -webkit-animation-timing-function: ease-out;
}
 50% {
 -webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
 -webkit-animation-timing-function: ease-in;
}
 80% {
 -webkit-transform: perspective(400px) rotateY(360deg) scale(.95);
 -webkit-animation-timing-function: ease-in;
}
 100% {
 -webkit-transform: perspective(400px) scale(1);
 -webkit-animation-timing-function: ease-in;
}
}
@keyframes flip {
 0% {
 transform: perspective(400px) rotateY(0);
 animation-timing-function: ease-out;
}
 40% {
 transform: perspective(400px) translateZ(150px) rotateY(170deg);
 animation-timing-function: ease-out;
}
 50% {
 transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
 animation-timing-function: ease-in;
}
 80% {
 transform: perspective(400px) rotateY(360deg) scale(.95);
 animation-timing-function: ease-in;
}
 100% {
 transform: perspective(400px) scale(1);
 animation-timing-function: ease-in;
}
}

/**********
* flipInX *
**********/
@-webkit-keyframes flipInX {
 0% {
 -webkit-transform: perspective(400px) rotateX(90deg);
 opacity: 0;
}
 40% {
 -webkit-transform: perspective(400px) rotateX(-10deg);
}
 70% {
 -webkit-transform: perspective(400px) rotateX(10deg);
}
 100% {
 -webkit-transform: perspective(400px) rotateX(0deg);
 opacity: 1;
}
}
@keyframes flipInX {
 0% {
 transform: perspective(400px) rotateX(90deg);
 opacity: 0;
}
 40% {
 transform: perspective(400px) rotateX(-10deg);
}
 70% {
 transform: perspective(400px) rotateX(10deg);
}
 100% {
 transform: perspective(400px) rotateX(0deg);
 opacity: 1;
}
}


/**********
* flipInY *
**********/

@-webkit-keyframes flipInY {
 0% {
 -webkit-transform: perspective(400px) rotateY(90deg);
 opacity: 0;
}
 40% {
 -webkit-transform: perspective(400px) rotateY(-10deg);
}
 70% {
 -webkit-transform: perspective(400px) rotateY(10deg);
}
 100% {
 -webkit-transform: perspective(400px) rotateY(0deg);
 opacity: 1;
}
}
@keyframes flipInY {
 0% {
 transform: perspective(400px) rotateY(90deg);
 opacity: 0;
}
 40% {
 transform: perspective(400px) rotateY(-10deg);
}
 70% {
 transform: perspective(400px) rotateY(10deg);
}
 100% {
 transform: perspective(400px) rotateY(0deg);
 opacity: 1;
}
}


/************
* bounceOut *
*************/
@-webkit-keyframes bounceOut {
 0% {
 -webkit-transform: scale(1);
}
 25% {
 -webkit-transform: scale(.95);
}
 50% {
 opacity: 1;
 -webkit-transform: scale(1.1);
}
 100% {
 opacity: 0;
 -webkit-transform: scale(.3);
}
}
@keyframes bounceOut {
 0% {
 transform: scale(1);
}
 25% {
 transform: scale(.95);
}
 50% {
 opacity: 1;
 transform: scale(1.1);
}
 100% {
 opacity: 0;
 transform: scale(.3);
}
}

/************
* bounceOutUp *
*************/
@-webkit-keyframes bounceOutUp {
 0% {
 -webkit-transform: translateY(0);
}
 20% {
 opacity: 1;
 -webkit-transform: translateY(20px);
}
 100% {
 opacity: 0;
 -webkit-transform: translateY(-2000px);
}
}
@keyframes bounceOutUp {
 0% {
 transform: translateY(0);
}
 20% {
 opacity: 1;
 transform: translateY(20px);
}
 100% {
 opacity: 0;
 transform: translateY(-2000px);
}
}

/************
* bounceOutDown *
*************/
@-webkit-keyframes bounceOutDown {
 0% {
 -webkit-transform: translateY(0);
}
 20% {
 opacity: 1;
 -webkit-transform: translateY(-20px);
}
 100% {
 opacity: 0;
 -webkit-transform: translateY(2000px);
}
}
@keyframes bounceOutDown {
 0% {
 transform: translateY(0);
}
 20% {
 opacity: 1;
 transform: translateY(-20px);
}
 100% {
 opacity: 0;
 transform: translateY(2000px);
}
}


/************
* bounceOutLeft *
*************/
@-webkit-keyframes bounceOutLeft {
 0% {
 -webkit-transform: translateX(0);
}
 20% {
 opacity: 1;
 -webkit-transform: translateX(20px);
}
 100% {
 opacity: 0;
 -webkit-transform: translateX(-2000px);
}
}
@keyframes bounceOutLeft {
 0% {
 transform: translateX(0);
}
 20% {
 opacity: 1;
 transform: translateX(20px);
}
 100% {
 opacity: 0;
 transform: translateX(-2000px);
}
}

/************
* bounceOutRight *
*************/
@-webkit-keyframes bounceOutRight {
 0% {
 -webkit-transform: translateX(0);
}
 20% {
 opacity: 1;
 -webkit-transform: translateX(-20px);
}
 100% {
 opacity: 0;
 -webkit-transform: translateX(2000px);
}
}
@keyframes bounceOutRight {
 0% {
 transform: translateX(0);
}
 20% {
 opacity: 1;
 transform: translateX(-20px);
}
 100% {
 opacity: 0;
 transform: translateX(2000px);
}
}


/************
* fadeOut *
*************/
@-webkit-keyframes fadeOut {
 0% {
opacity: 1;
}
 100% {
opacity: 0;
}
}
@keyframes fadeOut {
 0% {
opacity: 1;
}
 100% {
opacity: 0;
}
}

/************
* fadeOutUp *
*************/
@-webkit-keyframes fadeOutUp {
 0% {
 opacity: 1;
 -webkit-transform: translateY(0);
}
 100% {
 opacity: 0;
 -webkit-transform: translateY(-2000px);
}
}
@keyframes fadeOutUp {
 0% {
 opacity: 1;
 transform: translateY(0);
}
 100% {
 opacity: 0;
 transform: translateY(-2000px);
}
}


/************
* fadeOutDown *
*************/
@-webkit-keyframes fadeOutDown {
 0% {
 opacity: 1;
 -webkit-transform: translateY(0);
}
 100% {
 opacity: 0;
 -webkit-transform: translateY(2000px);
}
}
@keyframes fadeOutDown {
 0% {
 opacity: 1;
 transform: translateY(0);
}
 100% {
 opacity: 0;
 transform: translateY(2000px);
}
}


/************
* fadeOutLeft *
*************/
@-webkit-keyframes fadeOutLeft {
 0% {
 opacity: 1;
 -webkit-transform: translateX(0);
}
 100% {
 opacity: 0;
 -webkit-transform: translateX(-2000px);
}
}
@keyframes fadeOutLeft {
 0% {
 opacity: 1;
 transform: translateX(0);
}
 100% {
 opacity: 0;
 transform: translateX(-2000px);
}
}


/************
* fadeOutRight *
*************/
@-webkit-keyframes fadeOutRight {
 0% {
 opacity: 1;
 -webkit-transform: translateX(0);
}
 100% {
 opacity: 0;
 -webkit-transform: translateX(2000px);
}
}
@keyframes fadeOutRight {
 0% {
 opacity: 1;
 transform: translateX(0);
}
 100% {
 opacity: 0;
 transform: translateX(2000px);
}
}

/************
* flipOutX *
*************/
@-webkit-keyframes flipOutX {
 0% {
 -webkit-transform: perspective(400px) rotateX(0deg);
 opacity: 1;
}
 100% {
 -webkit-transform: perspective(400px) rotateX(90deg);
 opacity: 0;
}
}
@keyframes flipOutX {
 0% {
 transform: perspective(400px) rotateX(0deg);
 opacity: 1;
}
 100% {
 transform: perspective(400px) rotateX(90deg);
 opacity: 0;
}
}

/************
* flipOutY *
*************/
@-webkit-keyframes flipOutY {
 0% {
 -webkit-transform: perspective(400px) rotateY(0deg);
 opacity: 1;
}
 100% {
 -webkit-transform: perspective(400px) rotateY(90deg);
 opacity: 0;
}
}
@keyframes flipOutY {
 0% {
 transform: perspective(400px) rotateY(0deg);
 opacity: 1;
}
 100% {
 transform: perspective(400px) rotateY(90deg);
 opacity: 0;
}
}


/************
* lightSpeedOutRight *
*************/
@-webkit-keyframes lightSpeedOutRight {
 0% {
-webkit-transform: translateX(0%) skewX(0deg);
opacity: 1;
}
 100% {
-webkit-transform: translateX(100%) skewX(-30deg);
opacity: 0;
}
}
@keyframes lightSpeedOutRight {
 0% {
transform: translateX(0%) skewX(0deg);
opacity: 1;
}
 100% {
transform: translateX(100%) skewX(-30deg);
opacity: 0;
}
}



/************
* lightSpeedOutLeft *
*************/
@-webkit-keyframes lightSpeedOutLeft {
 0% {
-webkit-transform: translateX(0%) skewX(0deg);
opacity: 1;
}
 100% {
-webkit-transform: translateX(-100%) skewX(30deg);
opacity: 0;
}
}
@keyframes lightSpeedOutLeft {
 0% {
transform: translateX(0%) skewX(0deg);
opacity: 1;
}
 100% {
transform: translateX(-100%) skewX(30deg);
opacity: 0;
}
}


/************
* rotateOut *
*************/
@-webkit-keyframes rotateOut {
 0% {
 -webkit-transform-origin: center center;
 -webkit-transform: rotate(0);
 opacity: 1;
}
 100% {
 -webkit-transform-origin: center center;
 -webkit-transform: rotate(200deg);
 opacity: 0;
}
}
@keyframes rotateOut {
 0% {
 transform-origin: center center;
 transform: rotate(0);
 opacity: 1;
}
 100% {
 transform-origin: center center;
 transform: rotate(200deg);
 opacity: 0;
}
}



/************
* rotateOutUpLeft *
*************/
@-webkit-keyframes rotateOutUpLeft {
 0% {
 -webkit-transform-origin: left bottom;
 -webkit-transform: rotate(0);
 opacity: 1;
}
 100% {
 -webkit-transform-origin: left bottom;
 -webkit-transform: rotate(-90deg);
 opacity: 0;
}
}
@keyframes rotateOutUpLeft {
 0% {
 transform-origin: left bottom;
 transform: rotate(0);
 opacity: 1;
}
 100% {
 -transform-origin: left bottom;
 -transform: rotate(-90deg);
 opacity: 0;
}
}


/************
* rotateOutDownLeft *
*************/

@-webkit-keyframes rotateOutDownLeft {
 0% {
 -webkit-transform-origin: left bottom;
 -webkit-transform: rotate(0);
 opacity: 1;
}
 100% {
 -webkit-transform-origin: left bottom;
 -webkit-transform: rotate(90deg);
 opacity: 0;
}
}
@keyframes rotateOutDownLeft {
 0% {
 transform-origin: left bottom;
 transform: rotate(0);
 opacity: 1;
}
 100% {
 transform-origin: left bottom;
 transform: rotate(90deg);
 opacity: 0;
}
}

/************
* rotateOutUpRight *
*************/

@-webkit-keyframes rotateOutUpRight {
 0% {
 -webkit-transform-origin: right bottom;
 -webkit-transform: rotate(0);
 opacity: 1;
}
 100% {
 -webkit-transform-origin: right bottom;
 -webkit-transform: rotate(90deg);
 opacity: 0;
}
}
@keyframes rotateOutUpRight {
 0% {
 transform-origin: right bottom;
 transform: rotate(0);
 opacity: 1;
}
 100% {
 transform-origin: right bottom;
 transform: rotate(90deg);
 opacity: 0;
}
}


/************
* rollOut *
*************/
@-webkit-keyframes rollOut {
 0% {
 opacity: 1;
 -webkit-transform: translateX(0px) rotate(0deg);
}
 100% {
 opacity: 0;
 -webkit-transform: translateX(100%) rotate(120deg);
}
}
@keyframes rollOut {
 0% {
 opacity: 1;
 transform: translateX(0px) rotate(0deg);
}
 100% {
 opacity: 0;
 transform: translateX(100%) rotate(120deg);
}
}

@-webkit-keyframes fadeInUpShort {
 0% {
 opacity: 0;
 -webkit-transform: translateY(20px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateY(0);
}
}
 @keyframes fadeInUpShort {
 0% {
 opacity: 0;
 transform: translateY(20px);
}
 100% {
 opacity: 1;
 transform: translateY(0);
}
}

@-webkit-keyframes fadeInDownShort {
 0% {
 opacity: 0;
 -webkit-transform: translateY(-20px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateY(0);
}
}
 @keyframes fadeInDownShort {
 0% {
 opacity: 0;
 transform: translateY(-20px);
}
 100% {
 opacity: 1;
 transform: translateY(0);
}
}


/*********************
* fadeInRightShort 
*********************/
@-webkit-keyframes fadeInRightShort {
 0% {
 opacity: 0;
 -webkit-transform: translateX(20px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateX(0);
}
}
@keyframes fadeInRightShort {
 0% {
 opacity: 0;
 transform: translateX(20px);
}
 100% {
 opacity: 1;
 transform: translateX(0);
}
}

/*********************
* fadeInLeftShort 
*********************/
@-webkit-keyframes fadeInLeftShort {
 0% {
 opacity: 0;
 -webkit-transform: translateX(-20px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateX(0);
}
}
@keyframes fadeInLeftShort {
 0% {
 opacity: 0;
 transform: translateX(-20px);
}
 100% {
 opacity: 1;
 transform: translateX(0);
}
}
/**********
* fadeInUpBig *
**********/
@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    -ms-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}
/**********
* zoomIn *
**********/
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    -ms-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

/**********
* fadeInDownBig *
**********/
@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    -ms-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
}

/**********
* fadeInDownBig *
**********/
@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
	
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    -ms-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 1;
  }
}

.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
}
/* ==========================================================================
* page  welcom
 ==========================================================================*/

/**********
* an_welcom_logo *
**********/
@-webkit-keyframes an_welcom_logo {
  0% {
    top:-400%;
	left:-40%;
	
    -webkit-transform: rotate3d(1.5,1.1, 1.2, -200deg);
	-ms-transform: rotate3d(1.5,1.1, 1.2, -200deg);
	 transform: rotate3d(1.5,1.1, 1.2, -200deg);
	 
    opacity: 0;
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
	-ms-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
  }
}
@keyframes an_welcom_logo {
  0% {
    top:-400%;
	left:-40%;
	
    -webkit-transform: rotate3d(1.5,1.1, 1.2, -200deg);
	-ms-transform: rotate3d(1.5,1.1, 1.2, -200deg);
	 transform: rotate3d(1.5,1.1, 1.2, -200deg);
	 
    opacity: 0;
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
	-ms-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
  }
}
.anim_logo {
  -o-animation-name: an_welcom_logo;
	-moz-animation-name: an_welcom_logo;
  	-webkit-animation-name: an_welcom_logo;
	animation-name: an_welcom_logo;
}

/**********
* an_welcom_line *
**********/
@-webkit-keyframes an_welcom_line {
  0% {
	-webkit-transform:scale(0,1);
	-ms-atransform:scale(0,1);
	transform:scale(0,1);
    opacity: 0;
	
  }

  100% {
    opacity: 1;
  }
}
@keyframes an_welcom_line {/*firefox*/
  0% {
	-webkit-transform:scale(0,1);
	-ms-atransform:scale(0,1);
	transform:scale(0,1);
    opacity: 0;
	
  }

  100% {
    opacity: 1;
  }
}

.an_welcom_logo {
  -o-animation-name: an_welcom_line;
	-moz-animation-name: an_welcom_line;
  	-webkit-animation-name: an_welcom_line;
	animation-name: an_welcom_line;
}
/**********
* an_welcom_h2*
**********/
@-webkit-keyframes an_welcom_h2 {
  0% {
	bottom:-20px;
    opacity: 0;
	
  }

  100% {
    opacity: 1;
  }
}
@keyframes an_welcom_h2 {/*firefox*/
  0% {
	bottom:-20px;
    opacity: 0;
	
  }

  100% {
    opacity: 1;
  }
}

.an_welcom_h2 {
  -o-animation-name: an_welcom_h2;
	-moz-animation-name: an_welcom_h2;
	-webkit-animation-name: an_welcom_h2;
	animation-name: an_welcom_h2;
}
/**********
* an_welcom_h1*
**********/
@-webkit-keyframes an_welcom_h1 {
  0% {
	top:-20px;
    opacity: 0;
	
  }

  100% {
    opacity: 1;
  }
}
@keyframes an_welcom_h1 {/*firefox*/
  0% {
	top:-20px;
    opacity: 0;
	
  }

  100% {
    opacity: 1;
  }
}

.an_welcom_h2 {
  -o-animation-name: an_welcom_h1;
	-moz-animation-name: an_welcom_h1;
	-webkit-animation-name: an_welcom_h1;
	animation-name: an_welcom_h1;
}
/**********
* an_welcom_h1*
**********/
@-webkit-keyframes an_welcom_skip {
  0% {
	bottom:-100px;
    opacity: 0;
	
  }

  100% {
    opacity: 1;
  }
}
@keyframes an_welcom_skip {/*firefox*/
  0% {
	bottom:-100px;
    opacity: 0;
	
  }

  100% {
    opacity: 1;
  }
}

.an_welcom_h2 {
  -o-animation-name: an_welcom_skip;
	-moz-animation-name: an_welcom_skip;
	-webkit-animation-name: an_welcom_skip;
	animation-name: an_welcom_skip;
}
/**********
* an_welcom_pic*
**********/
@-webkit-keyframes an_welcom_pic {
  0% {
    opacity: 0;
	
  }

  100% {
    opacity: 1;
  }
}
@keyframes an_welcom_pic {/*firefox*/
  0% {
    opacity: 0;
	
  }

  100% {
    opacity: 1;
  }
}

.an_welcom_h2 {
  -o-animation-name: an_welcom_pic;
	-moz-animation-name: an_welcom_pic;
	-webkit-animation-name: an_welcom_pic;
	animation-name: an_welcom_pic;
}
