@charset "utf-8";

/* ==========================================================================
* slick 
 ==========================================================================*/
/* 基本------- */
.slick-wp { padding:0; margin:0; position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: none; -webkit-tap-highlight-color: transparent; }
.slick-inner { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; height:100%; }
.slick-innerWp{height:100%;}
.slick-inner:focus { outline: none; }
.slick-loading .slick-inner { background: white url("./ajax-loader.gif") center center no-repeat; }
.slick-inner.dragging { cursor: pointer; cursor: hand; }

.slick-wp .slick-inner, 
.slick-innerWp, 
.slick-list, 
.slick-list img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
/*包圍的框*/
.slick-innerWp { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-innerWp:before, .slick-innerWp:after { content: ""; display: table; }
.slick-innerWp:after { clear: both; }
.slick-loading .slick-innerWp { visibility: hidden; }

.slick-list { float: left; height: 100%; min-height: 1px; display: none; position:relative; }
.slick-initialized .slick-list { display: block; }
.slick-loading .slick-list { visibility: hidden; }
.slick-vertical .slick-list { display: block; height: auto; border: 1px solid transparent; }

/* 左右箭頭*/
.slick-prev, .slick-next { z-index:99;  position: absolute; display: block; line-height: 0; font-size: 0; cursor: pointer; color:#000000; top: 50%; margin-top: -10px; padding: 0; border: none; outline: none;}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus { outline: none;  }
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before { opacity: 1; }
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: 0.2; }
.slick-prev:before, .slick-next:before {  
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 30px;
	color:#666666;
}
.slick-prev { left: -45px; }
.slick-prev:before {content: "\e609";}
.slick-next { right: -45px; }
.slick-next:before { content: "\e622";}

/* Dots 圈圈 */
.slick-list { margin-bottom: 30px; }
.slick-dots { position: absolute; bottom: -45px; list-style: none; display: block; text-align: center; padding: 0; width: 100%; }
.slick-dots li { position: relative; display: inline-block; height: 20px; width: 20px; margin: 0 5px; padding: 0; cursor: pointer; }
.slick-dots li button { border: 0; background: transparent; display: block; height: 20px; width: 20px; outline: none; line-height: 0; font-size: 0; color: transparent; padding: 5px; cursor: pointer; }
.slick-dots li button:hover, .slick-dots li button:focus { outline: none; }
.slick-dots li button:hover:before, .slick-dots li button:focus:before { opacity: 1; }
.slick-dots li.slick-active button:before { color: black; opacity: 0.75; }

/* 其他------- */
/*lazy 圖片等比縮放*/
.slick-list .image img { display: block; }
.slick-list.slick-loading .image img { display: none; }
.slick-list.dragging .image img { pointer-events: none; }

.slick-list .image{padding:10px;}
.slick-list .image img{border:5px solid #FFF;display:block;width:100%;}
.slick-list .image img.slick-loading{border:0 }
.slick-listr{margin:30px auto 50px;}

/*Fade 大圖等比縮放*/
.imgfade{
	width:60%;
	margin:auto;
}
/*Fade2 大圖等比縮放*/
.imgfadeResize{
	width:60%;
	margin:auto;
}
.imgfadeResize .slick-list{
	height:300px;
}
/*Fade2 大圖等比縮放*/
.imgfadeResizeA{
	width:60%;
	margin:auto;
}
.imgfadeResizeA .slick-list a{
	height:300px;
	position:relative;
	display:block;
}

.noSlider .slick-list{
	text-align:center;
	
}
.noSlider .slick-list .slick-track {
	left:inherit;
	display:inline-block;
}