@import "_config.scss";

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$font-family-sans-serif: -apple-system,
Microsoft JhengHei,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";

$colors: ();
$colors: map-merge(( "blue": $blue, "indigo": $indigo, "purple": $purple, "pink": $pink, "red": $red, "orange": $orange, "yellow": $yellow, "green": $green, "teal": $teal, "cyan": $cyan, "white": $white, "gray": $gray-600, "gray-dark": $gray-800, "main": $red, "default": $gray, ), $colors);
$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;
$theme-colors: ();
$theme-colors: map-merge(( "primary": $primary, "secondary": $secondary, "success": $success, "info": $info, "warning": $warning, "danger": $danger, "light": $light, "dark": $dark, "main": $main, "default": $gray), $theme-colors);
// Spacing
$sizes: ();
$sizes: map-merge((
    3: 3%,  
    5: 5%,  
  10: 10%,
  15: 15%,
  20: 20%,
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
), $sizes);
// Breadcrumbs
$breadcrumb-bg: none;
$breadcrumb-active-color: $main-color;
// Options
//$enable-rounded:                    false ;
// Components
$component-active-bg: theme-color("main");
$line-height-sm:              1.5;
// Forms
$custom-control-indicator-bg: $white;
$custom-control-indicator-checked-disabled-bg: rgba(theme-color("main"), .5);
$custom-file-text: ( en: "Browse", tw: "瀏覽", );

$input-border-radius:       0;
$input-border-radius-lg:    0;
$input-border-radius-sm:    0;
$custom-checkbox-indicator-border-radius: 0;
$progress-border-radius:  0;
$custom-file-border-radius: 0;
$custom-select-border-radius: 0;
$btn-border-radius: 0;
$btn-border-radius-lg:  0;
$btn-border-radius-sm:  0;
$input-border-color:                   $gray;
// Modals
$modal-lg: 1400px;
$modal-md: 800px;
$modal-sm: 500px;


// List group
$list-group-border-radius:         0;
// Paragraphs

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  bg: 1600px
)


