﻿@model Web.ViewModel.LoginViewModel
<div class="mainbox">
    @using (Html.BeginForm("Forget", "Login", FormMethod.Post, new { @class = "wrap" }))
    {
        @*@Html.AntiForgeryToken()*@
        <h1 class="wrap__title fz22 fwb tac">
            晨悅預防醫學機構-晨悅診所 忘記密碼
        </h1>
        <div class="wrap__body fz15">
            <div class="wrap__row">
                <div class="wrap__item">
                    @Html.TextBoxFor(x => x.Forget_PostViewModel.phone, new { type = "tel", placeholder = "請輸入手機號碼", required = "required" })
                </div>
                <p class="wrap__note">系統將發送簡訊驗證碼至您的手機</p>
            </div>
            <div class="wrap__row login__buttons">
                <button class="btn__login" type="submit">送出</button>
            </div>
        </div>
    }
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            if ('@ViewBag.Status' == 'fail') {
                swal({
                    title: "系統資訊",
                    text: "您輸入的號碼與診所資料不同, 請聯絡客服 04-22552555 分機 #168 ,變更您的手機號碼,謝謝您",
                    icon: "warning",
                    type: "warning",
                    showCancelButton: false,
                    confirmButtonText: "確定",
                    closeOnConfirm: false
                }).then(function () {
                     window.location.href = "@Url.Action("Index", "Login")";
                });
            }
        });
    </script>
}