﻿@model Web.ViewModel.LoginViewModel
<div class="mainbox">
    @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "wrap" }))
    {
        @*@Html.AntiForgeryToken()*@
        <h1 class="wrap__title fz22 fwb tac">
            晨悅預防醫學機構-晨悅診所 會員登入
        </h1>
        <div class="wrap__body fz15">
            <div class="wrap__row">
                <div class="wrap__item">
                    @Html.TextBoxFor(x => x.Login_PostViewModel.usernumber, new { placeholder = "請輸入身分證字號或護照號碼", autocomplete = "off", Value = "" })
                </div>
            </div>
            <div class="wrap__row login__birth">
                <span class="tac">生日</span>
                <div class="wrap__item">
                    @Html.DropDownListFor(x => x.Login_PostViewModel.year, (IEnumerable<SelectListItem>)ViewBag.year, "年", new { auocomplete = "off", id = "SelectYear", })
                </div>
                <div class="wrap__item">
                    @Html.DropDownListFor(x => x.Login_PostViewModel.month, (IEnumerable<SelectListItem>)ViewBag.month, "月", new { auocomplete = "off", id = "SelectMonth" })
                </div>
                <div class="wrap__item">
                    @Html.DropDownListFor(x => x.Login_PostViewModel.day, new SelectList(string.Empty), "日", new { auocomplete = "off", id = "SelectDay" })
                </div>
            </div>
            <div class="wrap__row">
                <div class="wrap__item">
                    @*<input type="password" placeholder="密碼">*@
                    @Html.PasswordFor(x => x.Login_PostViewModel.password, new { placeholder = "密碼", required = "required" })
                </div>
            </div>
            <div class="wrap__row">
                <div class="wrap__item wrap__item__verify">
                    <input type="text" maxlength="5" autocomplete="off" name="verification" id="verification" required="required" placeholder="驗證碼">
                    <div class="captcha-img verify">
                        <img id="captcha" onclick="reloadCaptcha()" src="@Url.Content("~/Content/BuildCaptcha.aspx")" />
                    </div>
                </div>
            </div>
            <div class="wrap__row login__buttons">
                <button class="btn__login" type="submit">確定登入</button>
                <a class="btn__login first" href="@Url.Action("Forget", "Login")">忘記密碼</a>
                <a class="btn__login first" href="@Url.Action("Phone", "Login")">首次登入</a>
            </div>
        </div>
        if (TempData["phonealert"] != null)
        {
            <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["phonealert"]));
        alert(message);
            </script>
        }
    }
    </div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            if ('@ViewBag.selectyear' != '' && '@ViewBag.selectmonth' != '') {
               GetDay('@ViewBag.selectyear', '@ViewBag.selectmonth');
            }


                if ('@ViewBag.Status' == "checkcode_error") {
                    swal({
                        title: "系統資訊",
                        text: "登入失敗，驗證碼錯誤。",
                        icon: "error",
                        type: "error",
                        showCancelButton: false,
                        confirmButtonText: "確定",
                        closeOnConfirm: false
                    });
                }
                else if ('@ViewBag.Status' == "input_error") {
                    swal({
                        title: "系統資訊",
                        text: "登入失敗，請確認欄位是否填寫。",
                        icon: "error",
                        type: "error",
                        showCancelButton: false,
                        confirmButtonText: "確定",
                        closeOnConfirm: false
                    });
                }
        });

        //重製驗證碼
        function reloadCaptcha() {
            $('#captcha').attr('src', $('#captcha').attr('src') + "?d=" + Date.now());
        }

        //變更年月時重新取得天數
         $("#SelectYear,#SelectMonth").change(function () {
            var year = $("#SelectYear option:selected").val();
            var month = $("#SelectMonth option:selected").val();

             if (year != null && month != null) {
                GetDay(year, month);
            }
        });

        //取得當月的天數
    function GetDay(year, month) {
            $.ajax({
                url: '@Url.Action("GetDay", "Login")',
                data: { year: year, month: month },
                type: 'POST',
                success: function (data) {
                    var list = data.list;
                    var toAppend = '<option selected="selected" value="">日</option>'
                    $.each(list, function (index, value) {
                        toAppend += '<option value=' + value.Value + '>' + value.Text + '</option>';
                    });
                    $("#SelectDay").empty();
                    $("#SelectDay").append(toAppend);

                }
            });
        }
    </script>
}