﻿@model Web.ViewModel.LoginViewModel
<div class="mainbox">
    @using (Html.BeginForm("Password", "Login", FormMethod.Post, new { @class = "wrap" }))
    {
        @*@Html.AntiForgeryToken()*@
        <h1 class="wrap__title fz22 fwb tac">
            晨悅預防醫學機構-晨悅診所 會員登入
        </h1>
        <div class="wrap__body fz15">
            <h2 class="wrap__subtitle">請設定密碼</h2>
            <div class="wrap__row">
                <div class="wrap__item">
                    @*<input type="password" placeholder="請輸入密碼">*@
                    @Html.PasswordFor(x=> x.Password_PostViewModel.password, new { placeholder = "請輸入密碼", required = "required" })
                </div>
            </div>
            <div class="wrap__row">
                <div class="wrap__item">
                    @*<input type="password" placeholder="請再次輸入密碼">*@
                    @Html.PasswordFor(x=> x.Password_PostViewModel.password_confirm, new { placeholder = "請再次輸入密碼", required = "required" })
                </div>
            </div>
            <div class="wrap__row login__buttons">
                @*<a class="btn__login" href="/">確定送出</a>*@
                <button class="btn__login" type="submit">確定送出</button>
            </div>
        </div>
    }
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            if ('@ViewBag.Status' == 'success') {
                swal({
                    title: "系統資訊",
                    text: "密碼設定成功，請重新登入",
                    icon: "success",
                    type: "success",
                    showCancelButton: false,
                    confirmButtonText: "確定",
                    closeOnConfirm: true
                }).then(function () {
                    window.location.href = "@Url.Action("Index", "Login")";
                });
            }
            else if ('@ViewBag.Status' == 'input_error') {
                swal({
                    title: "系統資訊",
                    text: "請檢查欄位是否輸入正確",
                    icon: "error",
                    type: "error",
                    showCancelButton: false,
                    confirmButtonText: "確定",
                    closeOnConfirm: false
                });
            }
            else if ('@ViewBag.Status' == 'session_error')
            {
                swal({
                    title: "系統資訊",
                    text: "手機號碼並無對應的帳號",
                    icon: "error",
                    type: "error",
                    showCancelButton: false,
                    confirmButtonText: "確定",
                    closeOnConfirm: false
                });
            }
            else if ('@ViewBag.Status' == 'error') {
                swal({
                    title: "系統資訊",
                    text: "驗證碼錯誤",
                    icon: "error",
                    type: "error",
                    showCancelButton: false,
                    confirmButtonText: "確定",
                    closeOnConfirm: false
                });
            }
        });
    </script>    
    }