﻿@model Web.ViewModel.LoginViewModel
<div class="mainbox">
    @using (Html.BeginForm("Verification", "Login", FormMethod.Post, new { @class = "wrap" }))
    {
        @*@Html.AntiForgeryToken()*@
        <h1 class="wrap__title fz22 fwb tac">
            晨悅預防醫學機構-晨悅診所 會員登入
        </h1>
        <div class="wrap__body fz15">
            <div class="wrap__row">
                <div class="wrap__item">
                    @Html.TextBoxFor(x=> x.Verification_PostViewModel.code , new { placeholder = "請輸入簡訊驗證碼", required="required" })
                </div>
                <p class="wrap__note">剩餘時間<span id="timer" class="timer"></span></p>
            </div>
            <div class="wrap__row login__buttons">
                <button id="submit" type="submit" class="btn__login">送出</button>
                <button type="button" class="btn__login first" onclick="location.href='@Url.Action("Phone", "Login")'">重新寄送驗證碼</button>
            </div>
        </div>
    }
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@section scripts{
    <script type="text/javascript">      
        $(document).ready(function () {
            if ('@ViewBag.Error' == 'code_error') {               
                swal({
                    title: "系統資訊",
                    text: "驗證碼錯誤",
                    icon: "error",
                    type: "error",
                    showCancelButton: false,
                    confirmButtonText: "確定",
                    closeOnConfirm: false
                });
            }
            else if ('@ViewBag.Error' == 'error') {
                swal({
                    title: "系統資訊",
                    text: "系統發生錯誤，請聯繫晨悅",
                    icon: "error",
                    type: "error",
                    showCancelButton: false,
                    confirmButtonText: "確定",
                    closeOnConfirm: false
                });
            }
        }); 

        function countdown(elementName, minutes, seconds) {
            var element, endTime, hours, mins, msLeft, time;

            function twoDigits(n) {
                return (n <= 9 ? "0" + n : n);
            }

            function updateTimer() {
                msLeft = endTime - (+new Date);
                if (msLeft < 1000) {
                    element.innerHTML = "已結束，請點選重新寄送驗證碼";
                    $("#submit").css('display', 'none');
                } else {
                    time = new Date(msLeft);
                    hours = time.getUTCHours();
                    mins = time.getUTCMinutes();
                    element.innerHTML = (hours ? hours + ':' + twoDigits(mins) : mins) + ':' + twoDigits(time.getUTCSeconds());
                    setTimeout(updateTimer, time.getUTCMilliseconds() + 500);
                }
            }

            element = document.getElementById(elementName);
            endTime = (+new Date) + 1000 * (60 * minutes + seconds) + 500;
            updateTimer();
        }

        countdown("timer", 10, 0);
    </script>    
}