﻿<a class="btn btn-outline-default btn-sm" role="button" aria-pressed="true" title="下載" href="{$downloadUrl}" {$downloadHide}><i class="icon-download"></i><span class="text-hide">下載</span></a>
<a class="btn btn-outline-default btn-sm" role="button" aria-pressed="true" title="瀏覽" href="{$viewUrl}" target="_blank" {$viewHide}><i class="icon-eye"></i><span class="text-hide">瀏覽</span></a>


{$index_view_url}
<a class="btn btn-outline-default btn-sm" role="button" aria-pressed="true" title="編輯" href="{$editUrl}" {$editHide}><i class="icon-pencil"></i><span class="text-hide">編輯</span></a>
<a class="btn btn-outline-default btn-sm" role="button" aria-pressed="true" title="列印" href="{$printUrl}" target="_blank" {$printHide}><i class="icon-printer-text"></i><span class="text-hide">列印</span></a>
<a class="btn btn-outline-default btn-sm changeStatus" data-guid="{$guid}" data-title="{$title}" data-type="re" title="還原" href="#1" role="button" {$reHide}><i class="icon-reload"></i><span class="text-hide">還原</span></a>
<a class="btn btn-outline-default btn-sm changeStatus" data-guid="{$guid}" data-title="{$title}" data-type="del" title="刪除" href="#1" role="button" {$delHide}><i class="icon-trash"></i><span class="text-hide">刪除</span></a>
