﻿<div class="text-nowrap small"> 提問:<a class="badge badge-pill badge-primary ml-2 t-d-none" href="{$urlAsk}">{$ask}</a></div>
<div class="text-nowrap small"> 回覆:<a class="badge badge-pill badge-primary ml-2 t-d-none" href="{$urlReply}">{$comment}</a></div>
<div class="text-nowrap small"> 瀏覽:<span class="badge badge-pill badge-primary ml-2">{$look}</span></div>
<div class="text-nowrap small"> 按讚:<span class="badge badge-pill badge-primary ml-2">{$thumbsup}</span></div>

