﻿@model Web.ViewModel.HomeViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]> <html class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="zh">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@Model.WebData_ViewModel.title</title>
    <meta name="author" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="~/Content/styles/images/ico.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/style_pdf.css">
    <!--[if lt IE 9]>
    <script src="scripts/default/html5shiv.min.js"></script>
    <script src="scripts/default/respond.min.js"></script>
    <![endif]-->
    <style>
        .sub {
            font-size: 15px;
        }
    </style>
</head>

<body>
    <article class="report reportPrint">
        <!--==========================================================================
                    * page-front 封面
        ==========================================================================-->
        <section class="print-Box A4-nomodify" id="page-front">
            <div class="mobilebg hide-t-up"></div>
            <div class="title">
                <img src="~/Content/styles/images/logo.png" alt="晨悅預防醫學機構">
                <h1 id="test">健康檢查報告書</h1>
                <h2>健康人生 攜手晨悅</h2>
            </div>
            <div class="txt fz20 hide-t-under">
                @*<p>諮詢專線:<strong> @Model.WebData_ViewModel.service_line</strong></p>
                    <p>掛號專線:<strong> @Model.WebData_ViewModel.registered_line</strong></p>
                    <p>網路掛號:<strong> @Model.WebData_ViewModel.network_registration</strong></p>*@
                <p>客服專線:<strong>04-22552555#168</strong></p>
                <p>晨悅官網:<strong>www.mornjoy.com.tw</strong></p>
            </div>
        </section>
        <!--==========================================================================
            * page - body 人體模型
        ==========================================================================-->
        <section class="print-Box A4-nomodify" id="page-body">
            <div class="txt fz16 hide-t-up noprint">
                @*<p>諮詢專線:<strong> @Model.WebData_ViewModel.service_line</strong></p>
                    <p>掛號專線:<strong> @Model.WebData_ViewModel.registered_line</strong></p>
                    <p>網路掛號:<strong> @Model.WebData_ViewModel.network_registration</strong></p>*@
                <p>客服專線:<strong>04-22552555#168</strong></p>
                <p>晨悅官網:<strong>www.mornjoy.com.tw</strong></p>
            </div>
            <div class="headerbox">
                <div class="title">
                    系統總覽<p>System Overview</p>
                </div>
                <div class="sub">以器官系統性的分類，顯示異常項目的數量與嚴重度，以幫助您對自已的身體健康狀態，有完整的了解。</div>
            </div>
            <div class="main">
                <div class="inner">
                    <div class="leftbox">
                        @{
                            var num_left = 1;
                        }
                        @foreach (var item in Model.SystemOverview_Left_ViewModel)
                        {
                            <div class="box @Html.Raw("left" + num_left)">
                                @item.Key
                                <p>@item.Value 項異常</p>
                            </div>
                            num_left++;
                        }
                    </div>
                    <div class="rightbox">
                        @{
                            var num_right = 1;
                        }
                        @foreach (var item in Model.SystemOverview_Right_ViewModel)
                        {
                            <div class="box @Html.Raw("right" + num_right)">
                                @item.Key
                                <p>@item.Value 項異常</p>
                            </div>
                            num_right++;
                        }
                    </div>
                    <div class="dollbody"><img src="~/Content/styles/images/males.png" alt=""></div>
                </div>
            </div>
        </section>
        <!--==========================================================================
            * page - catalog 目錄
        ==========================================================================-->
        <section class="print-Box A4-nomodify hide-t-under" id="page-catalog">
            @{
                var menu_number = 1;
            }
            <div class="headerbox">目錄</div>
            <div class="main">
                <div class="list">
                    @if (Model.BasicAssessment_ViewModel != null)
                    {
                        <div class="title">@menu_number.ToString("00") - 基礎評估<a href="#Assessment"><span class="pagenum" title="Assessment"></span></a></div>
                        menu_number++;
                    }

                    @if (Model.Abnormality_ViewModel != null)
                    {
                        <div class="title">@menu_number.ToString("00") - 異常清單<a href="#Suggestions"><span class="pagenum" title="Suggestions"></span></a></div>
                        menu_number++;
                    }

                    @if (Model.Physical_ViewModel != null)
                    {
                        <div class="title">@menu_number.ToString("00") - 理學檢查<a href="#PhysicalExamination"><span class="pagenum" title="PhysicalExamination"></span></a></div>
                        menu_number++;
                        foreach (var item in Model.Physical_ViewModel)
                        {
                            <div class="subtitle"><span class="sub">@item.Key<a href="#@item.Key"><span class="pagenum" title="@item.Key"></span></a></div>
                        }
                    }

                    @if (Model.Examine_ViewModel != null)
                    {

                        <div class="title">@menu_number.ToString("00") - 檢驗<a href="#Examine"><span class="pagenum" title="Examine"></span></a></div>
                        menu_number++;
                        foreach (var item in Model.Examine_ViewModel)
                        {
                            <div class="subtitle"><span class="sub">@item.Key<a href="#@item.Key"><span class="pagenum" title="@item.Key"></span></a></div>

                        }
                    }

                    @if (ViewBag.ImagingData >= 1)
                    {
                        <div class="title">@menu_number.ToString("00") - 影像檢查<a href="#Imaging"><span class="pagenum" title="Imaging"></span></a></div>
                        menu_number++;
                        @*超音波*@
                        if (Model.Ultrasound_ViewModel != null && Model.Ultrasound_ViewModel.Count() != 0)
                        {
                            <div class="subtitle"><span class="sub">超音波</span><a href="#Ultrasound"><span class="pagenum" title="Ultrasound"></span></a></div>
                            menu_number++;
                            foreach (var item in Model.Ultrasound_ViewModel)
                            {
                                <div class="item"><span class="sub">@item.name</span><a href="#@item.itemno"><span class="pagenum" title="@item.itemno"></span></a></div>
                            }
                        }

                        @*數位斷層合成掃描*@
                        if (Model.Digital_ViewModel != null && Model.Digital_ViewModel.Count() != 0)
                        {
                            <div class="subtitle"><span class="sub">數位斷層合成掃描</span><a href="#Digital"><span class="pagenum" title="Digital"></span></a></div>
                            menu_number++;
                            foreach (var item in Model.Digital_ViewModel)
                            {
                                <div class="item"><span class="sub">@item.name</span><a href="#@item.itemno"><span class="pagenum" title="@item.itemno"></span></a></div>

                            }
                        }

                        @*胸部能量減影*@
                        if (Model.ChestDualEnergy_ViewModel != null && Model.ChestDualEnergy_ViewModel.Count() != 0)
                        {
                            <div class="subtitle"><span class="sub">胸部能量減影</span><a href="#ChestDualEnergy"><span class="pagenum" title="ChestDualEnergy"></span></a></div>
                            menu_number++;
                            foreach (var item in Model.ChestDualEnergy_ViewModel)
                            {
                                <div class="item"><span class="sub">@item.name</span><a href="#@item.itemno"><span class="pagenum" title="@item.itemno"></span></a></div>
                            }
                        }

                        @*一般X光*@
                        if (Model.Xray_ViewModel != null && Model.Xray_ViewModel.Count() != 0)
                        {
                            <div class="subtitle"><span class="sub">一般X光</span><a href="#Xray"><span class="pagenum" title="Xray"></span></a></div>
                            menu_number++;
                            foreach (var item in Model.Xray_ViewModel)
                            {
                                <div class="item"><span class="sub">@item.name</span><a href="#@item.itemno"><span class="pagenum" title="@item.itemno"></span></a></div>
                                menu_number++;
                            }
                        }

                        @*三連片*@
                        if (Model.Triple_ViewModel != null && Model.Triple_ViewModel.Count() != 0)
                        {
                            <div class="subtitle"><span class="sub">三連片</span><a href="#Triple"><span class="pagenum" title="Triple"></span></a></div>
                            menu_number++;
                            foreach (var item in Model.Triple_ViewModel)
                            {
                                <div class="item"><span class="sub">@item.name</span><a href="#@item.itemno"><span class="pagenum" title="@item.itemno"></span></a></div>
                                menu_number++;
                            }
                        }

                        @*內視鏡*@
                        if (Model.Endoscope_ViewModel != null && Model.Endoscope_ViewModel.Count() != 0)
                        {
                            <div class="subtitle"><span class="sub">內視鏡</span><a href="#Endoscope"><span class="pagenum" title="Endoscope"></span></a></div>
                            menu_number++;
                            foreach (var item in Model.Endoscope_ViewModel)
                            {
                                <div class="item"><span class="sub">@item.name</span><a href="#@item.itemno"><span class="pagenum" title="@item.itemno"></span></a></div>
                                menu_number++;
                            }
                        }

                        @*身體組成分析*@
                        if (Model.Body_ViewModel != null && Model.Body_ViewModel.Count() != 0)
                        {

                            <div class="subtitle"><span class="sub">身體組成分析</span><a href="#Body"><span class="pagenum" title="Body"></span></a></div>
                            menu_number++;
                            foreach (var item in Model.Body_ViewModel)
                            {
                                <div class="item"><span class="sub">@item.name</span><a href="#@item.itemno"><span class="pagenum" title="@item.itemno"></span></a></div>
                                menu_number++;
                            }
                        }

                        @*心電圖*@
                        if (Model.Electrocardiogram_ViewModel != null && Model.Electrocardiogram_ViewModel.Count() != 0)
                        {
                            <div class="subtitle"><span class="sub">心電圖</span><a href="#Electrocardiogram"><span class="pagenum" title="Electrocardiogram"></span></a></div>
                            menu_number++;
                            foreach (var item in Model.Electrocardiogram_ViewModel)
                            {
                                <div class="item"><span class="sub">@item.name</span><a href="#@item.itemno"><span class="pagenum" title="@item.itemno"></span></a></div>
                                menu_number++;
                            }
                        }

                        @*自律神經檢查*@
                        if (Model.Autonomic_ViewModel != null && Model.Autonomic_ViewModel.Count() != 0)
                        {
                            <div class="subtitle"><span class="sub">自律神經檢查</span><a href="#Autonomic"><span class="pagenum" title="Autonomic"></span></a></div>
                            menu_number++;
                            foreach (var item in Model.Autonomic_ViewModel)
                            {
                                <div class="item"><span class="sub">@item.name</span><a href="#@item.itemno"><span class="pagenum" title="@item.itemno"></span></a></div>
                                menu_number++;
                            }
                        }

                        @*眼底攝影*@
                        if (Model.Fundus_ViewModel != null && Model.Fundus_ViewModel.Count() != 0)
                        {
                            <div class="subtitle"><span class="sub">眼底攝影</span><a href="#Fundus"><span class="pagenum" title="Fundus"></span></a></div>
                            menu_number++;
                            foreach (var item in Model.Fundus_ViewModel)
                            {
                                <div class="item"><span class="sub">@item.name</span><a href="#@item.itemno"><span class="pagenum" title="@item.itemno"></span></a></div>
                                menu_number++;
                            }
                        }
                    }

                    @if (Model.Other_ViewModel != null && Model.Other_ViewModel.Count() != 0)
                    {

                        <div class="title">@menu_number.ToString("00") - 其他檢查<a href="#Other"><span class="pagenum" title="Other"></span></a></div>
                        menu_number++;
                        foreach (var item in Model.Other_ViewModel)
                        {
                            <div class="subtitlt"><span class="sub">@item.Key</span><a href="#@item.Key"><span class="pagenum" title="@item.Key"></span></a></div>
                            menu_number++;
                            foreach (var data in item.Value)
                            {
                                <div class="item"><span class="sub">@data.name</span><a href="#@data.itemno"><span class="pagenum" title="@data.itemno"></span></a></div>
                            }
                        }
                    }
                </div>
            </div>
        </section>

        <!-- 單元標頭使用者資訊(隱藏模板) -->
        <div class="head-template">
            <div class="block">
                <img class="head__logo" src="~/Content/styles/images/logo-inner.png" alt="晨悅預防醫學機構">
            </div>
            <div class="block">
                <ul class="ul-reset">
                    <li>姓名：<span>@Model.QueryCustome_ViewModel.name</span></li>
                    <li>性別：<span>@Html.Raw(Model.QueryCustome_ViewModel.sex + "性")</span></li>
                </ul>
            </div>
            <div class="block">
                <ul class="ul-reset">
                    <li>出生年月日：<span>@Model.QueryCustome_ViewModel.birthday</span></li>
                    <li>年齡：<span>@Html.Raw(Model.QueryCustome_ViewModel.age + "歲")</span></li>
                </ul>
            </div>
            <div class="block">
                <ul class="ul-reset">
                    <li>身分證字號：<span>@Model.QueryCustome_ViewModel.user_id</span></li>
                    <li>體檢編號：<span>@Model.QueryCustome_ViewModel.chart</span></li>
                </ul>
            </div>
            <div class="block">
                <ul class="ul-reset">
                    <li>體檢日期：<span>@Model.QueryCustome_ViewModel.checkdate</span></li>
                </ul>
            </div>
        </div>

        <!--==========================================================================
        * page - content 內容
        ==========================================================================-->
        <div class="contentpage">
            @{
                var number = 1;
            }
            <!--page 內頁 -->
            <!--基本資訊-->
            <section class="print-Box page page-1" title="1.基本資料">
                <div class="A4" id="Assessment">
                    <div class="head"></div>
                    <div class="header header-1">
                        <div class="num">01</div>
                        <h2 class="fz30">基本資料<span class="fz20">Basic Assessment</span></h2>
                    </div>
                    <p class="fz19 mb20 mt50">總評醫師綜合所有檢驗數據及影像檢查結果，為您詳細列出本次健檢所發現的異常項目，提供完整的異常清單及建議事項。(模擬文案)</p>
                    <div>
                        <div class="grid_left pageb">
                            <div class="title">個人基本資料</div>
                            <div class="tabelList terra">
                                <div class="tr">
                                    <div class="td left">姓名</div>
                                    <div class="td right">@Model.BasicAssessment_ViewModel.name</div>
                                </div>
                                <div class="tr">
                                    <div class="td left">出生年月日</div>
                                    <div class="td right">@Model.BasicAssessment_ViewModel.birthday</div>
                                </div>
                                <div class="tr">
                                    <div class="td left">年齡</div>
                                    <div class="td right">@Model.BasicAssessment_ViewModel.age</div>
                                </div>
                                <div class="tr">
                                    <div class="td left">性別</div>
                                    <div class="td right">@Model.BasicAssessment_ViewModel.sex</div>
                                </div>
                            </div>
                        </div>
                        <div class="grid_right pageb">
                            <div class="title">體檢資料</div>
                            <div class="tabelList terra">
                                <div class="tr">
                                    <div class="td left">身份證字號</div>
                                    <div class="td right">@Model.BasicAssessment_ViewModel.user_id</div>
                                </div>
                                <div class="tr">
                                    <div class="td left">體檢號</div>
                                    <div class="td right">@Model.BasicAssessment_ViewModel.chart</div>
                                </div>
                                <div class="tr">
                                    <div class="td left">體檢日期</div>
                                    <div class="td right">@Model.BasicAssessment_ViewModel.checkdate</div>
                                </div>
                                <div class="tr">
                                    <div class="td left">&ensp;</div>
                                    <div class="td right">&ensp;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="title grid">問診資訊</div>
                    <table class="tabelList">
                        <tr class="tr">
                            <td class="td left">自覺症狀</td>
                            <td class="td right">@(!string.IsNullOrEmpty(Model.BasicAssessment_ViewModel.chiefcomplaint) ? Model.BasicAssessment_ViewModel.chiefcomplaint : "無")</td>
                        </tr>
                        <tr class="tr">
                            <td class="td left">過去病史</td>
                            <td class="td right">@(!string.IsNullOrEmpty(Model.BasicAssessment_ViewModel.pasthistory) ? Model.BasicAssessment_ViewModel.pasthistory : "無")</td>
                        </tr>
                        <tr class="tr">
                            <td class="td left">生活習慣</td>
                            <td class="td right">@(!string.IsNullOrEmpty(Model.BasicAssessment_ViewModel.livinghabit) ? Model.BasicAssessment_ViewModel.livinghabit : "無")</td>
                        </tr>
                    </table>
                    <div class="text-right" style="margin-top: 55px">
                        <img src="~/Content/styles/images/stamp.jpg" alt="">
                    </div>
                </div>
            </section>

            <!--異常清單&建議事項-->
            @if (Model.Abnormality_ViewModel != null)
            {
                number++;
                <section class="print-Box page page-2" id="@number++" title="@Html.Raw(number + " .異常清單&建議事項")">
                    <div class="A4" id="Suggestions">
                        <div class="head">
                        </div>
                        <div class="header header-2">
                            <div class="num">@number.ToString("00")</div>
                            <h2 class="fz30">異常清單&建議事項<span class="fz20">Abnormality List & Suggestions</span></h2>
                        </div>
                        <p class="item__descript fz19 mt50">總評醫師綜合所有檢驗數據及影像檢查結果，為您詳細列出本次健檢所發現的異常項目，提供完整的異常清單及建議事項。</p>
                        <table class="tabelList row-4">
                            <thead>
                                <tr>
                                    <th class="name">項目</th>
                                    <th class="num">數值</th>
                                    <th class="num">參考值</th>
                                    <th class="suggest">建議事項</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Abnormality_ViewModel)
                                {
                                    <tr>
                                        <td data-th="項目">@item.name</td>
                                        @if (string.IsNullOrEmpty(item.reference) && string.IsNullOrEmpty(item.suggest))
                                        {
                                            <td class="td-full" colspan="3" data-th="數值"><span style="color:red;">@Html.Raw(item.value)</span></td>
                                        }
                                        else
                                        {
                                            <td data-th="數值"><span style="color:red;">@item.value</span></td>
                                            <td data-th="參考值">@item.reference</td>
                                            <td data-th="建議事項">@item.suggest</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </section>
            }

            <!--理學檢查-->
            @if (Model.Physical_ViewModel != null)
            {
                number++;
                <section class="print-Box page page-3" id="@number" title="@Html.Raw(number + ".理學檢查")">
                    <div class="A4" id="PhysicalExamination">
                        <div class="head">
                        </div>
                        <div class="header header-3">
                            <div class="num">@number.ToString("00")</div>
                            <h2 class="fz30">理學檢查<span class="fz20">Physical Examination</span></h2>
                        </div>
                        <p class="fz19 mt50"></p>
                        @foreach (var item in Model.Physical_ViewModel)
                        {
                            <div class="item__title pagenumber fz35 fwb" id="@item.Key"><span>@item.Key</span></div>
                            <p class="item__descript fz19"></p>
                            <table class="tabelList row-3">
                                <tr>
                                    <th class="name">項目</th>
                                    <th class="num">數值</th>
                                    <th class="suggest">參考值</th>
                                </tr>
                                @foreach (var data in item.Value)
                                {
                                    <tr>
                                        <td data-th="項目">@data.name</td>
                                        @if (data.err == "true")
                                        {
                                            <td data-th="數值"><span style="color:red;">@data.value</span></td>
                                        }
                                        else
                                        {
                                            <td data-th="數值">@data.value</td>
                                        }
                                        <td data-th="參考值">@data.reference</td>
                                    </tr>
                                }
                            </table>
                        }
                    </div>
                </section>
            }

            <!--檢驗-->
            @if (Model.Examine_ViewModel != null)
            {
                number++;
                <section class="print-Box page page-4" id="@number" title="@Html.Raw(number + ".檢驗")">
                    <div class="A4" id="Examine">
                        <div class="head">
                        </div>
                        <div class="header header-4">
                            <div class="num">@number.ToString("00")</div>
                            <h2 class="fz30">檢驗<span class="fz20">Examine</span></h2>
                        </div>
                        <p class="fz19 mt50"></p>

                        @foreach (var item in Model.Examine_ViewModel)
                        {
                            <div class="item__title pagenumber fz35 fwb" id="@item.Key"><span>@item.Key</span></div>
                            <p class="item__descript fz19"></p>
                            <table class="tabelList row-3">
                                <tr>
                                    <th class="name">項目</th>
                                    <th class="num">數值</th>
                                    <th class="suggest">參考值</th>
                                </tr>
                                @foreach (var Dataitem in item.Value)
                                {
                                    <tr>
                                        <td data-th="項目">@Dataitem.name</td>
                                        @if (Dataitem.err == "true")
                                        {
                                            <td data-th="數值"><span style="color:red;">@Dataitem.value</span></td>
                                        }
                                        else
                                        {
                                            <td data-th="數值">@Dataitem.value</td>
                                        }
                                        <td data-th="參考值">@Dataitem.reference</td>
                                    </tr>
                                }
                            </table>
                        }
                    </div>
                </section>
            }

            <!--影像檢查-->
            @if (ViewBag.ImagingData >= 1)
            {
                number++;
                <section class="print-Box page page-5" id="@number" title="@Html.Raw(number + ".影像檢查")">
                    <div class="A4" id="Imaging">
                        <div class="head"></div>
                        <div class="header header-5">
                            <div class="num">@number.ToString("00")</div>
                            <h2 class="fz30">影像檢查<span class="fz20">Image Study</span></h2>
                        </div>

                        @* 超音波 *@
                        @if (Model.Ultrasound_ViewModel != null && Model.Ultrasound_ViewModel.Count != 0)
                        {
                            @* 超音波 *@
                            <div class="item__title pagenumber fz35 fwb" id="Ultrasound"><span>超音波</span></div>
                            <!-- 超音波項目資料 -->
                            foreach (var item in Model.Ultrasound_ViewModel)
                            {
                                if (item.itemno == 7010)
                                {
                                    <!--腹部超音波 影像數目:4*2 400*300-->
                                    <div class="title" style="margin-top:3%">腹部超音波</div>
                                    <p class="item__descript fz19">
                                        可檢查肝臟、膽囊、胰臟、脾臟、腎臟等器官是否有病變，如：脂肪肝、囊腫、血管瘤、瘜肉、膽結石或腎臟結石或腫塊等。
                                    </p>
                                }
                                else if (item.itemno == 7011)
                                {
                                    <!--攝護腺超音波 影像數目:3*1 600*400-->
                                    <div class="title" style="margin-top:3%">攝護腺超音波</div>
                                    <p class="item__descript fz19">
                                        可檢查攝護腺及膀胱是否有病變，如：囊腫、鈣化、良性攝護腺肥大等。
                                    </p>
                                }
                                else if (item.itemno == 7012)
                                {
                                    <!--乳房超音波 影像數目: 4 * 2 400 * 300-->

                                    <div class="title" style="margin-top:3%">乳房超音波</div>
                                    <p class="item__descript fz19">
                                        可檢查乳房是否有病變，如：纖維囊腫、腺瘤、腫瘤或腋下淋巴結腫大等。
                                    </p>
                                }
                                else if (item.itemno == 7092 && !Model.Ultrasound_ViewModel.Select(x => x.itemno).Contains(7012))
                                {
                                    <!--乳房超音波 影像數目: 4 * 2 400 * 300-->

                                    <div class="title" style="margin-top:3%">乳房超音波</div>
                                    <p class="item__descript fz19">
                                        可檢查乳房是否有病變，如：纖維囊腫、腺瘤、腫瘤或腋下淋巴結腫大等。
                                    </p>
                                }
                                else if (item.itemno == 7013)
                                {
                                    <!--骨盆腔超音波 影像數目:2*2 600*300-->
                                    <div class="title" style="margin-top:3%">骨盆腔超音波</div>
                                    <p class="item__descript fz19">
                                        骨盆腔超音波稱婦科超音波，可檢查子宮、卵巢等器官是否有病變，如：囊腫、子宮肌瘤、子宮內膜增厚、腫塊等。
                                    </p>
                                }
                                else if (item.itemno == 7014)
                                {
                                    <!--甲狀腺超音波 影像數目:3*2 400*300-->
                                    <div class="title" style="margin-top:3%">甲狀腺超音波</div>
                                    <p class="item__descript fz19">
                                        可檢查甲狀腺是否有病變，如：腫大、結節或鈣化等。
                                    </p>
                                }
                                else if (item.itemno == 7015)
                                {
                                    <!--頸動脈超音波 影像數目:4*2 400*300-->
                                    <div class="title" style="margin-top:3%">頸動脈超音波</div>
                                    <p class="item__descript fz19">
                                        可檢查頸總動脈及內頸動脈、外頸動脈血管內部是否有病變，如：鈣化、斑塊或動脈內膜-中層厚度(IMT)增厚等。
                                    </p>
                                }
                                else if (item.itemno == 7016)
                                {
                                    <!--心臟超音波 影像數目:4*2 400*300-->
                                    <div class="title" style="margin-top:3%">心臟超音波</div>
                                    <p class="item__descript fz19">
                                        可觀察心臟腔室的大小、心室的收縮與舒張功能、心肌有無受損、瓣膜異常的種類及嚴重程度、肺高壓、腔室內血流的異常與心包膜疾病。
                                        適應症: 1.心雜音2.瓣膜狹窄與逆流3.心包膜疾病4.冠狀動脈疾病5.心臟腫塊 6.肺高壓

                                    </p>
                                }

                                <table class="tabelList pagenumber row-2" id="@item.itemno">
                                    <tr>
                                        <th class="name">項目</th>
                                        <th class="num">判讀結果</th>
                                    </tr>
                                    <tr>
                                        <td data-th="項目">@item.name</td>
                                        <td data-th="判讀結果">@item.value</td>
                                    </tr>
                                </table>
                                if (item.pic != null)
                                {
                                    foreach (var piclist in item.pic)
                                    {
                                        var c = "";
                                        if (item.pic.Count > 1)
                                        {
                                            c = "pic-8";
                                        }
                                        else
                                        {
                                            if (piclist.Value.Count == 1)
                                            {
                                                c = "pic-1";
                                            }
                                            else if (piclist.Value.Count == 2)
                                            {
                                                c = "pic-2";
                                            }
                                            else if (piclist.Value.Count == 3)
                                            {
                                                c = "pic-3";
                                            }
                                            else if (piclist.Value.Count == 4)
                                            {
                                                c = "pic-4";
                                            }
                                            else if (piclist.Value.Count == 6)
                                            {
                                                c = "pic-6";
                                            }
                                            else if (piclist.Value.Count == 8)
                                            {
                                                c = "pic-8";
                                            }
                                            else
                                            {
                                                c = "pic-8";
                                            }
                                        }
                                        <div class="picgroup @c">
                                            @foreach (var pic in piclist.Value)
                                            {
                                                if (!string.IsNullOrEmpty(pic))
                                                {
                                                    <img src="@Url.Content("~/" + pic)" alt="">
                                                }
                                            }
                                        </div>
                                    }
                                }
                            }
                        }

                        @* 數位斷層 *@
                        @if (Model.Digital_ViewModel != null && Model.Digital_ViewModel.Count != 0)
                        {
                            @* 數位斷層合成掃描 *@
                            <div class="item__title pagenumber fz35 fwb" id="Digital"><span>數位斷層合成掃描</span></div>
                            <p>X光管球以弧形移動拍照，可藉由一次性攝影取得同部位不同深度的多張影像，提供醫師更多影像資訊做診斷。</p>

                            <!-- 數位斷層項目資料 -->
                            <p class="item__descript fz19"></p>
                            @*<table class="tabelList row-2">
                <tr>
                    <th class="name">項目</th>
                    <th class="num">判讀結果</th>
                </tr>
                @foreach (var item in Model.Digital_ViewModel)
                {
                    <tr class="pagenumber" id="@item.itemno">
                        <td data-th="項目">@item.name</td>
                        <td data-th="判讀結果">@item.value</td>
                    </tr>
                }
            </table>*@
                            foreach (var item in Model.Digital_ViewModel)
                            {
                                <table class="tabelList pagenumber row-2" id="@item.itemno">
                                    <tr>
                                        <th class="name">項目</th>
                                        <th class="num">判讀結果</th>
                                    </tr>

                                    <tr>
                                        <td data-th="項目">@item.name</td>
                                        <td data-th="判讀結果">@item.value</td>
                                    </tr>
                                </table>
                                if (item.pic != null)
                                {
                                    foreach (var piclist in item.pic)
                                    {
                                        var c = "";
                                        if (item.pic.Count > 1)
                                        {
                                            c = "pic-8";
                                        }
                                        else
                                        {
                                            if (piclist.Value.Count == 1)
                                            {
                                                c = "pic-1";
                                            }
                                            else if (piclist.Value.Count == 2)
                                            {
                                                c = "pic-2";
                                            }
                                            else if (piclist.Value.Count == 3)
                                            {
                                                c = "pic-3";
                                            }
                                            else if (piclist.Value.Count == 4)
                                            {
                                                c = "pic-4";
                                            }
                                            else if (piclist.Value.Count == 6)
                                            {
                                                c = "pic-6";
                                            }
                                            else if (piclist.Value.Count == 8)
                                            {
                                                c = "pic-8";
                                            }
                                            else
                                            {
                                                c = "pic-8";
                                            }
                                        }
                                        <div class="picgroup @c">
                                            @foreach (var pic in piclist.Value)
                                            {
                                                if (!string.IsNullOrEmpty(pic))
                                                {
                                                    <img src="@Url.Content("~/" + pic)" alt="">
                                                }
                                            }
                                        </div>
                                    }
                                }
                            }
                        }

                        @* 胸部能量減影 影像數目:3*1 *@
                        @if (Model.ChestDualEnergy_ViewModel != null && Model.ChestDualEnergy_ViewModel.Count != 0)
                        {
                            <div class="item__title pagenumber fz35 fwb" id="ChestDualEnergy"><span>胸部能量減影</span></div>
                            <p>胸部雙能量減影透過高低能量之X光技術，將骨頭及軟組織分離，避免病灶被遮蔽，較容易判斷肺部病灶位置。</p>
                            <p class="item__descript fz19"></p>
                            foreach (var item in Model.ChestDualEnergy_ViewModel)
                            {
                                <table class="tabelList pagenumber row-2" id="@item.itemno">
                                    <tr>
                                        <th class="name">項目</th>
                                        <th class="num">判讀結果</th>
                                    </tr>

                                    <tr>
                                        <td data-th="項目">@item.name</td>
                                        <td data-th="判讀結果">@item.value</td>
                                    </tr>
                                </table>
                                if (item.pic != null)
                                {
                                    foreach (var piclist in item.pic)
                                    {
                                        var c = "";
                                        if (item.pic.Count > 1)
                                        {
                                            c = "pic-8";
                                        }
                                        else
                                        {
                                            if (piclist.Value.Count == 1)
                                            {
                                                c = "pic-1";
                                            }
                                            else if (piclist.Value.Count == 2)
                                            {
                                                c = "pic-2";
                                            }
                                            else if (piclist.Value.Count == 3)
                                            {
                                                c = "pic-3";
                                            }
                                            else if (piclist.Value.Count == 4)
                                            {
                                                c = "pic-4";
                                            }
                                            else if (piclist.Value.Count == 6)
                                            {
                                                c = "pic-6";
                                            }
                                            else if (piclist.Value.Count == 8)
                                            {
                                                c = "pic-8";
                                            }
                                            else
                                            {
                                                c = "pic-8";
                                            }
                                        }
                                        <div class="picgroup @c">
                                            @foreach (var pic in piclist.Value)
                                            {
                                                if (!string.IsNullOrEmpty(pic))
                                                {
                                                    <img src="@Url.Content("~/" + pic)" alt="">
                                                }
                                            }
                                        </div>
                                    }
                                }
                            }
                        }

                        @* 一般x光 影像數目:每頁1張 *@
                        @if (Model.Xray_ViewModel != null && Model.Xray_ViewModel.Count != 0)
                        {
                            <div class="item__title pagenumber fz35 fwb" id="Xray"><span>一般x光</span></div>
                            <p>
                                X光檢查是一種簡單快速可以初步判斷受檢部位是否有明顯異常的檢查項目，以胸腔X光為例，如肺炎、肺結核、肺氣腫、肺積水、氣胸等肺部病變，常可見其典型的影像呈現，是一種迅速又無痛的檢查方式。其他常見應用於診斷脊椎側彎、骨刺、鈣化、結石等。
                            </p>
                            <p class="item__descript fz19"></p>
                            foreach (var item in Model.Xray_ViewModel)
                            {
                                <table class="tabelList pagenumber row-2" id="@item.itemno">
                                    <tr>
                                        <th class="name">項目</th>
                                        <th class="num">判讀結果</th>
                                    </tr>
                                    <tr>
                                        <td data-th="項目">@item.name</td>
                                        <td data-th="判讀結果">@item.value</td>
                                    </tr>
                                </table>
                                if (item.pic != null)
                                {
                                    foreach (var piclist in item.pic)
                                    {
                                        var c = "";
                                        if (item.pic.Count > 1)
                                        {
                                            c = "pic-8";
                                        }
                                        else
                                        {
                                            if (piclist.Value.Count == 1)
                                            {
                                                c = "pic-1";
                                            }
                                            else if (piclist.Value.Count == 2)
                                            {
                                                c = "pic-2";
                                            }
                                            else if (piclist.Value.Count == 3)
                                            {
                                                c = "pic-3";
                                            }
                                            else if (piclist.Value.Count == 4)
                                            {
                                                c = "pic-4";
                                            }
                                            else if (piclist.Value.Count == 6)
                                            {
                                                c = "pic-6";
                                            }
                                            else if (piclist.Value.Count == 8)
                                            {
                                                c = "pic-8";
                                            }
                                            else
                                            {
                                                c = "pic-8";
                                            }
                                        }
                                        <div class="picgroup @c">
                                            @foreach (var pic in piclist.Value)
                                            {
                                                if (!string.IsNullOrEmpty(pic))
                                                {
                                                    <img src="@Url.Content("~/" + pic)" alt="">
                                                }
                                            }
                                        </div>
                                    }
                                }
                            }
                        }

                        @* 三連片 影像數目:每頁1張 *@
                        @if (Model.Triple_ViewModel != null && Model.Triple_ViewModel.Count != 0)
                        {
                            <div class="item__title pagenumber fz35 fwb" id="Triple"><span>三連片</span></div>
                            <p>
                                X光管球以不同的角度旋轉拍攝二至四張影像並自動合成，分為全脊椎攝影及下肢攝影。全脊椎攝影可檢查頸椎、胸椎及腰椎是否有側彎、骨刺等。下肢攝影可檢查長短腳、骨盆左右傾斜等。
                            </p>
                            <p class="item__descript fz19"></p>
                            foreach (var item in Model.Triple_ViewModel)
                            {
                                <table class="tabelList pagenumber row-2" id="@item.itemno">
                                    <tr>
                                        <th class="name">項目</th>
                                        <th class="num">判讀結果</th>
                                    </tr>
                                    <tr>
                                        <td data-th="項目">@item.name</td>
                                        <td data-th="判讀結果">@item.value</td>
                                    </tr>
                                </table>
                                if (item.pic != null)
                                {
                                    foreach (var piclist in item.pic)
                                    {
                                        var c = "";
                                        if (item.pic.Count > 1)
                                        {
                                            c = "pic-8";
                                        }
                                        else
                                        {
                                            if (piclist.Value.Count == 1)
                                            {
                                                c = "pic-1";
                                            }
                                            else if (piclist.Value.Count == 2)
                                            {
                                                c = "pic-2";
                                            }
                                            else if (piclist.Value.Count == 3)
                                            {
                                                c = "pic-3";
                                            }
                                            else if (piclist.Value.Count == 4)
                                            {
                                                c = "pic-4";
                                            }
                                            else if (piclist.Value.Count == 6)
                                            {
                                                c = "pic-6";
                                            }
                                            else if (piclist.Value.Count == 8)
                                            {
                                                c = "pic-8";
                                            }
                                            else
                                            {
                                                c = "pic-8";
                                            }
                                        }
                                        <div class="picgroup @c">
                                            @foreach (var pic in piclist.Value)
                                            {
                                                if (!string.IsNullOrEmpty(pic))
                                                {
                                                    <img src="@Url.Content("~/" + pic)" alt="">
                                                }
                                            }
                                        </div>
                                    }
                                }
                            }
                        }

                        @* 內視鏡  影像數目:4*2*@
                        @if (Model.Endoscope_ViewModel != null && Model.Endoscope_ViewModel.Count != 0)
                        {
                            <div class="item__title pagenumber fz35 fwb" id="Endoscope"><span>內視鏡</span></div>
                            foreach (var item in Model.Endoscope_ViewModel)
                            {
                                switch (item.itemno)
                                {
                                    case 7029:
                                        <div class="title" style="margin-top:3%">大腸鏡</div>
                                        <p>
                                            利用內視鏡檢查病人的結腸內可能的病兆(如潰瘍性結 腸炎、出血源、瘜肉、阻塞等情形)，可評估病灶的外表性徵，必要時，醫師能夠在觀察的同時施行組織切片分析，以進一步檢查。<br />
                                            確定安排檢查後，醫護人員會向您解釋治療目的、過程及應配合事項後，安排檢查時間，並由病人或家屬簽署檢查治療同意書。<br />
                                        </p>
                                        <p class="item__descript fz19"></p>
                                        break;
                                    case 7030:
                                        <div class="title" style="margin-top:3%">胃鏡</div>
                                        <p>
                                            胃鏡除了胃部，還能夠察看是否有食道癌、胃潰瘍、十二指腸潰瘍、逆流性食道炎等。<br />
                                        </p>
                                        <p class="item__descript fz19"></p>
                                        break;
                                }

                                <table class="tabelList pagenumber row-2" id="@item.itemno">
                                    <tr>
                                        <th class="name">項目</th>
                                        <th class="num">判讀結果</th>
                                    </tr>
                                    <tr>
                                        <td data-th="項目">@item.name</td>
                                        <td data-th="判讀結果">@item.value</td>
                                    </tr>
                                </table>

                                if (item.pic != null)
                                {
                                    foreach (var piclist in item.pic)
                                    {
                                        var c = "";
                                        if (item.pic.Count > 1)
                                        {
                                            c = "pic-8";
                                        }
                                        else
                                        {
                                            if (piclist.Value.Count == 1)
                                            {
                                                c = "pic-1";
                                            }
                                            else if (piclist.Value.Count == 2)
                                            {
                                                c = "pic-2";
                                            }
                                            else if (piclist.Value.Count == 3)
                                            {
                                                c = "pic-3";
                                            }
                                            else if (piclist.Value.Count == 4)
                                            {
                                                c = "pic-4";
                                            }
                                            else if (piclist.Value.Count == 6)
                                            {
                                                c = "pic-6";
                                            }
                                            else if (piclist.Value.Count == 8)
                                            {
                                                c = "pic-8";
                                            }
                                            else
                                            {
                                                c = "pic-8";
                                            }
                                        }
                                        <div class="picgroup @c">
                                            @foreach (var pic in piclist.Value)
                                            {
                                                if (!string.IsNullOrEmpty(pic))
                                                {
                                                    <img src="@Url.Content("~/" + pic)" alt="">
                                                }
                                            }
                                        </div>
                                    }
                                }
                            }
                        }

                        @* 身體組成分析 影像數目:每頁一張 *@
                        @if (Model.Body_ViewModel != null && Model.Body_ViewModel.Count != 0)
                        {
                            <div class="item__title pagenumber fz35 fwb" id="Body"><span>身體組成分析</span></div>

                            foreach (var item in Model.Body_ViewModel)
                            {
                                switch (item.itemno)
                                {
                                    case 7021:
                                    case 7075:
                                    case 7091:
                                        <div class="title" style="margin-top:3%">雙能量骨質密度檢查</div>
                                        <p class="item__descript fz19">骨質疏鬆症是世界衛生組織認定的全球重要疾病，骨鬆可能造成骨折進而影響生活自理能力與生活品質，積極的骨鬆防治可以降低骨折風險。本院採用中軸型雙能量X光吸收儀（DXA）為骨質密度檢測之黃金標準。利用雙能量X光吸收儀（DXA）掃描身體骨質較易流失的中軸部位骨頭，也是最易發生骨鬆性骨折的腰椎或髖關節之骨質密度。</p>
                                        break;
                                    case 7020:
                                        <div class="title" style="margin-top:3%">全身脂肪分析</div>
                                        <p class="item__descript fz19">利用全身型雙能量X光骨質密度儀來 檢測全身體脂肪及內臟脂肪分布，就可進一步瞭解是否為罹患心血 管疾病 的高危險群，來進行提早預防</p>
                                        break;
                                    case 7060:
                                        <div class="title" style="margin-top:3%">Inbody</div>
                                        <p class="item__descript fz19">人體的體重由四大要素組成，身體總水重、蛋白質、礦物質、體脂肪。各成分間需維持一定的比率，以確保健康，反之，則可能產生各種病癥，如：脂肪過多而肥胖、蛋白質不足而營養不良、身體總水量過低、細胞內水份流失會導致老化、礦物質流失可能骨質疏鬆。</p>
                                        break;
                                }
                                <table class="tabelList pagenumber row-2" id="@item.itemno">
                                    <tr>
                                        <th class="name">項目</th>
                                        <th class="num">判讀結果</th>
                                    </tr>
                                    <tr>
                                        <td data-th="項目">@item.name</td>
                                        <td data-th="判讀結果">@item.value</td>
                                    </tr>
                                </table>
                                if (item.pic != null)
                                {
                                    foreach (var piclist in item.pic)
                                    {
                                        var c = "";
                                        if (item.pic.Count > 1)
                                        {
                                            c = "pic-8";
                                        }
                                        else
                                        {
                                            if (piclist.Value.Count == 1)
                                            {
                                                c = "pic-1";
                                            }
                                            else if (piclist.Value.Count == 2)
                                            {
                                                c = "pic-2";
                                            }
                                            else if (piclist.Value.Count == 3)
                                            {
                                                c = "pic-3";
                                            }
                                            else if (piclist.Value.Count == 4)
                                            {
                                                c = "pic-4";
                                            }
                                            else if (piclist.Value.Count == 6)
                                            {
                                                c = "pic-6";
                                            }
                                            else if (piclist.Value.Count == 8)
                                            {
                                                c = "pic-8";
                                            }
                                            else
                                            {
                                                c = "pic-8";
                                            }
                                        }
                                        <div class="picgroup @c">
                                            @foreach (var pic in piclist.Value)
                                            {
                                                if (!string.IsNullOrEmpty(pic))
                                                {
                                                    <img src="@Url.Content("~/" + pic)" alt="">
                                                }
                                            }
                                        </div>
                                    }
                                }
                            }
                        }

                        @* 心電圖 影像數目:每頁一張 *@
                        @if (Model.Electrocardiogram_ViewModel != null && Model.Electrocardiogram_ViewModel.Count != 0)
                        {
                            <div class="item__title pagenumber fz35 fwb" id="Electrocardiogram"><span>心電圖</span></div>

                            foreach (var item in Model.Electrocardiogram_ViewModel)
                            {
                                switch (item.itemno)
                                {
                                    case 7008:
                                        <div class="title" style="margin-top:3%">靜式心電圖</div>
                                        <p class="item__descript fz19">心臟疾病診斷及治療中最基本檢查之一，它除了可能表現心臟結構功能異常，優於聽診器辨別心跳，可以檢測出心律不整、心房心室肥厚或心肌缺氧、狹心症、肺動脈栓塞，甚至心肌梗塞。</p>
                                        break;
                                    case 7007:
                                        <div class="title" style="margin-top:3%">運動心電圖</div>
                                        <p class="item__descript fz19">運動心電圖是在運動時，讓心臟的負擔加大，使氧氣需求量增加，在此情況下評估心臟是否有心肌缺氧的情形，進而瞭解冠狀動脈是否有阻塞。我們可藉由運動心電圖檢查出冠心症，並早期治療以預防心肌梗塞進而猝死的產生。其心電圖、心跳速度以及血壓之變化，藉此變 化以了解心肌缺氧或心律不整之狀態，並可評估心肌梗塞患者之預後。 </p>
                                        break;
                                }
                                <table class="tabelList pagenumber row-2" id="@item.itemno">
                                    <tr>
                                        <th class="name">項目</th>
                                        <th class="num">判讀結果</th>
                                    </tr>
                                    <tr>
                                        <td data-th="項目">@item.name</td>
                                        <td data-th="判讀結果">@item.value</td>
                                    </tr>
                                </table>
                                if (item.pic != null)
                                {
                                    foreach (var piclist in item.pic)
                                    {
                                        var c = "";
                                        if (item.pic.Count > 1)
                                        {
                                            c = "pic-8";
                                        }
                                        else
                                        {
                                            if (piclist.Value.Count == 1)
                                            {
                                                c = "pic-1";
                                            }
                                            else if (piclist.Value.Count == 2)
                                            {
                                                c = "pic-2";
                                            }
                                            else if (piclist.Value.Count == 3)
                                            {
                                                c = "pic-3";
                                            }
                                            else if (piclist.Value.Count == 4)
                                            {
                                                c = "pic-4";
                                            }
                                            else if (piclist.Value.Count == 6)
                                            {
                                                c = "pic-6";
                                            }
                                            else if (piclist.Value.Count == 8)
                                            {
                                                c = "pic-8";
                                            }
                                            else
                                            {
                                                c = "pic-8";
                                            }
                                        }
                                        <div class="picgroup @c">
                                            @foreach (var pic in piclist.Value)
                                            {
                                                if (!string.IsNullOrEmpty(pic))
                                                {
                                                    <img src="@Url.Content("~/" + pic)" alt="">
                                                }
                                            }
                                        </div>
                                    }
                                }
                            }
                        }

                        @* 自律神經檢查 影像數目:每頁一張 *@
                        @if (Model.Autonomic_ViewModel != null && Model.Autonomic_ViewModel.Count != 0)
                        {
                            <div class="item__title pagenumber fz35 fwb" id="Autonomic"><span>自律神經檢查</span></div>
                            foreach (var item in Model.Autonomic_ViewModel)
                            {
                                switch (item.itemno)
                                {
                                    case 7042:
                                        <div class="title" style="margin-top:3%">心律變異分析</div>
                                        <p class="item__descript fz19">心率變異分析（縮寫為HRV），是一種量測連續心跳速率變化程度的方法。因為心臟除了本身的節律性放 電引發的跳動之外，也受到自律神經系統的影響。調節我們的心率、血壓、呼吸和消化，它被分為兩大部分：交感神經和副交感神經系統，所以HRV目前除了被廣泛運用在心臟相關的疾病醫療上，也同時是檢視自律神經系統的重要指標。</p>
                                        break;
                                    case 7041:
                                        <div class="title" style="margin-top:3%">血管彈性硬化</div>
                                        <p class="item__descript fz19">藉由紅外線直接檢測手指末梢微血管循環與彈性狀況，測量其血液循環時速率變異，分析檢測波形再 轉換成數據，將血管彈性分為七等級，進而評估血管彈性、老化、心臟血管、腦部血管、周邊血管之疾病風險。</p>
                                        break;
                                }

                                <table class="tabelList pagenumber row-2" id="@item.itemno">
                                    <tr>
                                        <th class="name">項目</th>
                                        <th class="num">判讀結果</th>
                                    </tr>
                                    <tr>
                                        <td data-th="項目">@item.name</td>
                                        <td data-th="判讀結果">@item.value</td>
                                    </tr>
                                </table>
                                if (item.pic != null)
                                {
                                    foreach (var piclist in item.pic)
                                    {
                                        var c = "";
                                        if (item.pic.Count > 1)
                                        {
                                            c = "pic-8";
                                        }
                                        else
                                        {
                                            if (piclist.Value.Count == 1)
                                            {
                                                c = "pic-1";
                                            }
                                            else if (piclist.Value.Count == 2)
                                            {
                                                c = "pic-2";
                                            }
                                            else if (piclist.Value.Count == 3)
                                            {
                                                c = "pic-3";
                                            }
                                            else if (piclist.Value.Count == 4)
                                            {
                                                c = "pic-4";
                                            }
                                            else if (piclist.Value.Count == 6)
                                            {
                                                c = "pic-6";
                                            }
                                            else if (piclist.Value.Count == 8)
                                            {
                                                c = "pic-8";
                                            }
                                            else
                                            {
                                                c = "pic-8";
                                            }
                                        }
                                        <div class="picgroup @c">
                                            @foreach (var pic in piclist.Value)
                                            {
                                                if (!string.IsNullOrEmpty(pic))
                                                {
                                                    <img src="@Url.Content("~/" + pic)" alt="">
                                                }
                                            }
                                        </div>
                                    }
                                }
                            }
                        }

                        @* 眼底攝影 影像數目:2*1 *@
                        @if (Model.Fundus_ViewModel != null && Model.Fundus_ViewModel.Count != 0)
                        {
                            <div class="item__title pagenumber fz35 fwb" id="Fundus"><span>眼底攝影</span></div>
                            <p>
                                眼底檢查可以看到視網膜的色澤、視網膜的血管、黃斑部的顏色、以及視神經乳頭的形狀、顏色、乳頭凹陷的情形。最重要的意義是檢測出眼底(視網膜、脈絡膜、視神經乳頭)是否有病變，如:視網膜剝離、黃斑部病變、青光眼、視神經炎、脈絡膜腫瘤等。眼睛是全身唯一可以透過肉眼就觀察到血管的地方，因此，在臨床上有許多案例是在眼底檢查中才發現患者還有全身性的疾病，像是高血壓、糖尿病、自體免疫疾病等。
                            </p>
                            foreach (var item in Model.Fundus_ViewModel)
                            {
                                <table class="tabelList pagenumber row-2" id="@item.itemno">
                                    <tr>
                                        <th class="name">項目</th>
                                        <th class="num">判讀結果</th>
                                    </tr>
                                    <tr>
                                        <td data-th="項目">@item.name</td>
                                        <td data-th="判讀結果">@item.value</td>
                                    </tr>
                                </table>
                                if (item.pic != null)
                                {
                                    foreach (var piclist in item.pic)
                                    {
                                        var c = "";
                                        if (item.pic.Count > 1)
                                        {
                                            c = "pic-8";
                                        }
                                        else
                                        {
                                            if (piclist.Value.Count == 1)
                                            {
                                                c = "pic-1";
                                            }
                                            else if (piclist.Value.Count == 2)
                                            {
                                                c = "pic-2";
                                            }
                                            else if (piclist.Value.Count == 3)
                                            {
                                                c = "pic-3";
                                            }
                                            else if (piclist.Value.Count == 4)
                                            {
                                                c = "pic-4";
                                            }
                                            else if (piclist.Value.Count == 6)
                                            {
                                                c = "pic-6";
                                            }
                                            else if (piclist.Value.Count == 8)
                                            {
                                                c = "pic-8";
                                            }
                                            else
                                            {
                                                c = "pic-8";
                                            }
                                        }
                                        <div class="picgroup @c">
                                            @foreach (var pic in piclist.Value)
                                            {
                                                if (!string.IsNullOrEmpty(pic))
                                                {
                                                    <img src="@Url.Content("~/" + pic)" alt="">
                                                }
                                            }
                                        </div>
                                    }
                                }
                            }
                        }
                    </div>
                </section>
            }

            <!--其他檢查-->
            @if (Model.Other_ViewModel != null && Model.Other_ViewModel.Count != 0)
            {
                number++;
                <section class="print-Box page page-6" id="@number" title="@Html.Raw(number + ".其他檢查")">
                    <div class="A4" id="Other">
                        <div class="head">
                        </div>
                        <div class="header header-6">
                            <div class="num">@number.ToString("00")</div>
                            <h2 class="fz30">其他檢查<span class="fz20">Other Examination</span></h2>
                        </div>
                        <p class="fz19 mt50"></p>
                        @foreach (var item in Model.Other_ViewModel)
                        {
                            if (item.Key == "肺功能檢查")
                            {
                                <div class="item__title pagenumber fz35 fwb"><span>肺功能檢查</span></div>
                                <p class="item__descript fz19">
                                    肺功能檢查是最方便、快速、安全又無侵襲性的檢查，可了解是否有呼吸道阻塞情形，肺活量有無異常，肺泡與微血管氣體交換的能力等，能協助醫師診斷及鑑別疾病、評估肺部疾病的嚴重度、評估病程進展及治療後的反應。
                                </p>
                                <table class="tabelList pagenumber row-3" id="@item.Key">
                                    <tr>
                                        <th class="name">項目</th>
                                        <th class="num">數值</th>
                                        <th class="num">參考值</th>
                                    </tr>
                                    @foreach (var data in item.Value)
                                    {
                                        <tr class="pagenumber" id="@data.itemno">
                                            <td data-th="項目">@data.name</td>
                                            <td data-th="數值">@data.value</td>
                                            <td data-th="參考值">@data.reference</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td data-th="項目">報告結果說明</td>
                                    </tr>
                                </table>
                            }
                            else if (item.Key == "抹片檢查")
                            {
                                <div class="item__title fz35 fwb"><span>抹片檢查</span></div>
                                <p class="item__descript fz19"></p>
                                <div class="title" style="margin-top:3%">一般抹片</div>
                                <p class="item__descript fz19">子宮頸抹片(Pap smear)是由醫師將擴張器放入陰道，取子宮頸及陰道後穹窿分泌物，塗在玻片上，以 95％酒精固定送至病理科，在顯微鏡下檢查。子宮頸抹片檢查是採取子宮頸及陰道後壁的剝落細胞所做的檢查。這個檢查能夠顯示出子宮頸有無感染、發炎、異常細胞或是癌症發生之可能。</p>
                                <div class="title" style="margin-top:3%">薄層抹片</div>
                                <p class="item__descript fz19">新柏氏超薄抹片可將採檢到的細胞大部分都保留下來於特殊保存液內，並利用自動化儀器將黏液及血液等干擾因子分開，再經過離心過濾後把細胞打散，使細胞能更均勻及清晰的分佈於玻片上，透過此種方式能避免傳統抹片檢查上的限制，並能提升抹片檢查結果準確性以達到早期發現早期治療的預防保健目的。</p>
                                <div class="title" style="margin-top:3%">人類乳突病毒</div>
                                <p class="item__descript fz19">結合超薄抹片與人類乳突病毒測試，早期診斷子宮頸癌病變，靈敏度高達九成以上。 人類乳突狀病毒是能夠產生疣的一種病毒。據統計人體的癌症約有10%和此病毒有關，包括女性的子宮頸癌、會陰癌、陰道癌，男性的陰莖癌，男女性都有的口腔、直腸肛門咽喉食道癌，甚至是皮膚癌。 科學家已經發現超過上百種的人類乳突狀病毒；其中有30種會使子宮頸受感染，而有約15 種病毒與子宮頸癌有關。所以人類乳突狀病毒可以說是子宮頸癌的主要危險因子。</p>
                                <table class="tabelList pagenumber row-3" id="@item.Key">
                                    <tr>
                                        <th class="name">項目</th>
                                        <th class="num">數值</th>
                                        <th class="num">參考值</th>
                                    </tr>
                                    @foreach (var data in item.Value)
                                    {
                                        <tr class="pagenumber" id="@data.itemno">
                                            <td data-th="項目">@data.name</td>
                                            <td data-th="數值">@data.value</td>
                                            <td data-th="參考值">@data.reference</td>
                                        </tr>
                                    }
                                </table>
                            }
                        }
                    </div>
                </section>
            }
        </div>
        <!--end page 內頁 -->
        <!--==========================================================================
            * page-back 封底
        ==========================================================================-->
        <section class="print-Box A4-nomodify" id="page-back"></section>

        <div class="btn-menu">
            <i class="icon-menu"></i>
            <i class="icon-cancel"></i>
        </div>
        <!-- <a href="#page-catalog" class="btn-top"><i class="icon-menu"></i></a> -->
    </article>
    <script src="~/Scripts/scripts/default/jquery.min.js"></script>
    <script src="~/Scripts/scripts/default/print_pdf.js"></script>
</body>
</html>