﻿@model Web.ViewModel.HomeViewModel
<style>
    .wrap__pagination > ul > li.active a {
        color: #fff;
        background: #3081cc;
        border-color: #3081cc;
    }
</style>
<div class="mainbox">
    <div class="wrap wrap-talble">
        <div class="wrap__title wrap__title-list">
            <h2 class="fz25 fwb">晨悅預防醫學機構-晨悅診所 報告查詢</h2>
            <h3 class="fz15">線上查詢健檢報告，便利、快速、無侷限，掌握健康好容易。</h3>
            <a href="@Url.Action("Logout", "Login")" class="btn__logout">登出</a>
        </div>
        <div class="wrap__body">
            <div class="scrollbox">
                <table class="wrap__table fz15">
                    @foreach (var item in Model.QueryCustome_PagedListViewModel)
                    {
                        <tr>
                            <td>@item.checkdate</td>
                            <td><a class="read" href="@Url.Action("Report", "Home", new { bid = item.barcode})" target="_blank">線上報告書瀏覽</a></td>
                            @*<td><a class="download" href="@Url.Action("DownloadPdf", "Home", new { bid = item.barcode})">報告書PDF下載</a></td>*@
                            @*<td><a class="download" href="@Url.Content("~/siteadmin/Print?bid="+item.barcode)">報告書PDF下載</a></td>*@

                            @*<td><a class="download" href="javascript:downloadPrint(@item.barcode)">報告書PDF下載</a></td>*@
                            <td><a class="download" target="_blank" href="@Url.Content("~/fileuploads/"+item.guid+item.barcode + ".pdf")">報告書PDF下載</a></td>

                            @*<td><a class="zip" href="@Url.Action("DownloadZip", "Home", new { bid = item.barcode})">完整檢測影像下載 (zip)</a></td>*@
                            @*<td><a class="zip" href="javascript:downloadZip(@item.barcode)">完整檢測影像下載 (zip)</a></td>*@
                            <td>
                                @for (var i = 0; i < 3; i++)
                                {
                                    if (item.CriticalPics.Count <= i) { break; }

                                    if (i == 0)
                                    {
                                        <a class="preview" href="@Path.Combine("~/",item.CriticalPics[i])" data-lc-caption="@item.CriticalPicAlts[i]" data-rel="lightcase:@item.barcode">重點影像快速預覽</a>
                                    }
                                    else
                                    {
                                        <a class="hidden" href="@Path.Combine("~/",item.CriticalPics[i])" data-lc-caption="@item.CriticalPicAlts[i]" data-rel="lightcase:@item.barcode"></a>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="progress active" id="isprogress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>

            <div class="wrap__pagination">
                @Html.Raw(ViewBag.pageView)
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@section scripts {
    @Scripts.Render("~/Scripts/scripts/default/lightcase.js")

    <script type="text/javascript">
    $(document).ready(function () {
        $('#isprogress').attr('hidden', true);
        $('a[data-rel^="lightcase"]').lightcase({
            showSequenceInfo: false,
            maxWidth: window.innerWidth,
            maxHeight: window.innerHeight,
            shrinkFactor: .75
        });
    });

    function downloadZip(bid) {
       // window.open('/home/downloadZip?bid=' + bid);
        var url = "@Url.Action("DownloadZip", "Home")" + "?bid=" + bid;
        var $ifrm = $("<iframe style='display:none' />");
        $ifrm.attr("src", url);
        $ifrm.appendTo("body");
        $ifrm.load(function () {
            swal({
                "text": "抱歉，查無影像檔，請您聯絡我們，聯絡時間:周一~五 08:30~17:30(國定假日除外)，聯絡電話:04-2255-2555分機182 報告組，謝謝您",
                "icon": "warning",
                "type": "warning"
            });
        });
    }

    function downloadPrint(bid) {

        var url = '@Url.Action("../Siteadmin/Print")' + '?bid=' + bid;
        //window.location.href = url;
        let that = this;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', url,true);
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhr.responseType = "blob";
        xhr.onload = function (oevent) {
            console.log(oevent.target.response);
            if (xhr.readyState === 4 && xhr.status === 200) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("PrintName", "Siteadmin")',
                    data: { bid: bid },
                    success: function (data) {
                        console.log(data);
                        var blob = new Blob([oevent.target.response], { type: "application/pdf" });
                        console.log(blob);
                        var link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        link.download = data;
                        link.click();
                        $('#isprogress').attr('hidden', true);
                    }
                });
            }
        }
        xhr.send();
        $('#isprogress').attr('hidden', false);

        }

    </script>
}