﻿@using Web.Models;
@{
    Layout = "~/Views/Siteadmin/Shared/_Layout.cshtml";
}

@section css {
    @Styles.Render("~/Scripts/elfinder/css/smoothness-1.8.23/jquery-ui-1.8.23.custom.css")
    @Styles.Render("~/Scripts/elfinder/css/elfinder.full.css")
    @Styles.Render("~/Scripts/elfinder/windows-10/css/theme.css")
    @Styles.Render("~/Scripts/imgareaselect/css/imgareaselect-default.css")

}

<div class="content-body">
    <!-- layout-content-->
    <section class="panel panel-default">
        <header class="panel-heading">
            <h1 class="h5 float-left font-weight-bold">@Html.Raw(ViewBag.system_menu_data.title) @ViewBag.addTitle</h1>
            <div class="float-right">
                @if (ViewBag.system_menu_data.act_path == "list")
                {
                    <button class="btn btn-sm btn-light" type="button" onclick="window.location.href='@Url.Content("~/siteadmin/" + ViewBag.Tables + "/list" + ViewBag.addId)'" title="返回"><i class="icon-undo2"></i><span class="ml-1 d-none d-md-inline-block">返回</span></button>
                }
                @if (ViewBag.useLang == "Y")
                {
                    <div class="btn-group btn-group-sm dropdown" role="group">
                        <button class="btn dropdown-toggle btn-secondary" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="語系" id="tableLen"><i class="icon-globe"></i><span class="ml-1 d-none d-md-inline-block nowLangTitle">@Html.Raw(ViewBag.viewLanguage)</span></button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="tableLen">
                            @if (ViewBag.language != null)
                            {
                                int i = 0;
                                foreach (language item in ViewBag.language)
                                {
                                    <a class="dropdown-item changInputLang  @if (i == 0) { @Html.Raw("selected") }" href="#" data-lang="@Html.Raw(item.lang)">@Html.Raw(item.title)</a>
                                    i++;
                                }
                            }

                        </div>
                    </div>
                }

            </div>
        </header>
        <div class="panel-wrapper">
            <div class="panel-body">
                <form action="@Url.Content("~/siteadmin/" + ViewBag.Tables + "/save")" method="post" name="saveForm" id="saveForm">


                    @if (ViewBag.useLang == "Y")
                    {

                        foreach (language item in ViewBag.language)
                        {

                            <input type="hidden" name="id_@item.lang" id="id_@item.lang" value="@if (ViewBag.data != null && ViewBag.data.ContainsKey(item.lang)) { @Html.Raw(ViewBag.data[item.lang]["id"]) }">


                        }

                        <input type="hidden" name="guid" id="guid" value="@if(ViewBag.data != null) { @Html.Raw(ViewBag.data[ViewBag.defLang]["guid"]) }">

                        if (ViewBag.data != null && ViewBag.data[ViewBag.defLang]["create_date"] != null && ViewBag.data[ViewBag.defLang]["create_date"].ToString() != "")
                        {
                            <input type="hidden" name="create_date" id="create_date" value="@DateTime.Parse(ViewBag.data[ViewBag.defLang]["create_date"].ToString()).ToString("yyyy/MM/dd HH:mm:ss")">
                        }
                    }
                    else
                    {
                        <input type="hidden" name="id" id="id" value="@if (ViewBag.data != null) { @Html.Raw(ViewBag.data["id"]) }">
                        <input type="hidden" name="guid" id="guid" value="@if(ViewBag.data != null) { @Html.Raw(ViewBag.data["guid"]) }">

                        if (ViewBag.data != null && ViewBag.data["create_date"] != null && ViewBag.data["create_date"].ToString() != "")
                        {
                            <input type="hidden" name="create_date" id="create_date" value="@DateTime.Parse(ViewBag.data["create_date"].ToString()).ToString("yyyy/MM/dd HH:mm:ss")">
                        }
                    }

                    @if (Request["c"] != null)
                    {
                        <input type="hidden" name="category" id="category" value="@Request["c"].ToString()">
                    }





                    <!--隱藏欄位-->
                    @if (ViewBag.hiddenCol != null)
                    {



                        foreach (KeyValuePair<string, object> item in ViewBag.hiddenCol)
                        {
                            ViewBag.key = item.Key;
                            var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                            ViewBag.colJson = mJObj[0];

                            ViewBag.category = null;

                            ViewBag.inherit = null;
                            //有來源分類
                            if (mJObj[0]["inherit"] != null && mJObj[0]["inherit"].ToString() != "")
                            {
                                ViewBag.inherit = mJObj[0]["inherit"].ToString();
                                ViewBag.category = Web.Service.TablesService.getCategory(mJObj[0]["inherit"].ToString());

                            }



                            @Html.Partial("Form/" + mJObj[0]["type"])
                        }


                    }



                    @if (ViewBag.mainCol != null)
                    {

                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>主要設定</legend>

                            @foreach (KeyValuePair<string, object> item in ViewBag.mainCol)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];

                                ViewBag.category = null;

                                ViewBag.inherit = null;
                                //有來源分類
                                if (mJObj[0]["inherit"] != null && mJObj[0]["inherit"].ToString() != "")
                                {
                                    ViewBag.inherit = mJObj[0]["inherit"].ToString();
                                    ViewBag.category = Web.Service.TablesService.getCategory(mJObj[0]["inherit"].ToString());
                                }



                                @Html.Partial("Form/" + mJObj[0]["type"])
                            }


                        </fieldset>
                    }


                    @if (ViewBag.userCol != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>帳戶詳細資料</legend>
                            @foreach (KeyValuePair<string, object> item in ViewBag.userCol)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];
                                ViewBag.inherit = null;

                                @Html.Partial("Form/" + mJObj[0]["type"])


                            }
                        </fieldset>
                    }

                    @if (ViewBag.mediaCol != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>多媒體檔案</legend>
                            @foreach (KeyValuePair<string, object> item in ViewBag.mediaCol)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];
                                ViewBag.inherit = null;

                                @Html.Partial("Form/" + mJObj[0]["type"])


                            }
                        </fieldset>
                    }

                    @if (ViewBag.ultrasound != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>超音波檢查</legend>
                            @foreach (KeyValuePair<string, object> item in ViewBag.ultrasound)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];
                                ViewBag.inherit = null;

                                @Html.Partial("Form/" + mJObj[0]["type"])


                            }
                        </fieldset>
                    }
                    @if (ViewBag.digitaldualenergy != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>數位斷層合成掃描</legend>
                            @foreach (KeyValuePair<string, object> item in ViewBag.digitaldualenergy)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];
                                ViewBag.inherit = null;

                                @Html.Partial("Form/" + mJObj[0]["type"])


                            }
                        </fieldset>
                    }
                    @if (ViewBag.chestdualenergy != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>胸部能量減影</legend>
                            @foreach (KeyValuePair<string, object> item in ViewBag.chestdualenergy)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];
                                ViewBag.inherit = null;

                                @Html.Partial("Form/" + mJObj[0]["type"])


                            }

                        </fieldset>
                    }
                    @if (ViewBag.xray != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>一般X光</legend>
                            @foreach (KeyValuePair<string, object> item in ViewBag.xray)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];
                                Session.Add(item.Key, mJObj[0]);
                                ViewBag.inherit = null;

                                @Html.Partial("Form/" + mJObj[0]["type"])


                            }
                        </fieldset>
                    }
                    @if (ViewBag.triple != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>三連片</legend>
                            @foreach (KeyValuePair<string, object> item in ViewBag.triple)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];
                                ViewBag.inherit = null;

                                @Html.Partial("Form/" + mJObj[0]["type"])


                            }
                        </fieldset>
                    }
                    @if (ViewBag.endoscope != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>內視鏡</legend>
                            @foreach (KeyValuePair<string, object> item in ViewBag.endoscope)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];
                                ViewBag.inherit = null;

                                @Html.Partial("Form/" + mJObj[0]["type"])


                            }
                        </fieldset>
                    }
                    @if (ViewBag.body != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>身體組成分析</legend>
                            @foreach (KeyValuePair<string, object> item in ViewBag.body)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];
                                ViewBag.inherit = null;

                                @Html.Partial("Form/" + mJObj[0]["type"])


                            }
                        </fieldset>
                    }
                    @if (ViewBag.electrocardiogram != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>心電圖</legend>
                            @foreach (KeyValuePair<string, object> item in ViewBag.electrocardiogram)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];
                                ViewBag.inherit = null;

                                @Html.Partial("Form/" + mJObj[0]["type"])


                            }
                        </fieldset>
                    }
                    @if (ViewBag.autonomic != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>自律神經檢查</legend>
                            @foreach (KeyValuePair<string, object> item in ViewBag.autonomic)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];
                                ViewBag.inherit = null;

                                @Html.Partial("Form/" + mJObj[0]["type"])


                            }
                        </fieldset>
                    }
                    @if (ViewBag.fundus != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>眼底攝影</legend>
                            @foreach (KeyValuePair<string, object> item in ViewBag.fundus)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];
                                ViewBag.inherit = null;

                                @Html.Partial("Form/" + mJObj[0]["type"])


                            }
                        </fieldset>
                    }

                    @if (ViewBag.reviewCol != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>審核者設定</legend>
                            @foreach (KeyValuePair<string, object> item in ViewBag.reviewCol)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];
                                ViewBag.inherit = null;

                                //有來源分類
                                if (mJObj[0]["inherit"] != null && mJObj[0]["inherit"].ToString() != "")
                                {
                                    ViewBag.inherit = mJObj[0]["inherit"].ToString();
                                    ViewBag.category = Web.Service.TablesService.getCategory(mJObj[0]["inherit"].ToString());
                                }



                                @Html.Partial("Form/" + mJObj[0]["type"])


                            }
                        </fieldset>
                    }


                    @if (ViewBag.verifyCol != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>審核管理</legend>
                            @foreach (KeyValuePair<string, object> item in ViewBag.verifyCol)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];
                                ViewBag.inherit = null;
                                ViewBag.masterUser = null;
                                //有來源分類
                                if (mJObj[0]["inherit"] != null && mJObj[0]["inherit"].ToString() != "")
                                {
                                    ViewBag.inherit = mJObj[0]["inherit"].ToString();
                                    ViewBag.category = Web.Service.TablesService.getCategory(mJObj[0]["inherit"].ToString());
                                }


                                @Html.Partial("Form/" + mJObj[0]["type"])


                            }
                        </fieldset>
                    }

                    @if (ViewBag.reInfoCol != null)
                    {

                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>回覆內容</legend>

                            @foreach (KeyValuePair<string, object> item in ViewBag.reInfoCol)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];

                                ViewBag.category = null;

                                ViewBag.inherit = null;
                                //有來源分類
                                if (mJObj[0]["inherit"] != null && mJObj[0]["inherit"].ToString() != "")
                                {
                                    ViewBag.inherit = mJObj[0]["inherit"].ToString();
                                    ViewBag.category = Web.Service.TablesService.getCategory(mJObj[0]["inherit"].ToString(), ViewBag.data[ViewBag.defLang]);

                                }



                                @Html.Partial("Form/" + mJObj[0]["type"])
                            }


                        </fieldset>
                    }

                    @if (ViewBag.reUserCol != null)
                    {

                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>回覆者設定</legend>

                            @foreach (KeyValuePair<string, object> item in ViewBag.reUserCol)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];

                                ViewBag.category = null;

                                ViewBag.inherit = null;


                                //有來源分類
                                if (mJObj[0]["inherit"] != null && mJObj[0]["inherit"].ToString() != "")
                                {
                                    ViewBag.inherit = mJObj[0]["inherit"].ToString();
                                    ViewBag.category = Web.Service.TablesService.getCategory(mJObj[0]["inherit"].ToString(), ViewBag.data[ViewBag.defLang]);

                                }



                                @Html.Partial("Form/" + mJObj[0]["type"])
                            }


                        </fieldset>
                    }



                    @if (ViewBag.reIndexUse != null)
                    {

                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>首頁相關設定</legend>

                            @foreach (KeyValuePair<string, object> item in ViewBag.reIndexUse)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];

                                ViewBag.category = null;

                                ViewBag.inherit = null;


                                //有來源分類
                                if (mJObj[0]["inherit"] != null && mJObj[0]["inherit"].ToString() != "")
                                {
                                    ViewBag.inherit = mJObj[0]["inherit"].ToString();
                                    ViewBag.category = Web.Service.TablesService.getCategory(mJObj[0]["inherit"].ToString(), ViewBag.data[ViewBag.defLang]);

                                }



                                @Html.Partial("Form/" + mJObj[0]["type"])
                            }


                        </fieldset>
                    }

                    @if (ViewBag.otherCol != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>進階選項</legend>

                            @foreach (KeyValuePair<string, object> item in ViewBag.otherCol)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];

                                ViewBag.inherit = null;

                                @Html.Partial("Form/" + mJObj[0]["type"])


                            }

                        </fieldset>
                    }

                    @if (ViewBag.verifyColForum != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>審核管理</legend>
                            @foreach (KeyValuePair<string, object> item in ViewBag.verifyColForum)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];
                                ViewBag.inherit = null;

                                //有來源分類
                                if (mJObj[0]["inherit"] != null && mJObj[0]["inherit"].ToString() != "")
                                {
                                    ViewBag.inherit = mJObj[0]["inherit"].ToString();
                                    ViewBag.category = Web.Service.TablesService.getCategory(mJObj[0]["inherit"].ToString(), ViewBag.data[ViewBag.defLang]);
                                }


                                @Html.Partial("Form/" + mJObj[0]["type"])


                            }
                        </fieldset>
                    }

                    @if (ViewBag.modifyerCol != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>最後異動者</legend>

                            @foreach (KeyValuePair<string, object> item in ViewBag.modifyerCol)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];

                                ViewBag.inherit = null;

                                @Html.Partial("Form/" + mJObj[0]["type"])


                            }

                        </fieldset>
                    }

                    @if (ViewBag.delayCol != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>延遲設定</legend>

                            @foreach (KeyValuePair<string, object> item in ViewBag.delayCol)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];

                                ViewBag.inherit = null;

                                @Html.Partial("Form/" + mJObj[0]["type"])


                            }

                        </fieldset>
                    }
                    @if (ViewBag.delay2Col != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>長期評估設定</legend>

                            @foreach (KeyValuePair<string, object> item in ViewBag.delay2Col)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];

                                ViewBag.inherit = null;

                                @Html.Partial("Form/" + mJObj[0]["type"])


                            }

                        </fieldset>
                    }
                    @if (ViewBag.viewSetCol != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>顯示設定</legend>

                            @foreach (KeyValuePair<string, object> item in ViewBag.viewSetCol)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];

                                ViewBag.inherit = null;

                                @Html.Partial("Form/" + mJObj[0]["type"])


                            }

                        </fieldset>
                    }
                    @if (ViewBag.permissions[ViewBag.system_menu_data.guid] == "F")
                    {
                        <div class="text-center my-4 form-btn-group">
                            @if (ViewBag.Tables == "forum")
                            {
                                <input type="hidden" name="saveAndSend" id="saveAndSend" value="N">
                                <button class="btn btn-info mr-1 saveAndSend" type="button">儲存並發送通知</button>
                            }
                            <button class="btn btn-main submitBut" type="submit">送出</button>
                            <button class="btn btn-default" type="reset">清除重填</button>
                        </div>
                    }
                </form>
            </div>
        </div>
    </section>
    <!-- / layout-content-->
</div>
@section scripts {
    <input type="hidden" id="fileMegRoot" value="@Url.Content("~/connector")" />




    <!--page index-->
    <!-- * * * DataTables 表格-->
    @Scripts.Render("~/Content/Siteadmin/modules/datatables/datatables.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/datatables/dataTables.responsive.min.js")
    <!-- * * form -->
    <!-- * * * ckeditor 編輯器-->
    @Scripts.Render("~/Content/Siteadmin/modules/ckeditor/ckeditor.js")
    <!-- * * * Bootstrap Daterangepicker 日期區間-->
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-daterangepicker-master/moment.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-daterangepicker-master/daterangepicker.js")
    <!-- * * * bootstrap-select 下拉選單-->
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-select/bootstrap-select.js ")
    <!-- * * * multiselect 分類左右選擇 select multiple-->
    @Scripts.Render("~/Content/Siteadmin/modules/multiselect/js/jquery.multi-select.js")
    <!-- * * * multiselect 分類左右選擇 搜尋框 jquery-quicksearch-->
    @Scripts.Render("~/Content/Siteadmin/modules/quicksearch-master/jquery.quicksearch.js")
    @Scripts.Render("~/Content/Siteadmin/modules/select2/js/select2.full.min.js")
    <!-- * * * typeahead 建議字詞清單 typeahead.bundle.js-->
    @Scripts.Render("~/Content/Siteadmin/modules/typeahead/typeahead.bundle.js")



    <!-- * * * inputmask 表單格式-->
    @Scripts.Render("~/Content/Siteadmin/modules/inputmask/jquery.inputmask.bundle.min.js")
    <!-- * * * jquery.repeater.min.js 新增欄位-->
    @Scripts.Render("~/Content/Siteadmin/modules/repeater/jquery.repeater.min.js")
    <!-- * * * bootstrap-colorpicker-master 顏色選取-->
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-colorpicker-master/js/bootstrap-colorpicker.min.js")
    <!-- * * * nestable 排序拖曳-->
    @Scripts.Render("~/Content/Siteadmin/modules/nestable/jquery.nestable.js")
    <!-- * * * dropzonejs 檔案上傳-->
    @Scripts.Render("~/Content/Siteadmin/modules/dropzonejs/dropzone.js")
    <!-- * * * Jcrop Image Cropping Plugin 圖片座標截圖 -->
    @Scripts.Render("~/Content/Siteadmin/modules/jcrop/jquery.Jcrop.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/jcrop/jquery.color.js")
    <!-- * * * ammap 分析統計圖-->
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/ammap.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/maps/js/worldLow.js")
    <!-- * * * amcharts 分析統計圖-->
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/amcharts.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/pie.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/serial.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/plugins/export/export.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/plugins/dataloader/dataloader.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/themes/light.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/lib/amstock.js")
    <!-- * * * bootstrap-datepicker 日曆-->
    <!--@Scripts.Render("~/Content/Siteadmin/modules/bootstrap-datepicker/bootstrap-datepicker.min.js")-->
    <!-- * * * bootstrap-year-calendar 年曆-->
    <!-- @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-year-calendar/js/bootstrap-year-calendar.js")
     @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-year-calendar/js/languages/bootstrap-year-calendar.tw.js")-->
    @Scripts.Render("~/Content/Siteadmin/scripts/form.js")

    @Scripts.Render("~/Content/Siteadmin/scripts/datatables.js")
    @Scripts.Render("~/Content/Siteadmin/scripts/typeahead.js")



    <script src="@Url.Content("~/")Scripts/elfinder/js/elfinder.full.js" type="text/javascript" charset="utf-8"></script>
    @Scripts.Render("~/Scripts/elfinder/js/i18n/elfinder.zh_TW.js")
    @Scripts.Render("~/Scripts/elfinder/js/jquery-ui-1.11.4.min.js")
    @Scripts.Render("~/Scripts/imgareaselect/scripts/jquery.imgareaselect.js")




    <!-- * * * validate 表單驗證-->
    @Scripts.Render("~/Content/Design/validation/jquery.validate.js")
    @Scripts.Render("~/Content/Design/validation/messages_zh_TW.js")

    @Scripts.Render("~/Scripts/jquery.blockUI.js")

    <!-- /  layout-js-->

<script type="text/javascript">
        $(document).ready(function () {
            //var tab ="@ViewBag.xray";

            if ('@TempData["success"]' == 'True') {
                swal({
                    title: "系統資訊",
                    text: "送出完成",
                    type: "success",
                    confirmButtonText: "確定",
                }, function () {
                    window.location.href = '@TempData["Url"]';
                });
            }
        });
</script>
}