﻿@using Web.Models;
@{
    Layout = "~/Views/Siteadmin/Shared/_Layout.cshtml";
    int i = 0;
}
<head>
    <style>
    .ellipsis {
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 270px;
        display: block;
        overflow: hidden
    }

    </style>
</head>
<div class="content-body">

    <!-- layout-content-->
    <!-- row  -->
    <div class="row mt-xl-0 mt-3">
        <div class="col-xl-3">
            <div class="row">
                <div class="col-sm-6 col-12 col-xl-12">
                    <section class="panel">
                        <header class="panel-heading text-center">
                            <h2 class="h5 px-2">線上使用者</h2>
                        </header>
                        <div class="panel-body px-0 py-0">
                            <div class="h1 text-center font-weight-bold pb-2"><span class="text-main" id="nowUser">1</span></div>
                            <div class="progress" title="73.77% 新工作階段" style="        height: 5px;">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-main" role="progressbar" style="        width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="row text-center py-3">
                                <div class="col"><span class="d-block text-muted small">單次頁數</span><span class="d-block font-weight-bold mb-1" id="pageviewsPerSession">0</span></div>
                                <div class="col"><span class="d-block text-muted small">停留時間</span><span class="d-block font-weight-bold mb-1" id="avgTimeOnPage">00:00:00</span></div>
                                <div class="col"><span class="d-block text-muted small">跳出率</span><span class="d-block font-weight-bold mb-1" id="exitRate">0%</span></div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-sm-6 col-12 col-xl-12 mt-xl-3 mt-sm-0 mt-3">
                    <section class="panel">
                        <header class="panel-heading text-center">
                            <h2 class="h5">瀏覽器使用</h2>
                        </header>
                        <div class="row px-4">
                            <div class="col text-truncate"><a class="small">Google Chrome</a></div>
                            <div class="col-auto"><span class="badge badge-pill badge-main" id="chrome">0%</span></div>
                        </div>
                        <hr class="my-2 w-100">
                        <div class="row px-4">
                            <div class="col text-truncate"><a class="small">Mozila Firefox</a></div>
                            <div class="col-auto"><span class="badge badge-pill badge-warning" id="firefox">0%</span></div>
                        </div>
                        <hr class="my-2 w-100">
                        <div class="row px-4">
                            <div class="col text-truncate"><a class="small">Internet Explorer</a></div>
                            <div class="col-auto"><span class="badge badge-pill badge-info" id="ie">0%</span></div>
                        </div>
                        <hr class="my-2 w-100">
                        <div class="row px-4">
                            <div class="col text-truncate"><a class="small">Safari</a></div>
                            <div class="col-auto"><span class="badge badge-pill badge-success" id="safari">0%</span></div>
                        </div>
                        <hr class="my-2 w-100">
                    </section>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="row">
                <div class="col-sm-6 col-12 col-xl-12">
                    <section class="panel">
                        <header class="panel-heading mb-2">
                            <h2 class="h5">流量來源</h2>
                        </header>
                        <div class="panel-body px-0 pt-0 pb-2">
                            <div id="analyticsTraffic" style="        width: 100%;
        height: 186px;
        overflow: hidden;
        text-align: left;"><div class="amcharts-main-div" style="        position: relative;"><div class="amcharts-chart-div" style="        overflow: hidden;
        position: relative;
        text-align: left;
        width: 390px;
        height: 195px;
        padding: 0px;
        touch-action: auto;"><svg version="1.1" style="        position: absolute;
        width: 390px;
        height: 195px;
        top: 0px;
        left: 0px;"><desc>JavaScript chart by amCharts 3.21.3</desc><g><path cs="100,100" d="M0.5,0.5 L389.5,0.5 L389.5,194.5 L0.5,194.5 Z" fill="#FFFFFF" stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0"></path></g><g></g><g></g><g></g><g></g><g></g><g><g aria-label="Referral 推薦: 27.83% 59 " opacity="1" transform="translate(0,0)" visibility="visible"><path cs="1000,1000" d=" M195,97.5 L108.38770914061149,113.06634421078653 A88,88,0,0,1,194.9999999999999,9.5 L195,97.5 Z" fill="#84b761" stroke="#FFFFFF" stroke-width="2" stroke-opacity="1" fill-opacity="1"></path></g><g aria-label="Organic Search 搜尋: 40.09% 85 " opacity="1" transform="translate(0,0)" visibility="visible"><path cs="1000,1000" d=" M195,97.5 L195,9.5 A88,88,0,0,1,246.30219416207356,168.99884526449995 L195,97.5 Z" fill="#67b7dc" stroke="#FFFFFF" stroke-width="2" stroke-opacity="1" fill-opacity="1"></path></g><g aria-label="Direct 直接: 32.08% 68 " opacity="1" transform="translate(0,0)" visibility="visible"><path cs="1000,1000" d=" M195,97.5 L246.30219416207356,168.99884526449995 A88,88,0,0,1,108.38770914061149,113.06634421078653 L195,97.5 Z" fill="#fdd400" stroke="#FFFFFF" stroke-width="2" stroke-opacity="1" fill-opacity="1"></path></g></g><g></g><g></g><g></g><g></g><g></g><g><g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg><a href="http://www.amcharts.com/javascript-charts/" title="JavaScript charts" target="_self" style="        position: absolute;
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-family: Verdana;
        font-size: 11px;
        opacity: 0.7;
        display: block;
        left: 5px;
        top: 5px;"></a></div></div></div>
                            <div class="row pl-3 pr-1">
                                <div class="col-sm-8 col-xs-12">
                                    <span class="badge badge-info float-left clabels d-inline mt-1 mr-3 no-radius"></span>
                                    <div class="clabels-text d-inline txt-dark text-capitalize float-left"><span class="d-block font-weight-bold mb-1" id="organicPer"> %  搜索</span><span class="d-block text-muted small" id="organic">  訪問</span></div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <div class="float-right mb-1" id="traffic1" style="        width: 100%;
        height: 30px;
        overflow: hidden;
        text-align: left;">
                                        <div class="amcharts-main-div" style="        position: relative;">
                                            <div class="amcharts-chart-div" style="        overflow: hidden;
        position: relative;
        text-align: left;
        width: 103px;
        height: 30px;
        padding: 0px;
        touch-action: auto;
        cursor: default;">
                                                @*<svg version="1.1" style="position: absolute; width: 103px; height: 30px; top: 0px; left: 0.328125px;"><desc>JavaScript chart by amCharts 3.21.3</desc><g><path cs="100,100" d="M0.5,0.5 L102.5,0.5 L102.5,29.5 L0.5,29.5 Z" fill="#FFFFFF" stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0"></path><path cs="100,100" d="M0.5,0.5 L102.5,0.5 L102.5,29.5 L0.5,29.5 L0.5,0.5 Z" fill="#FFFFFF" stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0" transform="translate(0,0)"></path></g><g><g transform="translate(0,0)"></g><g transform="translate(0,0)" visibility="visible"></g></g><g transform="translate(0,0)" clip-path="url(#AmChartsEl-10)"><g visibility="hidden"></g></g><g></g><g></g><g></g><g><g transform="translate(0,0)" opacity="1" visibility="visible"><g></g><g clip-path="url(#AmChartsEl-12)"><path cs="100,100" d="M7.5,23.7 L22.5,27.56667 L36.5,19.83333 L51.5,17.9 L66.5,14.03333 L80.5,23.7 L95.5,6.3 M0,0 L0,0" fill="none" stroke-width="1" stroke-opacity="0.9" stroke="#67b7dc" stroke-linejoin="round"></path><path cs="100,100" d="M7.5,23.7 L22.5,27.56667 L36.5,19.83333 L51.5,17.9 L66.5,14.03333 L80.5,23.7 L95.5,6.3 L95.5,29.5 L7.5,29.5 L7.5,23.7 Z" fill="#67b7dc" stroke="#000" fill-opacity="0.2" stroke-width="1" stroke-opacity="0"></path></g><clipPath id="AmChartsEl-12"><rect x="0" y="0" width="102" height="29" rx="0" ry="0" stroke-width="0"></rect></clipPath><g></g></g></g><g></g><g><g><path cs="100,100" d="M0.5,0.5 L102.5,0.5" fill="none" stroke-width="1" stroke-opacity="0" stroke="#000000" transform="translate(0,29)"></path></g><g><path cs="100,100" d="M0.5,0.5 L0.5,29.5" fill="none" stroke-width="1" stroke-opacity="0" stroke="#000000" transform="translate(0,0)" visibility="visible"></path></g></g><g><g transform="translate(0,0)" clip-path="url(#AmChartsEl-11)" style="pointer-events: none;"><path cs="100,100" d="M0.5,0.5 L0.5,0.5 L0.5,29.5" fill="none" stroke-width="1" stroke-opacity="0.5" stroke="#67b7dc" visibility="hidden" transform="translate(4,0)"></path><path cs="100,100" d="M0.5,0.5 L102.5,0.5 L102.5,0.5" fill="none" stroke-width="1" stroke="#67b7dc" visibility="hidden" transform="translate(0,23)"></path></g><clipPath id="AmChartsEl-11"><rect x="0" y="0" width="102" height="29" rx="0" ry="0" stroke-width="0"></rect></clipPath></g><g></g><g><g transform="translate(0,0)" opacity="1" visibility="visible"></g></g><g><g></g></g><g><g transform="translate(0,0)" visibility="visible"><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(7,46.5)"><tspan y="6" x="0">2012-07-26T16:00:00.000Z</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(80,46.5)"><tspan y="6" x="0">2012-07-31T16:00:00.000Z</tspan></text></g><g transform="translate(0,0)" visibility="visible"><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,28)"><tspan y="6" x="0">10</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,18)"><tspan y="6" x="0">15</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,9)"><tspan y="6" x="0">20</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,-1)"><tspan y="6" x="0">25</tspan></text></g></g><g></g><g transform="translate(0,0)"></g><g></g><g></g><clipPath id="AmChartsEl-10"><rect x="-1" y="-1" width="104" height="31" rx="0" ry="0" stroke-width="0"></rect></clipPath></svg><a href="http://www.amcharts.com/javascript-charts/" title="JavaScript charts" style="position: absolute; text-decoration: none; color: rgb(0, 0, 0); font-family: Verdana; font-size: 11px; opacity: 0.7; display: block; left: 5px; top: 5px;"></a>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-2 w-100">
                            <div class="row pl-3 pr-1">
                                <div class="col-sm-8 col-xs-12">
                                    <span class="badge badge-warning float-left clabels d-inline mt-1 mr-3 no-radius"></span>
                                    <div class="clabels-text d-inline txt-dark text-capitalize float-left"><span class="d-block font-weight-bold mb-1" id="directPer"> %  直接</span><span class="d-block text-muted small" id="direct">  訪問</span></div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <div class="float-right mb-1" id="traffic2" style="        width: 100%;
        height: 30px;
        overflow: hidden;
        text-align: left;">
                                        <div class="amcharts-main-div" style="        position: relative;">
                                            <div class="amcharts-chart-div" style="        overflow: hidden;
        position: relative;
        text-align: left;
        width: 103px;
        height: 30px;
        padding: 0px;
        touch-action: auto;
        cursor: default;">
                                                @*<svg version="1.1" style="position: absolute; width: 103px; height: 30px; top: 0px; left: 0.328125px;"><desc>JavaScript chart by amCharts 3.21.3</desc><g><path cs="100,100" d="M0.5,0.5 L102.5,0.5 L102.5,29.5 L0.5,29.5 Z" fill="#FFFFFF" stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0"></path><path cs="100,100" d="M0.5,0.5 L102.5,0.5 L102.5,29.5 L0.5,29.5 L0.5,0.5 Z" fill="#FFFFFF" stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0" transform="translate(0,0)"></path></g><g><g transform="translate(0,0)"></g><g transform="translate(0,0)" visibility="visible"></g></g><g transform="translate(0,0)" clip-path="url(#AmChartsEl-16)"><g visibility="hidden"></g></g><g></g><g></g><g></g><g><g transform="translate(0,0)" opacity="1" visibility="visible"><g></g><g clip-path="url(#AmChartsEl-18)"><path cs="100,100" d="M7.5,14.03333 L22.5,23.7 L36.5,6.3 L51.5,23.7 L66.5,27.56667 L80.5,19.83333 L95.5,17.9 M0,0 L0,0" fill="none" stroke-width="1" stroke-opacity="0.9" stroke="#67b7dc" stroke-linejoin="round"></path><path cs="100,100" d="M7.5,14.03333 L22.5,23.7 L36.5,6.3 L51.5,23.7 L66.5,27.56667 L80.5,19.83333 L95.5,17.9 L95.5,29.5 L7.5,29.5 L7.5,14.03333 Z" fill="#67b7dc" stroke="#000" fill-opacity="0.2" stroke-width="1" stroke-opacity="0"></path></g><clipPath id="AmChartsEl-18"><rect x="0" y="0" width="102" height="29" rx="0" ry="0" stroke-width="0"></rect></clipPath><g></g></g></g><g></g><g><g><path cs="100,100" d="M0.5,0.5 L102.5,0.5" fill="none" stroke-width="1" stroke-opacity="0" stroke="#000000" transform="translate(0,29)"></path></g><g><path cs="100,100" d="M0.5,0.5 L0.5,29.5" fill="none" stroke-width="1" stroke-opacity="0" stroke="#000000" transform="translate(0,0)" visibility="visible"></path></g></g><g><g transform="translate(0,0)" clip-path="url(#AmChartsEl-17)" style="pointer-events: none;"><path cs="100,100" d="M0.5,0.5 L0.5,0.5 L0.5,29.5" fill="none" stroke-width="1" stroke-opacity="0.5" stroke="#67b7dc" visibility="hidden" transform="translate(91,0)"></path><path cs="100,100" d="M0.5,0.5 L102.5,0.5 L102.5,0.5" fill="none" stroke-width="1" stroke="#67b7dc" visibility="hidden" transform="translate(0,23)"></path></g><clipPath id="AmChartsEl-17"><rect x="0" y="0" width="102" height="29" rx="0" ry="0" stroke-width="0"></rect></clipPath></g><g></g><g><g transform="translate(0,0)" opacity="1" visibility="visible"></g></g><g><g></g></g><g><g transform="translate(0,0)" visibility="visible"><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(7,46.5)"><tspan y="6" x="0">2012-07-30T16:00:00.000Z</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(80,46.5)"><tspan y="6" x="0">2012-07-28T16:00:00.000Z</tspan></text></g><g transform="translate(0,0)" visibility="visible"><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,28)"><tspan y="6" x="0">10</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,18)"><tspan y="6" x="0">15</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,9)"><tspan y="6" x="0">20</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,-1)"><tspan y="6" x="0">25</tspan></text></g></g><g></g><g transform="translate(0,0)"></g><g></g><g></g><clipPath id="AmChartsEl-16"><rect x="-1" y="-1" width="104" height="31" rx="0" ry="0" stroke-width="0"></rect></clipPath></svg><a href="http://www.amcharts.com/javascript-charts/" title="JavaScript charts" style="position: absolute; text-decoration: none; color: rgb(0, 0, 0); font-family: Verdana; font-size: 11px; opacity: 0.7; display: block; left: 5px; top: 5px;"></a>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-2 w-100">
                            <div class="row pl-3 pr-1">
                                <div class="col-sm-8 col-xs-12">
                                    <span class="badge badge-success float-left clabels d-inline mt-1 mr-3 no-radius"></span>
                                    <div class="clabels-text d-inline txt-dark text-capitalize float-left"><span class="d-block font-weight-bold mb-1" id="referralPer"> %  推薦</span><span class="d-block text-muted small" id="referral">  訪問</span></div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <div class="float-right mb-1" id="traffic3" style="        width: 100%;
        height: 30px;
        overflow: hidden;
        text-align: left;">
                                        <div class="amcharts-main-div" style="        position: relative;">
                                            <div class="amcharts-chart-div" style="        overflow: hidden;
        position: relative;
        text-align: left;
        width: 103px;
        height: 30px;
        padding: 0px;
        touch-action: auto;
        cursor: default;">
                                                @*<svg version="1.1" style="position: absolute; width: 103px; height: 30px; top: 0px; left: 0.328125px;"><desc>JavaScript chart by amCharts 3.21.3</desc><g><path cs="100,100" d="M0.5,0.5 L102.5,0.5 L102.5,29.5 L0.5,29.5 Z" fill="#FFFFFF" stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0"></path><path cs="100,100" d="M0.5,0.5 L102.5,0.5 L102.5,29.5 L0.5,29.5 L0.5,0.5 Z" fill="#FFFFFF" stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0" transform="translate(0,0)"></path></g><g><g transform="translate(0,0)"></g><g transform="translate(0,0)" visibility="visible"></g></g><g transform="translate(0,0)" clip-path="url(#AmChartsEl-22)"><g visibility="hidden"></g></g><g></g><g></g><g></g><g><g transform="translate(0,0)" opacity="1" visibility="visible"><g></g><g clip-path="url(#AmChartsEl-24)"><path cs="100,100" d="M7.5,14.03333 L22.5,19.83333 L36.5,17.9 L51.5,23.7 L66.5,6.3 L80.5,23.7 L95.5,27.56667 M0,0 L0,0" fill="none" stroke-width="1" stroke-opacity="0.9" stroke="#67b7dc" stroke-linejoin="round"></path><path cs="100,100" d="M7.5,14.03333 L22.5,19.83333 L36.5,17.9 L51.5,23.7 L66.5,6.3 L80.5,23.7 L95.5,27.56667 L95.5,29.5 L7.5,29.5 L7.5,14.03333 Z" fill="#67b7dc" stroke="#000" fill-opacity="0.2" stroke-width="1" stroke-opacity="0"></path></g><clipPath id="AmChartsEl-24"><rect x="0" y="0" width="102" height="29" rx="0" ry="0" stroke-width="0"></rect></clipPath><g></g></g></g><g></g><g><g><path cs="100,100" d="M0.5,0.5 L102.5,0.5" fill="none" stroke-width="1" stroke-opacity="0" stroke="#000000" transform="translate(0,29)"></path></g><g><path cs="100,100" d="M0.5,0.5 L0.5,29.5" fill="none" stroke-width="1" stroke-opacity="0" stroke="#000000" transform="translate(0,0)" visibility="visible"></path></g></g><g><g transform="translate(0,0)" clip-path="url(#AmChartsEl-23)" style="pointer-events: none;"><path cs="100,100" d="M0.5,0.5 L0.5,0.5 L0.5,29.5" fill="none" stroke-width="1" stroke-opacity="0.5" stroke="#67b7dc" visibility="hidden" transform="translate(36,0)"></path><path cs="100,100" d="M0.5,0.5 L102.5,0.5 L102.5,0.5" fill="none" stroke-width="1" stroke="#67b7dc" visibility="hidden" transform="translate(0,16)"></path></g><clipPath id="AmChartsEl-23"><rect x="0" y="0" width="102" height="29" rx="0" ry="0" stroke-width="0"></rect></clipPath></g><g></g><g><g transform="translate(0,0)" opacity="1" visibility="visible"></g></g><g><g></g></g><g><g transform="translate(0,0)" visibility="visible"><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(7,46.5)"><tspan y="6" x="0">2012-07-30T16:00:00.000Z</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(80,46.5)"><tspan y="6" x="0">2012-07-26T16:00:00.000Z</tspan></text></g><g transform="translate(0,0)" visibility="visible"><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,28)"><tspan y="6" x="0">10</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,18)"><tspan y="6" x="0">15</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,9)"><tspan y="6" x="0">20</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,-1)"><tspan y="6" x="0">25</tspan></text></g></g><g></g><g transform="translate(0,0)"></g><g></g><g></g><clipPath id="AmChartsEl-22"><rect x="-1" y="-1" width="104" height="31" rx="0" ry="0" stroke-width="0"></rect></clipPath></svg><a href="http://www.amcharts.com/javascript-charts/" title="JavaScript charts" style="position: absolute; text-decoration: none; color: rgb(0, 0, 0); font-family: Verdana; font-size: 11px; opacity: 0.7; display: block; left: 5px; top: 5px;"></a>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="col-xl-6 mt-xl-0 mt-3">
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="h5 float-left">年度數量</h2>
                </header>
                <div class="panel-wrapper"></div>
                <div class="panel-body pb-4">
                    <div id="analyticsNetflow" style="        height: 353px;"></div>
                </div>
            </section>
        </div>
    </div>
    <!-- / row-->
    <!-- row    -->
    <div class="row text-center mt-3">
        <!-- col-->
        <div class="col-xl-4 col-md-6 col-sm-6">
            <section class="panel p-3 bg-main text-white">
                <div class="row">
                    <div class="col"><span class="d-block mb-1 h3" id="TodayOrganicSearches">0</span><span class="d-block">今日參觀</span></div>
                    <div class="col"><span class="icon-accessibility display-4"></span></div>
                </div>
            </section>
        </div>
        <!-- / col-->
        <!-- col-->
        @*<div class="col-xl-3 col-md-6 col-sm-6">
            <section class="panel p-3 bg-warning text-white">
                <div class="row">
                    <div class="col"><span class="d-block mb-1 h3">0</span><span class="d-block">客服信函</span></div>
                    <div class="col"><span class="icon-mail-envelope-open display-4"></span></div>
                </div>
            </section>
        </div>*@
        <!-- / col-->
        <!-- col-->
        <div class="col-xl-4 col-md-6 col-sm-6">
            <section class="panel p-3 bg-success text-white">
                <div class="row">
                    <div class="col"><span class="d-block mb-1 h3" id="totalPathViews">0</span><span class="d-block">總瀏覽次數</span></div>
                    <div class="col"><span class="icon-eye4 display-4"></span></div>
                </div>
            </section>
        </div>
        <!-- / col-->
        <!-- col-->
        <div class="col-xl-4 col-md-6 col-sm-6">
            <section class="panel p-3 bg-primary text-white">
                <div class="row">
                    <div class="col"><span class="d-block mb-1 h3" id="totalOrganicSearches">0</span><span class="d-block">總流量</span></div>
                    <div class="col"><span class="icon-eye2 display-4"></span></div>
                </div>
            </section>
        </div>
        <!-- / col-->
    </div>
    <!-- / row-->
    <!-- row  -->
    <div class="row mt-3">
        @*<div class="col-xl-4 col-lg-6 col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="h5 float-left">熱門頁面</h2>
                </header>
                <div class="panel-wrapper" style="        height: 311px;">
                    <div class="panel-body">
                        <div class="table-responsive-sm">
                            <table class="table">
                                <thead class="font-weight-bold">
                                    <tr>
                                        <th class="text-center" width="10%">#</th>
                                        <th class="text-nowrap">網頁</th>
                                        <th class="text-center" width="10%">瀏覽量</th>
                                        <th class="text-center" width="15%">平均停留時間</th>
                                    </tr>
                                </thead>
                                <tbody id="HotPages">                                    
                                    <tr>
                                        <td class="text-center" scope="row" colspan="4">No Data</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>*@
        <div class="col-xl-6 col-lg-6 col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="h5 float-left">熱門關鍵字</h2>
                </header>
                <div class="panel-wrapper" style="        height: 311px;">
                    <div class="panel-body">
                        <div class="table-responsive-sm">
                            <table class="table">
                                <thead class="font-weight-bold">
                                    <tr>
                                        <th width="10%">#</th>
                                        <th>關鍵字</th>
                                        <th width="15%">次數</th>
                                    </tr>
                                </thead>
                                <tbody id="keywordAppend">
                                    <tr>
                                        <td class="text-center" scope="row" colspan="4">No Data</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-xl-6 col-lg-6 col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="h5 float-left">瀏覽年齡層</h2>
                </header>
                <div class="panel-wrapper" style="        height: 311px;">
                    <div class="panel-body pb-4">
                        <div id="analyticsAge" style="        height: 285px;"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- / row-->
    <!-- / layout-content-->
</div>

@section scripts {

    <!--page index-->
    @Scripts.Render("~/Content/Siteadmin/scripts/index2.js")

}