﻿@{
    Layout = "~/Views/Siteadmin/Shared/_Layout.cshtml";

    Web.Models.system_menu system_menu = ViewBag.system_menu_data;
}

<div class="content-body">
    <!-- layout-content-->
    <section class="panel panel-default">
        <header class="panel-heading">
            <h1 class="h5 float-left font-weight-bold">@Html.Raw(system_menu.title) @ViewBag.addTitle</h1>

            <div class="float-right">
                @if (system_menu.can_add == "Y" && ViewBag.permissions[ViewBag.system_menu_data.guid] == "F")
                {
                    <a class="btn btn-sm btn-main" title="新增" href="@Url.Content("~/siteadmin/" + ViewBag.Tables + "/edit" + ViewBag.addId)"><i class="icon-plus2"></i><span class="ml-1 d-none d-md-inline-block">新增</span></a>
                }

                @if (ViewBag.permissions[ViewBag.system_menu_data.guid] == "F")
                {
                    <div class="btn-group btn-group-sm dropdown" role="group">
                        <button class="btn btn-main dropdown-toggle" id="tableAction" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="批次"><i class="icon-hammer"></i><span class="ml-1 d-none d-md-inline-block">批次</span></button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="tableAction">
                            @if (ViewBag.Tables == "query_custome")
                            {
                                <button class="dropdown-item printAll" href="#" data-status="Y"><i class="icon-printer-text mr-2 text-muted"></i>列印</button>
                            }
                            <button class="dropdown-item changeAll" href="#" data-status="D"><i class="icon-trashcan mr-2 text-muted"></i>刪除</button>

                            @if (ViewBag.Tables != "ashcan")
                            {
                                <button class="dropdown-item changeAll" href="#" data-status="Y"><i class="icon-eye mr-2 text-muted"></i>啟用</button>
                                <button class="dropdown-item changeAll" href="#" data-status="N"><i class="icon-cancel mr-2 text-muted"></i>停用</button>
                            }
                            else
                            {
                                <button class="dropdown-item changeAll" href="#" data-status="Y"><i class="icon-eye mr-2 text-muted"></i>還原</button>
                            }

                            <!--

                            <button class="dropdown-item mt-sweetalert" href="#" data-title="是否確認複製" data-type="info" data-show-confirm-button="true" data-confirm-button-class="btn-danger" data-show-cancel-button="true" data-cancel-button-class="btn-outline-default" data-close-on-confirm="false" data-confirm-button-text="確認" data-cancel-button-text="取消" data-popup-title-success="複製完成" data-popup-message-success="您的動作已完成"><i class="icon-copy mr-2 text-muted"></i>複製</button><a class="dropdown-item tool-action" href="javascript:;" data-action="0"><i class="icon-printer-text2 mr-2 text-muted"></i>列印</a><a class="dropdown-item tool-action" href="javascript:;" data-action="2"><i class="icon-file-pdf mr-2 text-muted"></i>PDF</a><a class="dropdown-item tool-action" href="javascript:;" data-action="2"><i class="icon-file-excel mr-2 text-muted"></i>EXCEL</a>
                            -->
                        </div>
                    </div>
                }

                @if (ViewBag.RetuenToList == "Y")
                {
                    string reTables = ViewBag.Tables;
                    if (reTables == "cases_city_history")
                    {
                        reTables = "cases_city";
                    }
                    if (reTables == "progress_info")
                    {
                        reTables = "progress_cases";
                    }

                    <button class="btn btn-sm btn-light" type="button" onclick="window.location.href='@Url.Content("~/siteadmin/" + reTables + "/list")'" title="返回"><i class="icon-undo2"></i><span class="ml-1 d-none d-md-inline-block">返回</span></button>

                }
            </div>
        </header>
        <div class="panel-wrapper">
            <div class="panel-body">
                @if (ViewBag.listMessage != "")
                {
                    <div class="note note-edfault">@Html.Raw(ViewBag.listMessage)</div>

                }

                <div class="table-toolbar row">
                    <div class="col-md-auto">
                        <div class="dataTablesSearch row no-gutters">
                            <label class="col-auto mr-2"><i class="icon-search i-o align-middle h3 mb-0 p-0"></i>搜尋</label>
                            <div class="col col-md-auto mr-1">
                                <input class="form-control form-control-sm table-search-input keywordsInput" type="search" placeholder="關鍵字" aria-controls="tableList" value="@ViewBag.keyword" />
                            </div>

                            <div class="col-auto mr-1">
                                <a class="btn btn-sm btn-main keywordSearch" title="新增" href="#1"><i class="icon-search"></i><span class="ml-1 d-none d-md-inline-block">搜尋</span></a>
                                <a class="btn btn-sm btn-main keywordDelete" title="刪除" href="#1"><i class="icon-reload"></i><span class="ml-1 d-none d-md-inline-block">重置</span></a>
                            </div>
                        </div>
                    </div>
                    @if ((ViewBag.system_menu_data.category_table != null && ViewBag.system_menu_data.category_table.ToString() != "") || ViewBag.statusData != null)
                    {

                        <div class="col-md">
                            <div class="datatableFilter row no-gutters justify-content-end text-nowrap">

                                @if (ViewBag.Tables == "query_custome")
                                {
                                    <div class="col-auto mr-1">
                                        <a class="btn btn-sm btn-main reportDownload" title="產生資料" href="#1"><i class="icon-download"></i><span class="ml-1 d-none d-md-inline-block">整批下載</span></a>
                                    </div>
                                    <div class="col col-md-auto mr-1">
                                        <input class="form-control form-control-sm table-search-input reportNumberInput" type="search" placeholder="公司名稱" aria-controls="tableList" />
                                    </div>
                                    <div class="col col-md-auto mr-1">
                                        <input class="form-control form-control-sm table-search-input reportStartDateInput" type="date" placeholder="體檢起始日" aria-controls="tableList" />
                                    </div>
                                    <div class="col col-md-auto mr-1">
                                        <input class="form-control form-control-sm table-search-input reportEndDateInput" type="date" placeholder="體檢結束日" aria-controls="tableList" />
                                    </div>
                                    <div class="col col-md-auto mr-1">
                                        <input class="form-control form-control-sm table-search-input reportNameInput" type="search" placeholder="姓名" aria-controls="tableList" />
                                    </div>

                                    <div class="col-auto mr-1">
                                        <a class="btn btn-sm btn-main reportGet" title="產生資料" href="#1"><i class="icon-search"></i><span class="ml-1 d-none d-md-inline-block">產生報告書</span></a>
                                    </div>
                                }

                                <label class="col-auto mr-1"><i class="icon-narrow i-o align-middle h3 mb-0 p-0"></i>檢視</label>
                                @if (ViewBag.system_menu_data.category_table != null && ViewBag.system_menu_data.category_table.ToString() != "")
                                {
                                    string[] category_table = ViewBag.system_menu_data.category_table.ToString().Split(',');

                                    ViewBag.category = Web.Service.TablesService.getCategory(category_table[0].ToString());

                                    <div class="col col-md-auto ml-1">
                                        <select class="bs-select form-control min-w-select categorySearch" data-live-search="true" data-size="8" data-style="btn-outline-light btn-sm">
                                            <option value="" selected="selected">全部分類</option>
                                            @if (ViewBag.category != null)
                                            {
                                                foreach (var item in ViewBag.category)
                                                {
                                                    <option value="@item.guid" @if (category_table.Length > 1) { @Html.Raw("disabled") }>
                                                        @item.title
                                                    </option>
                                                    if (category_table.Length > 1)
                                                    {
                                                        for (int i = 1; i < category_table.Length; i++)
                                                        {
                                                            Dictionary<String, Object> data = new Dictionary<String, Object>();

                                                            var nextItem = Web.Service.TablesService.getCategory(category_table[i].ToString(), item);
                                                            if (ViewBag.category != null)
                                                            {
                                                                foreach (var subItem in nextItem)
                                                                {
                                                                    <option value="@subItem.guid">@Html.Raw(" └" + subItem.title)</option>

                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                }

                                @if (ViewBag.Tables == "forum_message")
                                {

                                    <div class="col col-md-auto ml-1">
                                        <select class="bs-select form-control min-w-select returnStatusSearch" data-live-search="true" data-size="8" data-style="btn-outline-light btn-sm">
                                            <option value="" selected="selected">全部回覆狀態</option>
                                            <option value="Y">已回覆</option>
                                            <option value="N">尚未回覆</option>
                                        </select>
                                    </div>

                                }

                                @if (ViewBag.statusData != null)
                                {
                                    string[] statusData = ViewBag.statusData;
                                    string[] statusVal = ViewBag.statusVal;

                                    <div class="col col-md-auto ml-1">
                                        <select class="bs-select form-control min-w-select statusSearch" data-live-search="true" data-size="8" data-style="btn-outline-light btn-sm">
                                            <option value="" selected="selected">全部狀態</option>
                                            @for (int i = 0; i < statusData.Length; i++)
                                            {
                                                <option value="@statusVal[i]">@Html.Raw(statusData[i])</option>
                                            }
                                        </select>
                                    </div>
                                }
                            </div>
                        </div>

                    }
                </div>

                <div class="progress active" id="isprogress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                </div>

                <table class="table table-striped table-bordered dt-responsive nowrap datatables" style="width:100%" id="tableList">
                    <thead>
                        <tr>
                            @foreach (KeyValuePair<string, object> item in ViewBag.dataTableTitle)
                            {
                                if (item.Key == "guid" && item.Value.ToString() == "Y")
                                {
                                    <th class="nosort w-3">
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input group-checkable" type="checkbox" value="1" aria-label="選取" data-set="#tableList .checkboxes" id="selectall" />
                                            <label class="custom-control-label" for="selectall"></label>
                                        </div>
                                    </th>
                                }
                                else if (item.Key == "pic" || item.Key == "icon")
                                {
                                    <th class="nosort w-5 d-none d-sm-table-cell">
                                        @Html.Raw(item.Value.ToString())
                                    </th>
                                }
                                else if (item.Key == "info")
                                {
                                    <th class="min-tablet-p">
                                        @Html.Raw(item.Value.ToString())
                                    </th>
                                }
                                else if (item.Key == "status" || item.Key.IndexOf("date") != -1 || item.Key == "action" || item.Key == "view" || item.Key == "sortIndex")
                                {
                                    <th class="w-5">
                                        @Html.Raw(item.Value.ToString())
                                    </th>
                                }
                                else if (item.Key == "category")
                                {
                                    <th class="w-20">
                                        @Html.Raw(item.Value.ToString())
                                    </th>
                                }
                                else
                                {

                                    <th>
                                        @Html.Raw(item.Value.ToString())
                                    </th>
                                }
                            }
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </section>
    <!-- / layout-content-->
</div>

<input type="hidden" id="tables" value="@ViewBag.Tables" />
@section scripts {
    <!--page index-->
    <!-- * * * DataTables 表格-->
    @Scripts.Render("~/Content/Siteadmin/modules/datatables/datatables.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/datatables/dataTables.responsive.min.js")
    <!-- * * form -->
    <!-- * * * ckeditor 編輯器-->
    @Scripts.Render("~/Content/Siteadmin/modules/ckeditor/ckeditor.js")
    <!-- * * * Bootstrap Daterangepicker 日期區間-->
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-daterangepicker-master/moment.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-daterangepicker-master/daterangepicker.js")
    <!-- * * * bootstrap-select 下拉選單-->
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-select/bootstrap-select.js ")
    <!-- * * * multiselect 分類左右選擇 select multiple-->
    @Scripts.Render("~/Content/Siteadmin/modules/multiselect/js/jquery.multi-select.js")
    <!-- * * * multiselect 分類左右選擇 搜尋框 jquery-quicksearch-->
    @Scripts.Render("~/Content/Siteadmin/modules/quicksearch-master/jquery.quicksearch.js")
    @Scripts.Render("~/Content/Siteadmin/modules/select2/js/select2.full.min.js")
    <!-- * * * typeahead 建議字詞清單 typeahead.bundle.js-->
    @Scripts.Render("~/Content/Siteadmin/modules/typeahead/typeahead.bundle.js")
    <!-- * * * validate 表單驗證-->
    @Scripts.Render("~/Content/Siteadmin/modules/validate/jquery.validate.js")
    @Scripts.Render("~/Content/Siteadmin/modules/validate/additional-methods.js")
    <!-- * * * inputmask 表單格式-->
    @Scripts.Render("~/Content/Siteadmin/modules/inputmask/jquery.inputmask.bundle.min.js")
    <!-- * * * jquery.repeater.min.js 新增欄位-->
    @Scripts.Render("~/Content/Siteadmin/modules/repeater/jquery.repeater.min.js")
    <!-- * * * bootstrap-colorpicker-master 顏色選取-->
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-colorpicker-master/js/bootstrap-colorpicker.min.js")
    <!-- * * * nestable 排序拖曳-->
    @Scripts.Render("~/Content/Siteadmin/modules/nestable/jquery.nestable.js")
    <!-- * * * dropzonejs 檔案上傳-->
    @Scripts.Render("~/Content/Siteadmin/modules/dropzonejs/dropzone.js")
    <!-- * * * Jcrop Image Cropping Plugin 圖片座標截圖 -->
    @Scripts.Render("~/Content/Siteadmin/modules/jcrop/jquery.Jcrop.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/jcrop/jquery.color.js")
    <!-- * * * ammap 分析統計圖-->
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/ammap.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/maps/js/worldLow.js")
    <!-- * * * amcharts 分析統計圖-->
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/amcharts.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/pie.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/serial.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/plugins/export/export.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/plugins/dataloader/dataloader.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/themes/light.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/lib/amstock.js")
    <!-- * * * bootstrap-datepicker 日曆-->
    <!--@Scripts.Render("~/Content/Siteadmin/modules/bootstrap-datepicker/bootstrap-datepicker.min.js")-->
    <!-- * * * bootstrap-year-calendar 年曆-->
    <!-- @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-year-calendar/js/bootstrap-year-calendar.js")
     @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-year-calendar/js/languages/bootstrap-year-calendar.tw.js")-->
    @Scripts.Render("~/Content/Siteadmin/scripts/form.js")
    @Scripts.Render("~/Content/Siteadmin/scripts/validate.js")

    @Scripts.Render("~/Content/Siteadmin/scripts/typeahead.js")
    <!-- /  layout-js-->
<script>
    $(document).ready(function () {
        $('#isprogress').attr('hidden', true);
        $.extend($.fn.dataTable.defaults, {
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.childRowImmediate,
                    type: ''
                }
            },
        });

        var table = $(".datatables");
        table.each(function () {
            var that = $(this);
            that.dataTable({
                sAjaxSource: '@Url.Content("~/siteadmin/" + ViewBag.Tables + "/dataTable")',

                    fnServerParams: function(aoData) {
                        aoData.push( @Html.Raw(ViewBag.dataTableAddPostVal) );
                    },

                sPaginationType: "full_numbers",
                checkAllId: "checkAll",
                bProcessing: true,
                bServerSide: true,
                pageLength: 20,
                language: {
                    aria: {
                        sortAscending: ": 生序",
                        sortDescending: ": 降序"
                    },

                    emptyTable: "無資料",
                    info: "<span class='text-muted'> ，在 _START_ 到 _END_ 筆，全部 _TOTAL_ 筆</span>",
                    infoEmpty: "無資料",
                    //infoFiltered: "(篩選1 from _MAX_ total 筆)",
                    infoFiltered :"",
                    lengthMenu: "<span class='mr-1 text-muted'>每頁</span>  _MENU_",
                    search: "<i class='icon-search'></i> 搜尋：",
                    zeroRecords: "無資料",
                    paginate: {
                        previous: "<i class='icon-keyboard_arrow_left'></i>",
                        next: "<i class='icon-keyboard_arrow_right'></i>",
                        last: "<i class='icon-last_page'></i>",
                        first: "<i class='icon-first_page'></i>"
                    }
                },
                buttons: [{
                    extend: "print",
                    className: "btn dark btn-outline"
                }, {
                    extend: "copy",
                    className: "btn red btn-outline"
                }, {
                    extend: "pdf",
                    className: "btn green btn-outline"
                }, {
                    extend: "excel",
                    className: "btn yellow btn-outline "
                }, {
                    extend: "csv",
                    className: "btn purple btn-outline "
                }, {
                    extend: "colvis",
                    className: "btn dark btn-outline",
                    text: "欄位"
                }],

                lengthMenu: [
                    [10, 20, 50, 100, 150, -1],
                    [10, 20, 50, 100, 150, "All"]
                ],

                dom: 't<"row mt-1 align-items-center"<"col-md-6 text-center text-md-left"li><"col-md-6 text-center text-md-right"p>>',
                order: [
                    [@ViewBag.defaultOrderBy, "@ViewBag.defaultOrderType"]
                ],
                columns:[@Html.Raw(ViewBag.columns)],
                columnDefs: [{
                    "targets": [0, @ViewBag.columnsLength],
                    "orderable": false
                }]

            });

            $(".datatables").on('draw.dt', function () {
                $(".imgFill").each(function () {
                    $(this).imgLiquid();
                });
            });

            /* datatables -輸出按鈕*/
            $("#datatableTools a.tool-action").on("click", function () {
                var e = $(this).attr("data-action");
                that.DataTable().button(e).trigger();
            });

        });

        //撈取報告書
        $("body").delegate(".reportGet", "click", function () {
            ShowProgressBar("GetData");
            var number = $('.reportNumberInput').val();
            var startdate = $('.reportStartDateInput').val();
            var enddate = $('.reportEndDateInput').val();
            var name = $('.reportNameInput').val();

            if (number !== '' || number !== "" || name != '' || name != "") {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetData", "Siteadmin")',
                    data: { CustomerName: number, StartDate: startdate, EndDate: enddate, Name: name },
                    success: function (data) {
                        if (data == 'Success') {
                            HideProgressBar();
                            swal({
                                title: "系統資訊",
                                text: "成功讀取資料",
                                type: "success",
                                showCancelButton: false,
                                confirmButtonText: "確定",
                                closeOnConfirm: false
                            }, function () {
                                window.location.reload();
                            });
                        }
                        else if (data == 'Fail') {
                            HideProgressBar();
                            swal({
                                title: "系統資訊",
                                text: "資料已建立",
                                type: "error",
                                showCancelButton: false,
                                confirmButtonText: "確定",
                                closeOnConfirm: false
                            });
                        }
                        else if (data == 'Error') {
                            HideProgressBar();
                            swal({
                                title: "系統資訊",
                                text: "資料讀取失敗，請確認是否填寫正確。",
                                type: "error",
                                showCancelButton: false,
                                confirmButtonText: "確定",
                                closeOnConfirm: false
                            });
                        }
                    }
                });
            }
            else {
                HideProgressBar();
                 swal({
                    title: "系統資訊",
                    text: "資料讀取失敗，請確認是否填寫正確。",
                    type: "error",
                    showCancelButton: false,
                    confirmButtonText: "確定",
                    closeOnConfirm: false
                });
            }
        });

        //
        $("body").delegate(".reportDownload", "click", function () {
            $('#isprogress').attr('hidden', false);
            var startdate = $('.reportStartDateInput').val();
            var enddate = $('.reportEndDateInput').val();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Print", "Siteadmin")',
                    data: { bid: "", userid: "all", startdate: startdate, enddate: enddate},
                    success: function (data) {
                        swal({
                            title: "系統資訊",
                            text: "成功讀取資料",
                            type: "success",
                            showCancelButton: false,
                            confirmButtonText: "確定",
                            closeOnConfirm: false
                        }, function () {
                            window.location.reload();
                        });
                    }
                });
        });

        //批次列印
        $("body").delegate(".printAll", "click", function () {
            var guid = "";
            var title = "";
            var barcode = "";
            //ShowProgressBar("Print");
            $('.selectAll').each(function () {
                if ($(this).prop('checked')) {
                    guid = guid + $(this).val() + ',';
                    title = title + $(this).attr('data-title') + '|';
                    barcode = barcode + $(this).attr('barcode') + ',';
                }
            });

            if (guid == "") {
                HideProgressBar();
                swal({
                    title: "系統訊息",
                    text: "請至少選擇一項須執行動作之項目!",
                    type: "error",
                    showCancelButton: false,
                    confirmButtonColor: "#e7505a",
                    confirmButtonText: "確定!",
                    closeOnConfirm: false,
                    cancelButtonText: "取消",
                });
                return false;
            }
            else {

                //window.open("http://localhost:9283/Siteadmin/PrintAll?barcodelist=" + barcode);
                //window.open("http://iis.24241872.tw/projects/public/m000283/test/siteadmin/PrintAll?barcodelist=" + barcode);

                window.open("http://medirep.mornjoy.com.tw/Siteadmin/PrintAll?barcodelist=" + barcode);
            }

            //HideProgressBar();
        });

         // 顯示讀取遮罩
        function ShowProgressBar(Type) {
            displayProgress(Type);
            displayMaskFrame();
        }

        // 隱藏讀取遮罩
        function HideProgressBar() {
            var progress = $('#divProgress');
            var maskFrame = $("#divMaskFrame");
            progress.hide();
            maskFrame.hide();
        }

        // 顯示讀取畫面
        function displayProgress(Type) {
            var w = $(document).width();
            var h = $(window).height();

            if (Type == "GetData") {
                $(".masktext").text("資料處理中，請稍後...");
            }
            else if (Type == "Print") {
                $(".masktext").text("產生列印資料中，請稍後...");
            }
            var progress = $('#divProgress');
            progress.css({ "z-index": 999999, "top": (h / 2) - (progress.height() / 2), "left": (w / 2) - (progress.width() / 2) });
            progress.show();
        }

        // 顯示遮罩畫面
        function displayMaskFrame() {
            var w = $(window).width();
            var h = $(document).height();
            var maskFrame = $("#divMaskFrame");
            maskFrame.css({ "z-index": 999998, "opacity": 0.7, "width": w, "height": h });
            maskFrame.show();
        }
    });
</script>

}