﻿@model Web.ViewModel.HomeViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]> <html class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="zh">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@Model.WebData_ViewModel.title</title>
    <meta name="author" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="~/Content/styles/images/ico.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/style.css">
    <!-- <link rel="stylesheet" type="text/css" href="styles/test.css"> -->
    <style>
        .sub {
            font-size: 15px;
        }
    </style>
</head>

<body>
    <article class="report reportPrint">
        <!--==========================================================================
          * page-front 封面
        ==========================================================================-->
        <section class="print-Box A4-nomodify" id="page-front">
            <div class="mobilebg hide-t-up"></div>
            <div class="title">
                <img src="~/Content/styles/images/logo.png" alt="晨悅預防醫學機構">
                <h1>健康檢查報告書</h1>
                <h2>健康人生 攜手晨悅</h2>
            </div>
            <div class="txt fz20 hide-t-under">
                @*<p>諮詢專線:<strong> @Model.WebData_ViewModel.service_line</strong></p>
                    <p>掛號專線:<strong> @Model.WebData_ViewModel.registered_line</strong></p>
                    <p>網路掛號:<strong> @Model.WebData_ViewModel.network_registration</strong></p>*@

                <p>客服專線:<strong>04-22552555#168</strong></p>
                <p>晨悅官網:<strong>www.mornjoy.com.tw</strong></p>
            </div>
        </section>

        <!--==========================================================================
            * page - body 人體模型
        ==========================================================================-->
        <section class="print-Box A4-nomodify" id="page-body">
            <div class="txt fz16 hide-t-up noprint">
                @*<p>諮詢專線:<strong> @Model.WebData_ViewModel.service_line</strong></p>
                    <p>掛號專線:<strong> @Model.WebData_ViewModel.registered_line</strong></p>
                    <p>網路掛號:<strong> @Model.WebData_ViewModel.network_registration</strong></p>*@

                <p>客服專線:<strong>04-22552555#168</strong></p>
                <p>晨悅官網:<strong>www.mornjoy.com.tw</strong></p>
            </div>
            <div class="headerbox">
                <div class="title">
                    系統總覽<p>System Overview</p>
                </div>
                <div class="sub">以器官系統性的分類，顯示異常項目的數量與嚴重度，以幫助您對自已的身體健康狀態，有完整的了解。</div>
            </div>
            <div class="main">
                <div class="inner">
                    <div class="leftbox">
                        @{
                            var num_left = 1;
                        }
                        @foreach (var item in Model.SystemOverview_Left_ViewModel)
                        {
                            <div class="box @Html.Raw("left" + num_left)">
                                @item.Key
                                <p>@item.Value 項異常</p>
                            </div>
                            num_left++;
                        }
                    </div>
                    <div class="rightbox">
                        @{
                            var num_right = 1;
                        }
                        @foreach (var item in Model.SystemOverview_Right_ViewModel)
                        {
                            <div class="box @Html.Raw("right" + num_right)">
                                @item.Key
                                <p>@item.Value 項異常</p>
                            </div>
                            num_right++;
                        }
                    </div>
                    <div class="dollbody"><img src="~/Content/styles/images/males.png" alt=""></div>
                </div>
            </div>
        </section>

        <!--==========================================================================
            * page - catalog 目錄
        ==========================================================================-->
        <section class="print-Box A4-nomodify hide-t-under" id="page-catalog">
            @{
                var menu_number = 1;
            }
            <div class="headerbox">目錄</div>
            <div class="main">
                <div class="list">
                    @if (Model.BasicAssessment_ViewModel != null)
                    {
                        <div class="title">@menu_number.ToString("00") - 基礎評估<a href="#Assessment"><span class="pagenum" title="Assessment"></span></a></div>
                        menu_number++;
                    }

                    @if (Model.Abnormality_ViewModel != null)
                    {
                        <div class="title">@menu_number.ToString("00") - 異常清單<a href="#Suggestions"><span class="pagenum" title="Suggestions"></span></a></div>
                        menu_number++;
                    }

                    @if (Model.Physical_ViewModel != null)
                    {
                        <div class="title">@menu_number.ToString("00") - 理學檢查<a href="#PhysicalExamination"><span class="pagenum" title="PhysicalExamination"></span></a></div>
                        menu_number++;
                        foreach (var item in Model.Physical_ViewModel)
                        {
                            <div class="subtitle"><span class="sub">@item.Key<a href="#@item.Key"><span class="pagenum" title="@item.Key"></span></a></div>
                        }
                    }

                    @if (Model.Examine_ViewModel != null)
                    {

                        <div class="title">@menu_number.ToString("00") - 檢驗<a href="#Examine"><span class="pagenum" title="Examine"></span></a></div>
                        menu_number++;
                        foreach (var item in Model.Examine_ViewModel)
                        {
                            <div class="subtitle"><span class="sub">@item.Key<a href="#@item.Key"><span class="pagenum" title="@item.Key"></span></a></div>

                        }
                    }

                    @if (ViewBag.ImagingData >= 1)
                    {
                        <div class="title">@menu_number.ToString("00") - 影像檢查<a href="#Imaging"><span class="pagenum" title="Imaging"></span></a></div>
                        menu_number++;
                        @*超音波*@
                        if (Model.Ultrasound_ViewModel != null && Model.Ultrasound_ViewModel.Count() != 0)
                        {
                            <div class="subtitle"><span class="sub">超音波</span><a href="#Ultrasound"><span class="pagenum" title="Ultrasound"></span></a></div>
                            foreach (var item in Model.Ultrasound_ViewModel)
                            {
                                <div class="item"><span class="sub">@item.name</span><a href="#@item.itemno"><span class="pagenum" title="@item.itemno"></span></a></div>
                            }
                        }

                        @*數位斷層合成掃描*@
                        if (Model.Digital_ViewModel != null && Model.Digital_ViewModel.Count() != 0)
                        {
                            <div class="subtitle"><span class="sub">數位斷層合成掃描</span><a href="#Digital"><span class="pagenum" title="Digital"></span></a></div>
                            foreach (var item in Model.Digital_ViewModel)
                            {
                                <div class="item"><span class="sub">@item.name</span><a href="#@item.itemno"><span class="pagenum" title="@item.itemno"></span></a></div>

                            }
                        }

                        @*胸部能量減影*@
                        if (Model.ChestDualEnergy_ViewModel != null && Model.ChestDualEnergy_ViewModel.Count() != 0)
                        {
                            <div class="subtitle"><span class="sub">胸部能量減影</span><a href="#ChestDualEnergy"><span class="pagenum" title="ChestDualEnergy"></span></a></div>
                            foreach (var item in Model.ChestDualEnergy_ViewModel)
                            {
                                <div class="item"><span class="sub">@item.name</span><a href="#@item.itemno"><span class="pagenum" title="@item.itemno"></span></a></div>
                            }
                        }

                        @*一般X光*@
                        if (Model.Xray_ViewModel != null && Model.Xray_ViewModel.Count() != 0)
                        {
                            <div class="subtitle"><span class="sub">一般X光</span><a href="#Xray"><span class="pagenum" title="Xray"></span></a></div>
                            foreach (var item in Model.Xray_ViewModel)
                            {
                                <div class="item"><span class="sub">@item.name</span><a href="#@item.itemno"><span class="pagenum" title="@item.itemno"></span></a></div>
                            }
                        }

                        @*三連片*@
                        if (Model.Triple_ViewModel != null && Model.Triple_ViewModel.Count() != 0)
                        {
                            <div class="subtitle"><span class="sub">三連片</span><a href="#Triple"><span class="pagenum" title="Triple"></span></a></div>
                            foreach (var item in Model.Triple_ViewModel)
                            {
                                <div class="item"><span class="sub">@item.name</span><a href="#@item.itemno"><span class="pagenum" title="@item.itemno"></span></a></div>
                            }
                        }

                        @*內視鏡*@
                        if (Model.Endoscope_ViewModel != null && Model.Endoscope_ViewModel.Count() != 0)
                        {
                            <div class="subtitle"><span class="sub">內視鏡</span><a href="#Endoscope"><span class="pagenum" title="Endoscope"></span></a></div>
                            foreach (var item in Model.Endoscope_ViewModel)
                            {
                                <div class="item"><span class="sub">@item.name</span><a href="#@item.itemno"><span class="pagenum" title="@item.itemno"></span></a></div>
                            }
                        }

                        @*身體組成分析*@
                        if (Model.Body_ViewModel != null && Model.Body_ViewModel.Count() != 0)
                        {

                            <div class="subtitle"><span class="sub">身體組成分析</span><a href="#Body"><span class="pagenum" title="Body"></span></a></div>
                            foreach (var item in Model.Body_ViewModel)
                            {
                                <div class="item"><span class="sub">@item.name</span><a href="#@item.itemno"><span class="pagenum" title="@item.itemno"></span></a></div>
                            }
                        }

                        @*心電圖*@
                        if (Model.Electrocardiogram_ViewModel != null && Model.Electrocardiogram_ViewModel.Count() != 0)
                        {
                            <div class="subtitle"><span class="sub">心電圖</span><a href="#Electrocardiogram"><span class="pagenum" title="Electrocardiogram"></span></a></div>
                            foreach (var item in Model.Electrocardiogram_ViewModel)
                            {
                                <div class="item"><span class="sub">@item.name</span><a href="#@item.itemno"><span class="pagenum" title="@item.itemno"></span></a></div>
                            }
                        }

                        @*自律神經檢查*@
                        if (Model.Autonomic_ViewModel != null && Model.Autonomic_ViewModel.Count() != 0)
                        {
                            <div class="subtitle"><span class="sub">自律神經檢查</span><a href="#Autonomic"><span class="pagenum" title="Autonomic"></span></a></div>
                            foreach (var item in Model.Autonomic_ViewModel)
                            {
                                <div class="item"><span class="sub">@item.name</span><a href="#@item.itemno"><span class="pagenum" title="@item.itemno"></span></a></div>
                            }
                        }

                        @*眼底攝影*@
                        if (Model.Fundus_ViewModel != null && Model.Fundus_ViewModel.Count() != 0)
                        {
                            <div class="subtitle"><span class="sub">眼底攝影</span><a href="#Fundus"><span class="pagenum" title="Fundus"></span></a></div>
                            foreach (var item in Model.Fundus_ViewModel)
                            {
                                <div class="item"><span class="sub">@item.name</span><a href="#@item.itemno"><span class="pagenum" title="@item.itemno"></span></a></div>
                            }
                        }
                    }

                    @if (Model.Other_ViewModel != null && Model.Other_ViewModel.Count() != 0)
                    {

                        <div class="title">@menu_number.ToString("00") - 其他檢查<a href="#Other"><span class="pagenum" title="Other"></span></a></div>
                        menu_number++;
                        foreach (var item in Model.Other_ViewModel)
                        {
                            <div class="subtitlt"><span class="sub">@item.Key</span><a href="#@item.Key"><span class="pagenum" title="@item.Key"></span></a></div>
                            foreach (var data in item.Value)
                            {
                                <div class="item"><span class="sub">@data.name</span><a href="#@data.itemno"><span class="pagenum" title="@data.itemno"></span></a></div>
                            }
                        }
                    }
                </div>
            </div>
        </section>

        <!-- 單元標頭使用者資訊(隱藏模板) -->
        <div class="head-template">
            <div class="block">
                <img class="head__logo" src="~/Content/styles/images/logo-inner.png" alt="晨悅預防醫學機構">
            </div>
            <div class="block">
                <ul class="ul-reset">
                    <li>姓名：<span>@Model.QueryCustome_ViewModel.name</span></li>
                    <li>性別：<span>@Html.Raw(Model.QueryCustome_ViewModel.sex + "性")</span></li>
                </ul>
            </div>
            <div class="block">
                <ul class="ul-reset">
                    <li>出生年月日：<span>@Model.QueryCustome_ViewModel.birthday</span></li>
                    <li>年齡：<span>@Html.Raw(Model.QueryCustome_ViewModel.age + "歲")</span></li>
                </ul>
            </div>
            <div class="block">
                <ul class="ul-reset">
                    <li>身分證字號：<span>@Model.QueryCustome_ViewModel.user_id</span></li>
                    <li>體檢編號：<span>@Model.QueryCustome_ViewModel.chart</span></li>
                </ul>
            </div>
            <div class="block">
                <ul class="ul-reset">
                    <li>體檢日期：<span>@Model.QueryCustome_ViewModel.checkdate</span></li>
                </ul>
            </div>
        </div>

        <!--==========================================================================
            * page - content 內容
        ==========================================================================-->
        <div class="contentpage">
            @{
                var number = 1;
            }
            <!--page 內頁 -->
            <!--基本資訊-->
            <section class="print-Box page page-1" id="1" title="1.基本資料">
                <div class="A4" id="Assessment">
                    <div class="head"></div>
                    <div class="header header-1">
                        <div class="num">01</div>
                        <h2 class="fz30">基本資料<span class="fz20">Basic Assessment</span></h2>
                    </div>
                    <p class="fz19 mb20 mt50"></p>
                    <div>
                        <div class="grid_left pageb">
                            <div class="title">個人基本資料</div>
                            <div class="tabelList terra">
                                <div class="tr">
                                    <div class="td left">姓名</div>
                                    <div class="td right">@Model.BasicAssessment_ViewModel.name</div>
                                </div>
                                <div class="tr">
                                    <div class="td left">出生年月日</div>
                                    <div class="td right">@Model.BasicAssessment_ViewModel.birthday</div>
                                </div>
                                <div class="tr">
                                    <div class="td left">年齡</div>
                                    <div class="td right">@Model.BasicAssessment_ViewModel.age</div>
                                </div>
                                <div class="tr">
                                    <div class="td left">性別</div>
                                    <div class="td right">@Model.BasicAssessment_ViewModel.sex</div>
                                </div>
                            </div>
                        </div>
                        <div class="grid_right pageb">
                            <div class="title">體檢資料</div>
                            <div class="tabelList terra">
                                <div class="tr">
                                    <div class="td left">身份證字號</div>
                                    <div class="td right">@Model.BasicAssessment_ViewModel.user_id</div>
                                </div>
                                <div class="tr">
                                    <div class="td left">體檢號</div>
                                    <div class="td right">@Model.BasicAssessment_ViewModel.chart</div>
                                </div>
                                <div class="tr">
                                    <div class="td left">體檢日期</div>
                                    <div class="td right">@Model.BasicAssessment_ViewModel.checkdate</div>
                                </div>
                                <div class="tr">
                                    <div class="td left">&ensp;</div>
                                    <div class="td right">&ensp;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="title grid">問診資訊</div>
                    <table class="tabelList">
                        <tr class="tr">
                            <td class="td left">自覺症狀</td>
                            <td class="td right">@(!string.IsNullOrEmpty(Model.BasicAssessment_ViewModel.chiefcomplaint) ? Model.BasicAssessment_ViewModel.chiefcomplaint : "無")</td>
                        </tr>
                        <tr class="tr">
                            <td class="td left">過去病史</td>
                            <td class="td right">@(!string.IsNullOrEmpty(Model.BasicAssessment_ViewModel.pasthistory) ? Model.BasicAssessment_ViewModel.pasthistory : "無")</td>
                        </tr>
                        <tr class="tr">
                            <td class="td left">生活習慣</td>
                            <td class="td right">@(!string.IsNullOrEmpty(Model.BasicAssessment_ViewModel.livinghabit) ? Model.BasicAssessment_ViewModel.livinghabit : "無")</td>
                        </tr>
                    </table>
                </div>
            </section>

            <!--異常清單&建議事項-->
            @if (Model.Abnormality_ViewModel != null)
            {
                number++;
                <section class="print-Box page page-2" id="@number" title="@Html.Raw(number + " .異常清單&建議事項")">
                    <div class="A4" id="Suggestions">
                        <div class="head">
                        </div>
                        <div class="header header-2">
                            <div class="num">@number.ToString("00")</div>
                            <h2 class="fz30">異常清單&建議事項<span class="fz20">Abnormality List & Suggestions</span></h2>
                        </div>
                        <p class="item__descript fz19 mt50">總評醫師綜合所有檢驗數據及影像檢查結果，為您詳細列出本次健檢所發現的異常項目，提供完整的異常清單及建議事項。</p>
                        <table class="tabelList row-4">
                            <thead>
                                <tr>
                                    <th class="name">項目</th>
                                    <th class="num">數值</th>
                                    <th class="num">參考值</th>
                                    <th class="suggest">建議事項</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Abnormality_ViewModel)
                                {
                                    <tr>
                                        <td data-th="項目">@item.name</td>
                                        @if (string.IsNullOrEmpty(item.reference) && string.IsNullOrEmpty(item.suggest))
                                        {
                                            <td class="td-full" colspan="3" data-th="數值"><span style="color:red;">@Html.Raw(item.value)</span></td>
                                        }
                                        else
                                        {
                                            <td data-th="數值"><span style="color:red;">@item.value</span></td>
                                            <td data-th="參考值">@item.reference</td>
                                            <td data-th="建議事項">@item.suggest</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </section>
            }

            <!--理學檢查-->
            @if (Model.Physical_ViewModel != null)
            {
                number++;
                <section class="print-Box page page-3" id="@number" title="@Html.Raw(number + ".理學檢查")">
                    <div class="A4" id="PhysicalExamination">
                        <div class="head">
                        </div>
                        <div class="header header-3">
                            <div class="num">@number.ToString("00")</div>
                            <h2 class="fz30">理學檢查<span class="fz20">Physical Examination</span></h2>
                        </div>
                        <p class="fz19 mt50"></p>
                        @foreach (var item in Model.Physical_ViewModel)
                        {
                            <div class="item__title pagenumber fz35 fwb" id="@item.Key"><span>@item.Key</span></div>
                            <p class="item__descript fz19"></p>
                            <table class="tabelList row-3">
                                <tr>
                                    <th class="name">項目</th>
                                    <th class="num">數值</th>
                                    <th class="suggest">參考值</th>
                                </tr>
                                @foreach (var data in item.Value)
                                {
                                    <tr>
                                        <td data-th="項目">@data.name</td>
                                        @if (data.err == "true")
                                        {
                                            <td data-th="數值"><span style="color:red;">@data.value</span></td>
                                        }
                                        else
                                        {
                                            <td data-th="數值">@data.value</td>
                                        }
                                        <td data-th="參考值">@data.reference</td>
                                    </tr>
                                }
                            </table>
                        }
                    </div>
                </section>
            }

            <!--檢驗-->
            @if (Model.Examine_ViewModel != null)
            {
                number++;
                <section class="print-Box page page-4" id="@number" title="@Html.Raw(number + ".檢驗")">
                    <div class="A4" id="Examine">
                        <div class="head">
                        </div>
                        <div class="header header-4">
                            <div class="num">@number.ToString("00")</div>
                            <h2 class="fz30">檢驗<span class="fz20">Examine</span></h2>
                        </div>
                        <p class="fz19 mt50"></p>

                        @foreach (var item in Model.Examine_ViewModel)
                        {
                            <div class="item__title pagenumber fz35 fwb" id="@item.Key"><span>@item.Key</span></div>
                            <p class="item__descript fz19"></p>
                            <table class="tabelList row-3">
                                <tr>
                                    <th class="name">項目</th>
                                    <th class="num">數值</th>
                                    <th class="suggest">參考值</th>
                                </tr>
                                @foreach (var Dataitem in item.Value)
                                {
                                    <tr>
                                        <td data-th="項目">@Dataitem.name</td>
                                        @if (Dataitem.err == "true")
                                        {
                                            <td data-th="數值"><span style="color:red;">@Dataitem.value</span></td>
                                        }
                                        else
                                        {
                                            <td data-th="數值">@Dataitem.value</td>
                                        }
                                        <td data-th="參考值">@Dataitem.reference</td>
                                    </tr>
                                }
                            </table>
                        }
                    </div>
                </section>
            }

            <!--影像檢查-->
            @if (ViewBag.ImagingData >= 1)
            {
                number++;
                <section class="print-Box page page-5" id="@number" title="@Html.Raw(number + ".影像檢查")">
                    <div class="A4" id="Imaging">
                        <div class="head"></div>
                        <div class="header header-5">
                            <div class="num">@number.ToString("00")</div>
                            <h2 class="fz30">影像檢查<span class="fz20">Image Study</span></h2>
                        </div>

                        @* 超音波 *@
                        @if (Model.Ultrasound_ViewModel != null && Model.Ultrasound_ViewModel.Count != 0)
                        {
                            @* 超音波 *@
                            <div class="item__title pagenumber fz35 fwb" id="Ultrasound"><span>超音波</span></div>
                            <!-- 超音波項目資料 -->
                            foreach (var item in Model.Ultrasound_ViewModel)
                            {
                                if (item.itemno == 7010)
                                {
                                    <!--腹部超音波 影像數目:4*2 400*300-->
                                    <div class="title" style="margin-top:3%">腹部超音波</div>
                                    <p class="item__descript fz19">
                                        腹部超音波檢查可以觀察肝臟、膽囊、胰臟、脾臟、腎臟、腹腔內的大血管及淋巴結等器官組織的病變。<br>
                                        肝臟 – 人體主要的代謝、解毒器官。常見脂肪肝、囊泡、血管瘤等病變。<br>
                                        膽囊 – 濃縮和儲存膽汁，膽汁可溶解脂肪和酒精。常見膽結石、膽息肉等病變。<br>
                                        胰臟 – 為外、內分泌功能腺體，可分泌消化液與胰島酵素。可檢測惡性及良性癌瘤、急性及慢性發炎。<br>
                                        脾臟 – 人體最大的淋巴器官，主要功能為儲存免疫細胞、濾血與儲血。可檢測良性或惡性腫瘤、囊泡。<br>
                                        腎臟 – 泌尿系統，負責過濾血液中的雜質、維持體液和電解質的平衡。常見腎結石、腫瘤等病變。
                                    </p>
                                }
                                else if (item.itemno == 7011)
                                {
                                    <!--攝護腺超音波 影像數目:3*1 600*400-->
                                    <div class="title" style="margin-top:3%">攝護腺超音波</div>
                                    <p class="item__descript fz19">
                                        攝護腺在正常情況下會隨著男性年齡的增長繼續成長，攝護腺腫大，是50歲以上的男性最常有的攝護腺問題。 常見的症狀：1.頻尿；2.夜尿(夜晚會不斷的起床上廁所)；3.尿急(有尿意時就得馬上去排尿)；4.排尿困難；5.上廁所時間很久卻無法將尿液排空；6.急性尿阻塞。
                                        良性攝護腺肥大會嚴重影響生活品質，尤其是在夜晚，大多數的老年人會因必須起床上廁所而無法有持續性的睡眠，甚至在睡前數小時不敢喝水，且在天冷時會更加嚴重。
                                    </p>
                                }
                                else if (item.itemno == 7012)
                                {
                                    <!--乳房超音波 影像數目: 4 * 2 400 * 300-->

                                    <div class="title" style="margin-top:3%">乳房超音波</div>
                                    <p class="item__descript fz19">
                                        乳房超音波由超音波影像檢查乳房是否有纖維囊腫、腫瘤或其他異常病變，對於年輕女性而言，是一項良好的乳房疾病篩檢工具。<br />
                                        乳房超音波可觀察乳房結構，包含乳房、乳頭、乳腺、腋下淋巴結等部位。
                                    </p>
                                }
                                else if (item.itemno == 7092 && !Model.Ultrasound_ViewModel.Select(x => x.itemno).Contains(7012))
                                {
                                    <!--乳房超音波 影像數目: 4 * 2 400 * 300-->

                                    <div class="title" style="margin-top:3%">乳房超音波</div>
                                    <p class="item__descript fz19">
                                        乳房超音波由超音波影像檢查乳房是否有纖維囊腫、腫瘤或其他異常病變，對於年輕女性而言，是一項良好的乳房疾病篩檢工具。<br />
                                        乳房超音波可觀察乳房結構，包含乳房、乳頭、乳腺、腋下淋巴結等部位。
                                    </p>
                                }
                                else if (item.itemno == 7013)
                                {
                                    <!--骨盆腔超音波 影像數目:2*2 600*300-->
                                    <div class="title" style="margin-top:3%">骨盆腔超音波</div>
                                    <p class="item__descript fz19">
                                        骨盆腔超音波又稱婦科超音波，可檢查子宮、卵巢等器官否有病變，如子宮肌瘤、子宮內膜增厚、子宮內膜癌、卵巢囊腫、卵巢癌等。
                                    </p>
                                }
                                else if (item.itemno == 7014)
                                {
                                    <!--甲狀腺超音波 影像數目:3*2 400*300-->
                                    <div class="title" style="margin-top:3%">甲狀腺超音波</div>
                                    <p class="item__descript fz19">
                                        甲狀腺位在頸部喉結下方兩側的腺體，是人體內影響範圍極廣泛的內分泌腺，主要負責全身產熱及代謝恆定的調控，影響包含心臟、腸胃道、骨質密度、肌肉、皮膚，甚至是睡眠與情緒。<br>
                                        從超音波掃描可以了解甲狀腺大小，是否有結節，結節是囊腫或實心，是否有鈣化等等。<br />
                                        ● 甲狀腺結節：脖子腫大，好發率較高，結節的內容物可能是固體、可能是液體，也可能是混合性(若>1cm建議進一步做檢查確診是良性或惡性)。<br />
                                        ● 甲狀腺囊腫：一般稱為水泡，大部分為良性。<br />
                                        ● 甲狀腺瘤：腺瘤就是體積較大的結節；如果超音波照出顏色不均勻、有鈣化點，就需要進一步做細針穿刺，分辨屬於良性或惡性。<br />
                                    </p>
                                }
                                else if (item.itemno == 7015)
                                {
                                    <!--頸動脈超音波 影像數目:4*2 400*300-->
                                    <div class="title" style="margin-top:3%">頸動脈超音波</div>
                                    <p class="item__descript fz19">
                                        頸動脈超音波可以檢查兩邊頸動脈血管壁的表面及其內部是否有血管硬化出現，可評估流入腦內的主要血管狀況與血管病變的程度，是腦中風預防的重要項目。<br />
                                        ● 內頸動脈與外頸動脈左右兩邊共４條，是負責供應腦部大部分血液。<br />
                                        ● 當頸動脈產生動脈粥狀硬化或阻塞時，血液供應不足，腦中風的危險性也隨著上升，其中血管硬化也是造成腦中風(腦血管阻塞)的主因。<br />
                                        ● 腦中風伴隨著頭暈、頭痛、耳鳴、失眠、視力模糊、吞嚥困難、口齒不清、頸部痠痛、失去平衡、手腳或臉部發麻無力等症狀。<br />
                                    </p>
                                }
                                else if (item.itemno == 7016)
                                {
                                    <!--心臟超音波 影像數目:4*2 400*300-->
                                    <div class="title" style="margin-top:3%">心臟超音波</div>
                                    <p class="item__descript fz19">
                                        彩色超音波及杜卜勒血流測定可判別心臟血管內的血流方向及流速，可診斷冠狀動脈是否狹窄，瞭解心 臟的大小、收縮情形，還可偵測是否有心臟瓣膜缺損，提供冠狀動脈疾病患者和一般民眾心血管功能檢查的診斷與評估，其診斷價值高。<br />
                                        適應症： 1.評估心雜音 2.評估辦膜性心臟病 3.胸悶 4.診斷心血管疾病及心絞痛 5.呼吸困難及心臟肥大 6.高血壓 7.心律不整、心悸 8.昏厥<br />
                                    </p>
                                }

                                <table class="tabelList pagenumber row-2" id="@item.itemno">
                                    <tr>
                                        <th class="name">項目</th>
                                        <th class="num">判讀結果</th>
                                    </tr>
                                    <tr>
                                        <td data-th="項目">@item.name</td>
                                        <td data-th="判讀結果">@item.value</td>
                                    </tr>
                                </table>
                                if (item.pic != null)
                                {
                                    foreach (var piclist in item.pic)
                                    {
                                        var c = "";
                                        if (item.pic.Count > 1)
                                        {
                                            c = "pic-8";
                                        }
                                        else
                                        {
                                            if (piclist.Value.Count == 1)
                                            {
                                                c = "pic-1";
                                            }
                                            else if (piclist.Value.Count == 2)
                                            {
                                                c = "pic-2";
                                            }
                                            else if (piclist.Value.Count == 3)
                                            {
                                                c = "pic-3";
                                            }
                                            else if (piclist.Value.Count == 4)
                                            {
                                                c = "pic-4";
                                            }
                                            else if (piclist.Value.Count == 6)
                                            {
                                                c = "pic-6";
                                            }
                                            else if (piclist.Value.Count == 8)
                                            {
                                                c = "pic-8";
                                            }
                                            else
                                            {
                                                c = "pic-8";
                                            }
                                        }
                                        <div class="picgroup @c">
                                            @foreach (var pic in piclist.Value)
                                            {
                                                if (!string.IsNullOrEmpty(pic))
                                                {
                                                    <img src="@Url.Content("~/" + pic)" alt="">
                                                }
                                            }
                                        </div>
                                    }
                                }
                            }
                        }

                        @* 數位斷層 *@
                        @if (Model.Digital_ViewModel != null && Model.Digital_ViewModel.Count != 0)
                        {
                            @* 數位斷層合成掃描 *@
                            <div class="item__title pagenumber fz35 fwb" id="Digital"><span>數位斷層合成掃描</span></div>
                            <p>可藉由一次性攝影檢查重組取得多層次 ( 3D 立體空間 ) 多張影像供醫師診斷</p>

                            <!-- 數位斷層項目資料 -->
                            <p class="item__descript fz19"></p>
                            <table class="tabelList row-2">
                                <tr>
                                    <th class="name">項目</th>
                                    <th class="num">判讀結果</th>
                                </tr>
                                @foreach (var item in Model.Digital_ViewModel)
                                {
                                    <tr class="pagenumber" id="@item.itemno">
                                        <td data-th="項目">@item.name</td>
                                        <td data-th="判讀結果">@item.value</td>
                                    </tr>
                                }
                            </table>

                        }

                        @* 胸部能量減影 影像數目:3*1 *@
                        @if (Model.ChestDualEnergy_ViewModel != null && Model.ChestDualEnergy_ViewModel.Count != 0)
                        {
                            <div class="item__title pagenumber fz35 fwb" id="ChestDualEnergy"><span>胸部能量減影</span></div>
                            <p>透過高低能量攝影取得影像，將骨頭、軟組織分離，避免病變遮蔽，更準確判別腫瘤、鈣化等肺部病變</p>
                            <p class="item__descript fz19"></p>
                            foreach (var item in Model.ChestDualEnergy_ViewModel)
                            {
                                <table class="tabelList pagenumber row-2" id="@item.itemno">
                                    <tr>
                                        <th class="name">項目</th>
                                        <th class="num">判讀結果</th>
                                    </tr>

                                    <tr>
                                        <td data-th="項目">@item.name</td>
                                        <td data-th="判讀結果">@item.value</td>
                                    </tr>
                                </table>
                                if (item.pic != null)
                                {
                                    foreach (var piclist in item.pic)
                                    {
                                        var c = "";
                                        if (item.pic.Count > 1)
                                        {
                                            c = "pic-8";
                                        }
                                        else
                                        {
                                            if (piclist.Value.Count == 1)
                                            {
                                                c = "pic-1";
                                            }
                                            else if (piclist.Value.Count == 2)
                                            {
                                                c = "pic-2";
                                            }
                                            else if (piclist.Value.Count == 3)
                                            {
                                                c = "pic-3";
                                            }
                                            else if (piclist.Value.Count == 4)
                                            {
                                                c = "pic-4";
                                            }
                                            else if (piclist.Value.Count == 6)
                                            {
                                                c = "pic-6";
                                            }
                                            else if (piclist.Value.Count == 8)
                                            {
                                                c = "pic-8";
                                            }
                                            else
                                            {
                                                c = "pic-8";
                                            }
                                        }
                                        <div class="picgroup @c">
                                            @foreach (var pic in piclist.Value)
                                            {
                                                if (!string.IsNullOrEmpty(pic))
                                                {
                                                    <img src="@Url.Content("~/" + pic)" alt="">
                                                }
                                            }
                                        </div>
                                    }
                                }
                            }
                        }

                        @* 一般x光 影像數目:每頁1張 *@
                        @if (Model.Xray_ViewModel != null && Model.Xray_ViewModel.Count != 0)
                        {
                            <div class="item__title pagenumber fz35 fwb" id="Xray"><span>一般x光</span></div>
                            <p>
                                X光擁有能穿透物質的特性，對不同的物質，有著不同的穿透能力，故對人體的器官組織或骨骼在照射後可呈現不同密度的灰階影像，因此被廣泛應用在醫學診斷上，如骨折或肺部的疾病等;而X光因具有穿透能力，可破壞組織細胞，故也常應用在腫瘤癌症上的治療。<br />
                                一般 X 光攝影檢查的項目包括頭部、頸部、胸部、腹部、脊椎、四肢骨及關節、乳房攝影、骨質密度、牙片等之攝影技術。<br />
                            </p>
                            <p class="item__descript fz19"></p>
                            foreach (var item in Model.Xray_ViewModel)
                            {
                                <table class="tabelList pagenumber row-2" id="@item.itemno">
                                    <tr>
                                        <th class="name">項目</th>
                                        <th class="num">判讀結果</th>
                                    </tr>
                                    <tr>
                                        <td data-th="項目">@item.name</td>
                                        <td data-th="判讀結果">@item.value</td>
                                    </tr>
                                </table>
                                if (item.pic != null)
                                {
                                    foreach (var piclist in item.pic)
                                    {
                                        var c = "";
                                        if (item.pic.Count > 1)
                                        {
                                            c = "pic-8";
                                        }
                                        else
                                        {
                                            if (piclist.Value.Count == 1)
                                            {
                                                c = "pic-1";
                                            }
                                            else if (piclist.Value.Count == 2)
                                            {
                                                c = "pic-2";
                                            }
                                            else if (piclist.Value.Count == 3)
                                            {
                                                c = "pic-3";
                                            }
                                            else if (piclist.Value.Count == 4)
                                            {
                                                c = "pic-4";
                                            }
                                            else if (piclist.Value.Count == 6)
                                            {
                                                c = "pic-6";
                                            }
                                            else if (piclist.Value.Count == 8)
                                            {
                                                c = "pic-8";
                                            }
                                            else
                                            {
                                                c = "pic-8";
                                            }
                                        }
                                        <div class="picgroup @c">
                                            @foreach (var pic in piclist.Value)
                                            {
                                                if (!string.IsNullOrEmpty(pic))
                                                {
                                                    <img src="@Url.Content("~/" + pic)" alt="">
                                                }
                                            }
                                        </div>
                                    }
                                }
                            }
                        }

                        @* 三連片 影像數目:每頁1張 *@
                        @if (Model.Triple_ViewModel != null && Model.Triple_ViewModel.Count != 0)
                        {
                            <div class="item__title pagenumber fz35 fwb" id="Triple"><span>三連片</span></div>
                            <p>
                                以X光管球旋轉角度的方式拍照,只要一次定位與拍照的流程，自動計算曝光次數與影像長度，自動合成連片。
                            </p>
                            <p class="item__descript fz19"></p>
                            foreach (var item in Model.Triple_ViewModel)
                            {
                                <table class="tabelList pagenumber row-2" id="@item.itemno">
                                    <tr>
                                        <th class="name">項目</th>
                                        <th class="num">判讀結果</th>
                                    </tr>
                                    <tr>
                                        <td data-th="項目">@item.name</td>
                                        <td data-th="判讀結果">@item.value</td>
                                    </tr>
                                </table>
                                if (item.pic != null)
                                {
                                    foreach (var piclist in item.pic)
                                    {
                                        var c = "";
                                        if (item.pic.Count > 1)
                                        {
                                            c = "pic-8";
                                        }
                                        else
                                        {
                                            if (piclist.Value.Count == 1)
                                            {
                                                c = "pic-1";
                                            }
                                            else if (piclist.Value.Count == 2)
                                            {
                                                c = "pic-2";
                                            }
                                            else if (piclist.Value.Count == 3)
                                            {
                                                c = "pic-3";
                                            }
                                            else if (piclist.Value.Count == 4)
                                            {
                                                c = "pic-4";
                                            }
                                            else if (piclist.Value.Count == 6)
                                            {
                                                c = "pic-6";
                                            }
                                            else if (piclist.Value.Count == 8)
                                            {
                                                c = "pic-8";
                                            }
                                            else
                                            {
                                                c = "pic-8";
                                            }
                                        }
                                        <div class="picgroup @c">
                                            @foreach (var pic in piclist.Value)
                                            {
                                                if (!string.IsNullOrEmpty(pic))
                                                {
                                                    <img src="@Url.Content("~/" + pic)" alt="">
                                                }
                                            }
                                        </div>
                                    }
                                }
                            }
                        }

                        @* 內視鏡  影像數目:4*2*@
                        @if (Model.Endoscope_ViewModel != null && Model.Endoscope_ViewModel.Count != 0)
                        {
                            <div class="item__title pagenumber fz35 fwb" id="Endoscope"><span>內視鏡</span></div>
                            <p class="item__descript fz19"></p>
                            foreach (var item in Model.Endoscope_ViewModel)
                            {
                                switch (item.itemno)
                                {
                                    case 7029:
                                        <div class="title" style="margin-top:3%">大腸鏡</div>
                                        <p>
                                            利用內視鏡檢查病人的結腸內可能的病兆(如潰瘍性結 腸炎、出血源、瘜肉、阻塞等情形)，可評估病灶的外表性徵，必要時，醫師能夠在觀察的同時施行組織切片分析，以進一步檢查。<br />
                                            確定安排檢查後，醫護人員會向您解釋治療目的、過程及應配合事項後，安排檢查時間，並由病人或家屬簽署檢查治療同意書。<br />
                                        </p>
                                        <p class="item__descript fz19"></p>
                                        break;
                                    case 7030:
                                        <div class="title" style="margin-top:3%">胃鏡</div>
                                        <p>
                                            胃鏡除了胃部，還能夠察看是否有食道癌、胃潰瘍、十二指腸潰瘍、逆流性食道炎等。<br />
                                        </p>
                                        <p class="item__descript fz19"></p>
                                        break;
                                }

                                <table class="tabelList pagenumber row-2" id="@item.itemno">
                                    <tr>
                                        <th class="name">項目</th>
                                        <th class="num">判讀結果</th>
                                    </tr>
                                    <tr>
                                        <td data-th="項目">@item.name</td>
                                        <td data-th="判讀結果">@item.value</td>
                                    </tr>
                                </table>
                                if (item.pic != null)
                                {
                                    foreach (var piclist in item.pic)
                                    {
                                        var c = "";
                                        if (item.pic.Count > 1)
                                        {
                                            c = "pic-8";
                                        }
                                        else
                                        {
                                            if (piclist.Value.Count == 1)
                                            {
                                                c = "pic-1";
                                            }
                                            else if (piclist.Value.Count == 2)
                                            {
                                                c = "pic-2";
                                            }
                                            else if (piclist.Value.Count == 3)
                                            {
                                                c = "pic-3";
                                            }
                                            else if (piclist.Value.Count == 4)
                                            {
                                                c = "pic-4";
                                            }
                                            else if (piclist.Value.Count == 6)
                                            {
                                                c = "pic-6";
                                            }
                                            else if (piclist.Value.Count == 8)
                                            {
                                                c = "pic-8";
                                            }
                                            else
                                            {
                                                c = "pic-8";
                                            }
                                        }
                                        <div class="picgroup @c">
                                            @foreach (var pic in piclist.Value)
                                            {
                                                if (!string.IsNullOrEmpty(pic))
                                                {
                                                    <img src="@Url.Content("~/" + pic)" alt="">
                                                }
                                            }
                                        </div>
                                    }
                                }
                            }
                        }

                        @* 身體組成分析 影像數目:每頁一張 *@
                        @if (Model.Body_ViewModel != null && Model.Body_ViewModel.Count != 0)
                        {
                            <div class="item__title pagenumber fz35 fwb" id="Body"><span>身體組成分析</span></div>

                            foreach (var item in Model.Body_ViewModel)
                            {
                                switch (item.itemno)
                                {
                                    case 7021:
                                    case 7075:
                                    case 7091:
                                        <div class="title" style="margin-top:3%">雙能量骨質密度檢查</div>
                                        <p class="item__descript fz19">利用雙能量 X 光吸收儀（DXA）檢查身體中央部位的骨頭，最易發生骨鬆性骨折的腰椎或臀 部的骨質密度。</p>
                                        break;
                                    case 7020:
                                        <div class="title" style="margin-top:3%">全身脂肪分析</div>
                                        <p class="item__descript fz19">利用全身型雙能量X光骨質密度儀來 檢測全身體脂肪及內臟脂肪分布，就可進一步瞭解是否為罹患心血 管疾病 的高危險群，來進行提早預防</p>
                                        break;
                                    case 7060:
                                        <div class="title" style="margin-top:3%">Inbody</div>
                                        <p class="item__descript fz19">人體的體重由四大要素組成，身體總水重、蛋白質、礦物質、體脂肪。各成分間需維持一定的比率，以確保健康，反之，則可能產生各種病癥，如：脂肪過多而肥胖、蛋白質不足而營養不良、身體總水量過低、細胞內水份流失會導致老化、礦物質流失可能骨質疏鬆。</p>
                                        break;
                                }
                                <table class="tabelList pagenumber row-2" id="@item.itemno">
                                    <tr>
                                        <th class="name">項目</th>
                                        <th class="num">判讀結果</th>
                                    </tr>
                                    <tr>
                                        <td data-th="項目">@item.name</td>
                                        <td data-th="判讀結果">@item.value</td>
                                    </tr>
                                </table>
                                if (item.pic != null)
                                {
                                    foreach (var piclist in item.pic)
                                    {
                                        var c = "";
                                        if (item.pic.Count > 1)
                                        {
                                            c = "pic-8";
                                        }
                                        else
                                        {
                                            if (piclist.Value.Count == 1)
                                            {
                                                c = "pic-1";
                                            }
                                            else if (piclist.Value.Count == 2)
                                            {
                                                c = "pic-2";
                                            }
                                            else if (piclist.Value.Count == 3)
                                            {
                                                c = "pic-3";
                                            }
                                            else if (piclist.Value.Count == 4)
                                            {
                                                c = "pic-4";
                                            }
                                            else if (piclist.Value.Count == 6)
                                            {
                                                c = "pic-6";
                                            }
                                            else if (piclist.Value.Count == 8)
                                            {
                                                c = "pic-8";
                                            }
                                            else
                                            {
                                                c = "pic-8";
                                            }
                                        }
                                        <div class="picgroup @c">
                                            @foreach (var pic in piclist.Value)
                                            {
                                                if (!string.IsNullOrEmpty(pic))
                                                {
                                                    <img src="@Url.Content("~/" + pic)" alt="">
                                                }
                                            }
                                        </div>
                                    }
                                }
                            }
                        }

                        @* 心電圖 影像數目:每頁一張 *@
                        @if (Model.Electrocardiogram_ViewModel != null && Model.Electrocardiogram_ViewModel.Count != 0)
                        {
                            <div class="item__title pagenumber fz35 fwb" id="Electrocardiogram"><span>心電圖</span></div>

                            foreach (var item in Model.Electrocardiogram_ViewModel)
                            {
                                switch (item.itemno)
                                {
                                    case 7008:
                                        <div class="title" style="margin-top:3%">靜式心電圖</div>
                                        <p class="item__descript fz19">心臟疾病診斷及治療中最基本檢查之一，它除了可能表現心臟結構功能異常，優於聽診器辨別心跳，可以檢測出心律不整、心房心室肥厚或心肌缺氧、狹心症、肺動脈栓塞，甚至心肌梗塞。</p>
                                        break;
                                    case 7007:
                                        <div class="title" style="margin-top:3%">運動心電圖</div>
                                        <p class="item__descript fz19">運動心電圖是在運動時，讓心臟的負擔加大，使氧氣需求量增加，在此情況下評估心臟是否有心肌缺氧的情形，進而瞭解冠狀動脈是否有阻塞。我們可藉由運動心電圖檢查出冠心症，並早期治療以預防心肌梗塞進而猝死的產生。其心電圖、心跳速度以及血壓之變化，藉此變 化以了解心肌缺氧或心律不整之狀態，並可評估心肌梗塞患者之預後。 </p>
                                        break;
                                }
                                <table class="tabelList pagenumber row-2" id="@item.itemno">
                                    <tr>
                                        <th class="name">項目</th>
                                        <th class="num">判讀結果</th>
                                    </tr>
                                    <tr>
                                        <td data-th="項目">@item.name</td>
                                        <td data-th="判讀結果">@item.value</td>
                                    </tr>
                                </table>
                                if (item.pic != null)
                                {
                                    foreach (var piclist in item.pic)
                                    {
                                        var c = "";
                                        if (item.pic.Count > 1)
                                        {
                                            c = "pic-8";
                                        }
                                        else
                                        {
                                            if (piclist.Value.Count == 1)
                                            {
                                                c = "pic-1";
                                            }
                                            else if (piclist.Value.Count == 2)
                                            {
                                                c = "pic-2";
                                            }
                                            else if (piclist.Value.Count == 3)
                                            {
                                                c = "pic-3";
                                            }
                                            else if (piclist.Value.Count == 4)
                                            {
                                                c = "pic-4";
                                            }
                                            else if (piclist.Value.Count == 6)
                                            {
                                                c = "pic-6";
                                            }
                                            else if (piclist.Value.Count == 8)
                                            {
                                                c = "pic-8";
                                            }
                                            else
                                            {
                                                c = "pic-8";
                                            }
                                        }
                                        <div class="picgroup @c">
                                            @foreach (var pic in piclist.Value)
                                            {
                                                if (!string.IsNullOrEmpty(pic))
                                                {
                                                    <img src="@Url.Content("~/" + pic)" alt="">
                                                }
                                            }
                                        </div>
                                    }
                                }
                            }
                        }

                        @* 自律神經檢查 影像數目:每頁一張 *@
                        @if (Model.Autonomic_ViewModel != null && Model.Autonomic_ViewModel.Count != 0)
                        {
                            <div class="item__title pagenumber fz35 fwb" id="Autonomic"><span>自律神經檢查</span></div>

                            foreach (var item in Model.Autonomic_ViewModel)
                            {
                                switch (item.itemno)
                                {
                                    case 7042:
                                        <div class="title" style="margin-top:3%">心律變異分析</div>
                                        <p class="item__descript fz19">心率變異分析（縮寫為HRV），是一種量測連續心跳速率變化程度的方法。因為心臟除了本身的節律性放 電引發的跳動之外，也受到自律神經系統的影響。調節我們的心率、血壓、呼吸和消化，它被分為兩大部分：交感神經和副交感神經系統，所以HRV目前除了被廣泛運用在心臟相關的疾病醫療上，也同時是檢視自律神經系統的重要指標。</p>
                                        break;
                                    case 7041:
                                        <div class="title" style="margin-top:3%">血管彈性硬化</div>
                                        <p class="item__descript fz19">藉由紅外線直接檢測手指末梢微血管循環與彈性狀況，測量其血液循環時速率變異，分析檢測波形再 轉換成數據，將血管彈性分為七等級，進而評估血管彈性、老化、心臟血管、腦部血管、周邊血管之疾病風險。</p>
                                        break;
                                }

                                <table class="tabelList pagenumber row-2" id="@item.itemno">
                                    <tr>
                                        <th class="name">項目</th>
                                        <th class="num">判讀結果</th>
                                    </tr>
                                    <tr>
                                        <td data-th="項目">@item.name</td>
                                        <td data-th="判讀結果">@item.value</td>
                                    </tr>
                                </table>
                                if (item.pic != null)
                                {
                                    foreach (var piclist in item.pic)
                                    {
                                        var c = "";
                                        if (item.pic.Count > 1)
                                        {
                                            c = "pic-8";
                                        }
                                        else
                                        {
                                            if (piclist.Value.Count == 1)
                                            {
                                                c = "pic-1";
                                            }
                                            else if (piclist.Value.Count == 2)
                                            {
                                                c = "pic-2";
                                            }
                                            else if (piclist.Value.Count == 3)
                                            {
                                                c = "pic-3";
                                            }
                                            else if (piclist.Value.Count == 4)
                                            {
                                                c = "pic-4";
                                            }
                                            else if (piclist.Value.Count == 6)
                                            {
                                                c = "pic-6";
                                            }
                                            else if (piclist.Value.Count == 8)
                                            {
                                                c = "pic-8";
                                            }
                                            else
                                            {
                                                c = "pic-8";
                                            }
                                        }
                                        <div class="picgroup @c">
                                            @foreach (var pic in piclist.Value)
                                            {
                                                if (!string.IsNullOrEmpty(pic))
                                                {
                                                    <img src="@Url.Content("~/" + pic)" alt="">
                                                }
                                            }
                                        </div>
                                    }
                                }
                            }
                        }

                        @* 眼底攝影 影像數目:2*1 *@
                        @if (Model.Fundus_ViewModel != null && Model.Fundus_ViewModel.Count != 0)
                        {
                            <div class="item__title pagenumber fz35 fwb" id="Fundus"><span>眼底攝影</span></div>
                            <p>
                                眼底檢查可以看到視網膜的色澤、視網膜的血管、黃斑部的顏色、以及視神經乳頭的形狀、顏色、乳頭凹陷的情形。最重要的意義是檢測出眼底(視網膜、脈絡膜、視神經乳頭)是否有病變，如:視網膜剝離、黃斑部病變、青光眼、視神經炎、脈絡膜腫瘤等。眼睛是全身唯一可以透過肉眼就觀察到血管的地方，因此，在臨床上有許多案例是在眼底檢查中才發現患者還有全身性的疾病，像是高血壓、糖尿病、自體免疫疾病等。
                            </p>
                            foreach (var item in Model.Fundus_ViewModel)
                            {
                                <table class="tabelList pagenumber row-2" id="@item.itemno">
                                    <tr>
                                        <th class="name">項目</th>
                                        <th class="num">判讀結果</th>
                                    </tr>
                                    <tr>
                                        <td data-th="項目">@item.name</td>
                                        <td data-th="判讀結果">@item.value</td>
                                    </tr>
                                </table>
                                if (item.pic != null)
                                {
                                    foreach (var piclist in item.pic)
                                    {
                                        var c = "";
                                        if (item.pic.Count > 1)
                                        {
                                            c = "pic-8";
                                        }
                                        else
                                        {
                                            if (piclist.Value.Count == 1)
                                            {
                                                c = "pic-1";
                                            }
                                            else if (piclist.Value.Count == 2)
                                            {
                                                c = "pic-2";
                                            }
                                            else if (piclist.Value.Count == 3)
                                            {
                                                c = "pic-3";
                                            }
                                            else if (piclist.Value.Count == 4)
                                            {
                                                c = "pic-4";
                                            }
                                            else if (piclist.Value.Count == 6)
                                            {
                                                c = "pic-6";
                                            }
                                            else if (piclist.Value.Count == 8)
                                            {
                                                c = "pic-8";
                                            }
                                            else
                                            {
                                                c = "pic-8";
                                            }
                                        }
                                        <div class="picgroup @c">
                                            @foreach (var pic in piclist.Value)
                                            {
                                                if (!string.IsNullOrEmpty(pic))
                                                {
                                                    <img src="@Url.Content("~/" + pic)" alt="">
                                                }
                                            }
                                        </div>
                                    }
                                }
                            }
                        }
                    </div>
                </section>
            }

            <!--其他檢查-->
            @if (Model.Other_ViewModel != null && Model.Other_ViewModel.Count != 0)
            {
                number++;
                <section class="print-Box page page-6" id="@number" title="@Html.Raw(number + ".其他檢查")">
                    <div class="A4" id="Other">
                        <div class="head">
                        </div>
                        <div class="header header-6">
                            <div class="num">@number.ToString("00")</div>
                            <h2 class="fz30">其他檢查<span class="fz20">Other Examination</span></h2>
                        </div>
                        <p class="fz19 mt50"></p>
                        @foreach (var item in Model.Other_ViewModel)
                        {
                            if (item.Key == "肺功能檢查")
                            {
                                <div class="item__title pagenumber fz35 fwb"><span>肺功能檢查</span></div>
                                <p class="item__descript fz19">
                                    肺功能檢查是最方便、快速、安全又無侵襲性的檢查，可了解是否有呼吸道阻塞情形，肺活量有無異常，肺泡與微血管氣體交換的能力等，能協助醫師診斷及鑑別疾病、評估肺部疾病的嚴重度、評估病程進展及治療後的反應。
                                </p>
                                <table class="tabelList pagenumber row-3" id="@item.Key">
                                    <tr>
                                        <th class="name">項目</th>
                                        <th class="num">數值</th>
                                        <th class="num">參考值</th>
                                    </tr>
                                    @foreach (var data in item.Value)
                                    {
                                        <tr class="pagenumber" id="@data.itemno">
                                            <td data-th="項目">@data.name</td>
                                            <td data-th="數值">@data.value</td>
                                            <td data-th="參考值">@data.reference</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td data-th="項目">報告結果說明</td>
                                    </tr>
                                </table>
                            }
                            else if (item.Key == "抹片檢查")
                            {
                                <div class="item__title fz35 fwb"><span>抹片檢查</span></div>
                                <p class="item__descript fz19"></p>
                                <div class="title" style="margin-top:3%">一般抹片</div>
                                <p class="item__descript fz19">子宮頸抹片(Pap smear)是由醫師將擴張器放入陰道，取子宮頸及陰道後穹窿分泌物，塗在玻片上，以 95％酒精固定送至病理科，在顯微鏡下檢查。子宮頸抹片檢查是採取子宮頸及陰道後壁的剝落細胞所做的檢查。這個檢查能夠顯示出子宮頸有無感染、發炎、異常細胞或是癌症發生之可能。</p>
                                <div class="title" style="margin-top:3%">薄層抹片</div>
                                <p class="item__descript fz19">新柏氏超薄抹片可將採檢到的細胞大部分都保留下來於特殊保存液內，並利用自動化儀器將黏液及血液等干擾因子分開，再經過離心過濾後把細胞打散，使細胞能更均勻及清晰的分佈於玻片上，透過此種方式能避免傳統抹片檢查上的限制，並能提升抹片檢查結果準確性以達到早期發現早期治療的預防保健目的。</p>
                                <div class="title" style="margin-top:3%">人類乳突病毒</div>
                                <p class="item__descript fz19">結合超薄抹片與人類乳突病毒測試，早期診斷子宮頸癌病變，靈敏度高達九成以上。 人類乳突狀病毒是能夠產生疣的一種病毒。據統計人體的癌症約有10%和此病毒有關，包括女性的子宮頸癌、會陰癌、陰道癌，男性的陰莖癌，男女性都有的口腔、直腸肛門咽喉食道癌，甚至是皮膚癌。 科學家已經發現超過上百種的人類乳突狀病毒；其中有30種會使子宮頸受感染，而有約15 種病毒與子宮頸癌有關。所以人類乳突狀病毒可以說是子宮頸癌的主要危險因子。</p>
                                <table class="tabelList pagenumber row-3" id="@item.Key">
                                    <tr>
                                        <th class="name">項目</th>
                                        <th class="num">數值</th>
                                        <th class="num">參考值</th>
                                    </tr>
                                    @foreach (var data in item.Value)
                                    {
                                        <tr class="pagenumber" id="@data.itemno">
                                            <td data-th="項目">@data.name</td>
                                            <td data-th="數值">@data.value</td>
                                            <td data-th="參考值">@data.reference</td>
                                        </tr>
                                    }
                                </table>
                            }
                        }
                    </div>
                </section>
            }
        </div>

        <!-- end page 內頁 -->
        <!--==========================================================================
            * page-back 封底
        ==========================================================================-->
        <section class="print-Box A4-nomodify" id="page-back"></section>
        <div class="btn-menu">
            <i class="icon-menu"></i>
            <i class="icon-cancel"></i>
        </div>
        <div class="print-Box page inner-bg menu-fixed" id="page-catalog">
            @{
                var rwd_menu_number = 1;
            }
            <div class="main">
                <div class="list">
                    <div class="title">@rwd_menu_number.ToString("00") - 基礎評估<a href="#Assessment"><span class="pagenum" title="Assessment"></span></a></div>
                </div>

                @if (Model.Abnormality_ViewModel != null)
                {
                    <div class="list">
                        @{
                            rwd_menu_number++;
                        }
                        <div class="title">@rwd_menu_number.ToString("00") - 異常清單<a href="#Suggestions"><span class="pagenum" title="Suggestions"></span></a></div>
                    </div>
                }

                @if (Model.Physical_ViewModel != null)
                {
                    <div class="list">
                        @{
                            rwd_menu_number++;
                        }
                        <div class="title">@rwd_menu_number.ToString("00") - 理學檢查<a href="#PhysicalExamination"><span class="pagenum" title="PhysicalExamination"></span></a></div>
                        <ul>
                            @foreach (var item in Model.Physical_ViewModel)
                            {
                                <li><span class="sub">@item.Key<a href="#@item.Key"><span class="pagenum" title="@item.Key"></span></a></li>
                            }
                        </ul>
                    </div>
                }

                @if (Model.Examine_ViewModel != null)
                {
                    <div class="list">
                        @{
                            rwd_menu_number++;
                        }
                        <div class="title">@rwd_menu_number.ToString("00") - 檢驗<a href="#Examine"><span class="pagenum" title="Examine"></span></a></div>
                        <ul>
                            @foreach (var item in Model.Examine_ViewModel)
                            {
                                <li><span class="sub">@item.Key</span><a href="#@item.Key"><span class="pagenum" title="@item.Key"></span></a></li>
                            }
                        </ul>
                    </div>
                }

                @if (ViewBag.ImagingData >= 1)
                {
                    <div class="list">
                        @{
                            rwd_menu_number++;
                        }
                        <div class="title">@rwd_menu_number.ToString("00") - 影像檢查<a href="#Imaging"><span class="pagenum" title="Imaging"></span></a></div>
                        <ul>
                            @*超音波*@
                            @if (Model.Ultrasound_ViewModel != null && Model.Ultrasound_ViewModel.Count() != 0)
                            {
                                <li>
                                    <span class="sub">超音波</span><a href="#Ultrasound"><span class="pagenum" title="Ultrasound"></span></a>
                                    <ul>
                                        @foreach (var item in Model.Ultrasound_ViewModel)
                                        {
                                            <li><span class="sub">@item.name</span><a href="#@item.itemno"><span class="pagenum" title="@item.itemno"></span></a></li>
                                        }
                                    </ul>
                                </li>
                            }

                            @*數位斷層合成掃描*@
                            @if (Model.Digital_ViewModel != null && Model.Digital_ViewModel.Count() != 0)
                            {
                                <li>
                                    <span class="sub">數位斷層合成掃描</span><a href="#Digital"><span class="pagenum" title="Digital"></span></a>
                                    <ul>
                                        @foreach (var item in Model.Digital_ViewModel)
                                        {
                                            <li><span class="sub">@item.name</span><a href="#@item.itemno"><span class="pagenum" title="@item.itemno"></span></a></li>
                                        }
                                    </ul>
                                </li>
                            }

                            @*胸部能量減影*@
                            @if (Model.ChestDualEnergy_ViewModel != null && Model.ChestDualEnergy_ViewModel.Count() != 0)
                            {
                                <li>
                                    <span class="sub">胸部能量減影</span><a href="#ChestDualEnergy"><span class="pagenum" title="ChestDualEnergy"></span></a>
                                    <ul>
                                        @foreach (var item in Model.ChestDualEnergy_ViewModel)
                                        {
                                            <li><span class="sub">@item.name</span><a href="#@item.itemno"><span class="pagenum" title="@item.itemno"></span></a></li>
                                        }
                                    </ul>
                                </li>
                            }

                            @*一般X光*@
                            @if (Model.Xray_ViewModel != null && Model.Xray_ViewModel.Count() != 0)
                            {
                                <li>
                                    <span class="sub">一般X光</span><a href="#Xray"><span class="pagenum" title="Xray"></span></a>
                                    <ul>
                                        @foreach (var item in Model.Xray_ViewModel)
                                        {
                                            <li><span class="sub">@item.name</span><a href="#@item.itemno"><span class="pagenum" title="@item.itemno"></span></a></li>
                                        }
                                    </ul>
                                </li>
                            }

                            @*三連片*@
                            @if (Model.Triple_ViewModel != null && Model.Triple_ViewModel.Count() != 0)
                            {
                                <li>
                                    <span class="sub">三連片</span><a href="#Triple"><span class="pagenum" title="Triple"></span></a>
                                    <ul>
                                        @foreach (var item in Model.Triple_ViewModel)
                                        {
                                            <li><span class="sub">@item.name</span><a href="#@item.itemno"><span class="pagenum" title="@item.itemno"></span></a></li>
                                        }
                                    </ul>
                                </li>
                            }

                            @*內視鏡*@
                            @if (Model.Endoscope_ViewModel != null && Model.Endoscope_ViewModel.Count() != 0)
                            {
                                <li>
                                    <span class="sub">內視鏡</span><a href="#Endoscope"><span class="pagenum" title="Endoscope"></span></a>
                                    <ul>
                                        @foreach (var item in Model.Endoscope_ViewModel)
                                        {
                                            <li><span class="sub">@item.name</span><a href="#@item.itemno"><span class="pagenum" title="@item.itemno"></span></a></li>
                                        }
                                    </ul>
                                </li>
                            }

                            @*身體組成分析*@
                            @if (Model.Body_ViewModel != null && Model.Body_ViewModel.Count() != 0)
                            {
                                <li>
                                    <span class="sub">身體組成分析</span><a href="#Body"><span class="pagenum" title="Body"></span></a>
                                    <ul>
                                        @foreach (var item in Model.Body_ViewModel)
                                        {
                                            <li><span class="sub">@item.name</span><a href="#@item.itemno"><span class="pagenum" title="@item.itemno"></span></a></li>
                                        }
                                    </ul>
                                </li>
                            }

                            @*心電圖*@
                            @if (Model.Electrocardiogram_ViewModel != null && Model.Electrocardiogram_ViewModel.Count() != 0)
                            {
                                <li>
                                    <span class="sub">心電圖</span><a href="#Electrocardiogram"><span class="pagenum" title="Electrocardiogram"></span></a>
                                    <ul>
                                        @foreach (var item in Model.Electrocardiogram_ViewModel)
                                        {
                                            <li><span class="sub">@item.name</span><a href="#@item.itemno"><span class="pagenum" title="@item.itemno"></span></a></li>
                                        }
                                    </ul>
                                </li>
                            }

                            @*自律神經檢查*@
                            @if (Model.Autonomic_ViewModel != null && Model.Autonomic_ViewModel.Count() != 0)
                            {
                                <li>
                                    <span class="sub">自律神經檢查</span><a href="#Autonomic"><span class="pagenum" title="Autonomic"></span></a>
                                    <ul>
                                        @foreach (var item in Model.Autonomic_ViewModel)
                                        {
                                            <li><span class="sub">@item.name</span><a href="#@item.itemno"><span class="pagenum" title="@item.itemno"></span></a></li>
                                        }
                                    </ul>
                                </li>
                            }

                            @*眼底攝影*@
                            @if (Model.Fundus_ViewModel != null && Model.Fundus_ViewModel.Count() != 0)
                            {
                                <li>
                                    <span class="sub">眼底攝影</span><a href="#Fundus"><span class="pagenum" title="Fundus"></span></a>
                                    <ul>
                                        @foreach (var item in Model.Fundus_ViewModel)
                                        {
                                            <li><span class="sub">@item.name</span><a href="#@item.itemno"><span class="pagenum" title="@item.itemno"></span></a></li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                }

                @if (Model.Other_ViewModel != null && Model.Other_ViewModel.Count() != 0)
                {
                    <div class="list">
                        @{
                            rwd_menu_number++;
                        }
                        <div class="title">@rwd_menu_number.ToString("00") - 其他檢查<a href="#Other"><span class="pagenum" title="Other"></span></a></div>
                        <ul>
                            @foreach (var item in Model.Other_ViewModel)
                            {
                                <li>
                                    <span class="sub">@item.Key</span><a href="#@item.Key"><span class="pagenum" title="@item.Key"></span></a>
                                    <ul>
                                        @foreach (var data in item.Value)
                                        {
                                            <li><span class="sub">@data.name</span><a href="#@data.itemno"><span class="pagenum" title="@data.itemno"></span></a></li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
        <!-- <a href="#page-catalog" class="btn-top"><i class="icon-menu"></i></a> -->
    </article>
    <script src="~/Scripts/scripts/default/jquery.min.js"></script>
    <script src="~/Scripts/scripts/default/print.js"></script>
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        $('.pagenum').each(function () {
            var id = $(this).attr("title");

            var page = $('div.A4[id=' + id + ']').attr("page");
            var subpage = $('.pagenumber[id="' + id + '"]').parent('div.A4').attr("page");
            var digitalpage = $('.pagenumber[id="' + id + '"]').parents('div.A4').attr("page");

            if (page != undefined) {
                $(this).text(page);
            }
            else if (subpage != undefined) {
                $(this).text(subpage);
            }
            else {
                $(this).text(digitalpage);
            }

        });
    });
</script>