﻿@using Newtonsoft.Json;
@using Web.ViewModel
@if (ViewBag.colJson["useLang"] == "Y")
{
    if (ViewBag.language != null)
    {
        int a = 0;
        foreach (var item in ViewBag.language)
        {
            <div class="form-group row vLay  @Html.Raw("v_"+item.lang)" @if (a > 0) { @Html.Raw("style=\"display:none;\"") }>

                <input type="hidden" name="@Html.Raw(ViewBag.key + "_" + item.lang)" id="@Html.Raw(ViewBag.key + "_" + item.lang)" value="">
                @if (ViewBag.colJson["filetype"].ToString().IndexOf("image") != -1)
                {
                    <input type="hidden" name="@Html.Raw(ViewBag.key + "_alt_"+item.lang)" id="@Html.Raw(ViewBag.key + "_alt_"+item.lang)" value="">
                }

                <label class="col-lg-2 col-form-label" for="fileUp">
                    @Html.Raw(ViewBag.colJson["subject"])<span class="text-danger ml-1"> </span>
                </label>
                <div class="col-lg-10">
                    <div class="form-row">
                        <div class="col-auto">
                            <div class="custom-file">


                                @*<button class="btn btn-primary" onclick="getElementById('inputfile_@Html.Raw(ViewBag.key + "_" + item.lang)').click();" type="button" data-field="@Html.Raw(ViewBag.key + "_" + item.lang)" data-lay="area" data-type="@Html.Raw(ViewBag.colJson["filetype"])" data-multiple="@Html.Raw(ViewBag.colJson["multiple"])" > <i class="icon-upload"> </i> 直接上傳</button>*@

                                <input class="fileUpload" type="file" id="inputfile_@Html.Raw(ViewBag.key + "_" + item.lang)" data-value="@Html.Raw(ViewBag.key + "_" + item.lang)" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;" @if (ViewBag.colJson["multiple"] == "Y") { @Html.Raw("multiple") } data-multiple="@Html.Raw(ViewBag.colJson["multiple"])" accept="@Html.Raw(ViewBag.colJson["filetype"])" />

                            </div>
                        </div>
                        <div class="col-auto mt-sm-0 mt-1">
                            <button class="btn btn-secondary getImages" type="button" data-target="#modal_file" data-toggle="modal" data-field="@Html.Raw(ViewBag.key + "_" + item.lang)" data-lay="area" data-type="@Html.Raw(ViewBag.colJson["filetype"])" data-multiple="@Html.Raw(ViewBag.colJson["multiple"])"> <i class="icon-pictures"> </i> 媒體庫</button>
                        </div>

                    </div>
                </div>
                @Html.Raw(ViewBag.colJson["notes"])
            </div>


            <div class="form-group vLay  @Html.Raw("v_"+item.lang)" @if (a > 0) { @Html.Raw("style=\"display:none;\"") }>
                <div class="row">
                    <div class="col-lg-10 offset-lg-2">
                        <div class="file-img-list @Html.Raw(ViewBag.key + "_" + item.lang + "_fileArea")" id="@Html.Raw(ViewBag.key + "_" + item.lang+"_img")">
                            @if (ViewBag.data != null && ViewBag.data.ContainsKey(item.lang) && ViewBag.data[item.lang][ViewBag.key].ToString() != "")
                            {
                                if (ViewBag.colJson["filetype"].ToString().IndexOf("image") != -1)
                                {

                                    if (ViewBag.data[item.lang][ViewBag.key] != null)
                                    {

                                        string[] fileList = ViewBag.data[item.lang][ViewBag.key].ToString().Split(',');
                                        string[] fileAltList = ViewBag.data[item.lang][ViewBag.key + "_alt"].ToString().Split('§');

                                        for (int i = 0; i < fileList.Length; i++)
                                        {
                                            // string[] filename = fileList[i].Split('/');
                                            <div class="card" id="@Html.Raw(ViewBag.key + "_" + item.lang + "_img" + i)" style="float:left;">
                                                <input class="form-control form-control-sm mb-1 @Html.Raw(ViewBag.key)_alt_@Html.Raw(item.lang)" type="text" value="@if (fileAltList.Length >= fileList.Length && fileAltList[i] != null)
                                            {@Html.Raw(fileAltList[i])}" placeholder="圖片敘述" />
                                                <a class="thumb" href="@Html.Raw(Url.Content("~/") +fileList[i])" data-fancybox=""><span class="imgFill imgLiquid_bgSize imgLiquid_ready" style="background-image: url(&quot;@Html.Raw(Url.Content("~/") +fileList[i])&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;"><img src="@Html.Raw(Url.Content("~/") +fileList[i])" class="imgData fileData" data-file="@Html.Raw(Url.Content("~/") +fileList[i])" style="display: none;"></span></a>
                                                <div class="btn-group btn-group-sm justify-content-center">
                                                    <button class="btn btn-outline-default movePic" type="button" title="排列往前" data-act="left" data-id="@Html.Raw(ViewBag.key + "_" + item.lang + "_img" + i)"><i class="icon-chevron-thin-left"></i></button>
                                                    <!--<button class="btn btn-outline-default open_modal_picname" type="button" title="設定" data-target="#modal_picname" data-toggle="modal" data-access="alt_@Html.Raw(ViewBag.key)_@Html.Raw(ViewBag.key + "_img" + i)" data-filename="@Html.Raw(Url.Content("~/") +fileList[i])"><i class="icon-wrench"></i></button>-->
                                                    <button class="btn btn-outline-default delFiles" type="button" data-guid="" data-id="@Html.Raw(ViewBag.key + "_" + item.lang + "_img" + i)" data-field="@Html.Raw(ViewBag.key)" data-filename="@Html.Raw(Url.Content("~/") +fileList[i])"><i class="icon-trash2"></i></button>
                                                    <button class="btn btn-outline-default movePic" type="button" title="排列往後" data-act="right" data-id="@Html.Raw(ViewBag.key + "_" + item.lang + "_img" + i)"><i class="icon-chevron-thin-right"></i></button>
                                                </div>
                                                <input type="hidden" name="alt_@Html.Raw(ViewBag.key + "_" + item.lang)_@Html.Raw(ViewBag.key + "_" + item.lang + "_img" + i)" id="alt_@Html.Raw(ViewBag.key + "_" + item.lang + "_" + item.lang)_@Html.Raw(ViewBag.key + "_" + item.lang + "_img" + i)" class="form-control altData" placeholder="描述(alt)">
                                            </div>
                                        }
                                    }
                                }
                                else
                                {
                                    if (ViewBag.data[item.lang][ViewBag.key].ToString() != "")
                                    {
                                        string[] fileList = ViewBag.data[item.lang][ViewBag.key].ToString().Split(',');

                                        for (int i = 0; i < fileList.Length; i++)
                                        {
                                            string[] filename = fileList[i].Split('/');

                                            string fileExName = filename[filename.Length - 1].ToString();

                                            <div class="fileData" data-file="@fileList[i]" id="@Html.Raw(ViewBag.key + "_" + item.lang + "_file" + i)">
                                                <a href="@Url.Content(fileList[i])" target="_blank">@fileExName</a>
                                                <button type="button" class="delFiles" data-field="@Html.Raw(ViewBag.key + "_" + item.lang)" data-id="@Html.Raw(ViewBag.key+ "_" + item.lang + "_file" + i)">
                                                    <i class="icon-trash"></i>
                                                </button>
                                            </div>

                                        }
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>

            a++;
        }
    }
}
else
{

    <div class="form-group row">
        <input type="hidden" name="@ViewBag.key" id="@ViewBag.key" value="">
        @if (ViewBag.colJson["filetype"].ToString().IndexOf("image") != -1)
        {
            <input type="hidden" name="@Html.Raw(ViewBag.key + "_alt")" id="@Html.Raw(ViewBag.key + "_alt")" value="">
        }

        <label class="col-lg-2 col-form-label" for="fileUp">
            @Html.Raw(ViewBag.colJson["subject"])<span class="text-danger ml-1"> </span>
        </label>
        <div class="col-lg-10">
            <div class="form-row">
                <div class="col-auto">
                    <div class="custom-file">

                        @*<button class="btn btn-primary" onclick="getElementById('inputfile_@ViewBag.key').click();" type="button" data-field="@ViewBag.key" data-lay="area" data-type="@Html.Raw(ViewBag.colJson["filetype"])" data-multiple="@Html.Raw(ViewBag.colJson["multiple"])"> <i class="icon-upload"> </i> 直接上傳</button>*@

                        <input class="fileUpload" type="file" id="inputfile_@ViewBag.key" data-value="@ViewBag.key" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;" @if (ViewBag.colJson["multiple"] == "Y") { @Html.Raw("multiple") } data-multiple="@Html.Raw(ViewBag.colJson["multiple"])" accept="@Html.Raw(ViewBag.colJson["filetype"])" />

                    </div>
                </div>
                <div class="col-auto mt-sm-0 mt-1">
                    <button class="btn btn-secondary getImages" type="button" data-target="#modal_file" data-toggle="modal" data-field="@ViewBag.key" data-lay="area" data-type="@Html.Raw(ViewBag.colJson["filetype"])" data-multiple="@Html.Raw(ViewBag.colJson["multiple"])"> <i class="icon-pictures"> </i> 媒體庫</button>
                </div>

            </div>
        </div>
        @Html.Raw(ViewBag.colJson["notes"])
    </div>


    <div class="form-group">
        <div class="row">
            <div class="col-lg-10 offset-lg-2">
                <div class="file-img-list @Html.Raw(ViewBag.key + "_fileArea")" id="@Html.Raw(ViewBag.key+"_img")">
                    @{
                        var key = "";
                        var pickey = "";
                        var picaltkey = "";
                        key = ViewBag.key;

                        pickey = "pic";
                        picaltkey = "pic_alt";

                        //switch (key)
                        //{
                        //    case string value when value.Contains("ultrasound"):
                        //        pickey = "pic";
                        //        picaltkey = "pic_alt";
                        //        break;
                        //    case string value when value.Contains("chestdualenergy"):
                        //        pickey = "pic";
                        //        picaltkey = "pic_alt";
                        //        break;
                        //    case string value when value.Contains("xray"):
                        //        pickey = "pic";
                        //        picaltkey = "pic_alt";
                        //        break;
                        //    case string value when value.Contains("triple"):
                        //        pickey = "pic";
                        //        picaltkey = "pic_alt";
                        //        break;
                        //    case string value when value.Contains("endoscope"):
                        //        pickey = "pic";
                        //        picaltkey = "pic_alt";
                        //        break;
                        //    case string value when value.Contains("body"):
                        //        pickey = "pic";
                        //        picaltkey = "pic_alt";
                        //        break;
                        //    case string value when value.Contains("electrocardiogram"):
                        //        pickey = "pic";
                        //        picaltkey = "pic_alt";
                        //        break;
                        //    case string value when value.Contains("autonomic"):
                        //        pickey = "pic";
                        //        picaltkey = "pic_alt";
                        //        break;
                        //    case string value when value.Contains("fundus"):
                        //        pickey = "pic";
                        //        picaltkey = "pic_alt";
                        //        break;
                        //}

                    }
                    @if (ViewBag.data != null && ViewBag.data[pickey].ToString() != "")
                    {

                        if (ViewBag.colJson["filetype"].ToString().IndexOf("image") != -1)
                        {
                            //string[] fileList = ViewBag.data[pickey].ToString().Split(',');
                            //string[] fileAltList = ViewBag.data[pickey + "_alt"].ToString().Split('§');

                            Dictionary<string, string> all_fileList = JsonConvert.DeserializeObject<Dictionary<string, string>>(ViewBag.data[pickey].ToString());
                            Dictionary<string, string> all_filealtList = JsonConvert.DeserializeObject<Dictionary<string, string>>(ViewBag.data[picaltkey].ToString());

                            if (all_fileList.ContainsKey(ViewBag.key) && all_filealtList.ContainsKey(ViewBag.key + "_alt"))
                            {
                                string[] fileList = all_fileList[ViewBag.key].ToString().Split(',');
                                string[] fileAltList = all_filealtList[ViewBag.key + "_alt"].ToString().Split('§');

                                if (!string.IsNullOrEmpty(fileList[0].ToString()))
                                {
                                    for (int i = 0; i < fileList.Length; i++)
                                    {
                                        string fullFilePath = Path.Combine(Url.Content("~/"), fileList[i]);
                                        <div class="card" id="@Html.Raw(ViewBag.key + "_img" + i)" style="float:left;">
                                            <input class="form-control form-control-sm mb-1 @Html.Raw(ViewBag.key)_alt" type="text" value="@if (fileAltList[i] != null) {@Html.Raw(fileAltList[i])}" placeholder="圖片敘述" />
                                            <a class="thumb" href="@fullFilePath" data-fancybox="">
                                                <span class="imgFill imgLiquid_bgSize imgLiquid_ready" style="background-image: url(&quot;@fullFilePath&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                                                    <img src="@fullFilePath" class="imgData fileData" data-file="@fullFilePath" style="display: none;">
                                                </span>
                                            </a>
                                            <div class="btn-group btn-group-sm justify-content-center">
                                                <button class="btn btn-outline-default movePic" type="button" title="排列往前" data-act="left" data-id="@Html.Raw(ViewBag.key + "_img" + i)"><i class="icon-chevron-thin-left"></i></button>
                                                <!--<button class="btn btn-outline-default open_modal_picname" type="button" title="設定" data-target="#modal_picname" data-toggle="modal" data-access="alt_@Html.Raw(ViewBag.key)_@Html.Raw(ViewBag.key + "_img" + i)" data-filename="@Html.Raw(Url.Content("~/") +fileList[i])"><i class="icon-wrench"></i></button>-->
                                                <button class="btn btn-outline-default delFiles" type="button" data-guid="" data-id="@Html.Raw(ViewBag.key + "_img" + i)" data-field="@Html.Raw(ViewBag.key)" data-filename="@fullFilePath"><i class="icon-trash2"></i></button>
                                                <button class="btn btn-outline-default movePic" type="button" title="排列往後" data-act="right" data-id="@Html.Raw(ViewBag.key + "_img" + i)"><i class="icon-chevron-thin-right"></i></button>
                                            </div>
                                            <input type="hidden" name="alt_@Html.Raw(ViewBag.key)_@Html.Raw(ViewBag.key + "_img" + i)" id="alt_@Html.Raw(ViewBag.key)_@Html.Raw(ViewBag.key + "_img" + i)" class="form-control altData" placeholder="描述(alt)">
                                        </div>
                                    }
                                }
                            }
                        }
                        else
                        {
                            if (ViewBag.data[ViewBag.key].ToString() != "")
                            {
                                string[] fileList = ViewBag.data[ViewBag.key].ToString().Split(',');

                                for (int i = 0; i < fileList.Length; i++)
                                {
                                    string[] filename = fileList[i].Split('/');

                                    string fileExName = filename[filename.Length - 1].ToString();

                                    <div class="fileData" data-file="@fileList[i]" id="@Html.Raw(ViewBag.key + "_file" + i)"><a href="@Url.Content(fileList[i])" target="_blank">@fileExName</a> <button type="button" class="delFiles" data-field="@ViewBag.key" data-id="@Html.Raw(ViewBag.key + "_file" + i)"><i class="icon-trash"></i></button></div>

                                }
                            }


                        }

                    }
                </div>
            </div>
        </div>
    </div>

}
