﻿<div class="form-group row">
    <label class="col-lg-2 col-form-label" for="changeName">
        異動者
    </label>
    <div class="col-lg-5 col-xl-4">
        <div class="form-text">林小安(資訊管理部)</div>
    </div>
</div>
<div class="form-group row">
    <label class="col-lg-2 col-form-label" for="changeIp">
        異動者ip
    </label>
    <div class="col-lg-5 col-xl-4">
        <div class="form-text">192.168.6.1</div>
    </div>
</div>
<div class="form-group row">
    <label class="col-lg-2 col-form-label" for="changeDate">
        異動日期
    </label>
    <div class="col-lg-5 col-xl-4">
        <div class="form-text">2018-08-08</div>
    </div>
</div>
