﻿<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]> <html class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="zh">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>晨悅預防醫學機構 晨悅診所</title>
    <meta name="author" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="~/Content/styles/images/ico.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/style.css">
    <!--[if lt IE 9]>
    <script src="scripts/default/html5shiv.min.js"></script>
    <script src="scripts/default/respond.min.js"></script>
    <![endif]-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154162485-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-154162485-1');
    </script>
</head>
<body>
    <header id="header">
        <div class="container">
            <a href="./">
                <img src="~/Content/styles/images/logo.svg" alt="晨悅預防醫學機構">
            </a>
        </div>
    </header>

    @RenderBody()

    <footer id="footer">
        <div class="container fz15">
            <address class="address">
                <div>
                    <span>地址 : <a href="@ViewBag.googlemap" target="_blank">@ViewBag.address</a></span>
                    <span>預約電話 : <a href="tel:+@ViewBag.phone">@ViewBag.phone 分機 #@ViewBag.ext_num</a></span>
                </div>
                <div>
                    <span>健診服務時間：@ViewBag.medical_servicedate</span>
                    <span>門診服務時間：@ViewBag.outpatient_servicedate</span>
                </div>
            </address>
            <div>
                <span>@ViewBag.title 版權所有 © 2019 MORNJOY Preventive Medicine Clinic</span>
                <span><a class="designBy" href="http://minmax.biz/" title="雲端數位科技有限公司 英創達網路有限公司 " target="_blank"> DESIGNED BY MINMAX 網頁設計</a></span>
            </div>
        </div>
    </footer>
    <!-- JavaScript
    ================================================== -->
    <script src="~/Scripts/scripts/default/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/scripts/default/print.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>