/* ==========================================================================
	clear
 ========================================================================== */
button, input, select, textarea { font-size: 100%; /* 1 */ margin: 0; /* 2 */ ; /* 3 */ }
button, input {line-height: normal;outline: 0;}
button, select {text-transform: none}
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; /* 2 */ ; /* 3 */ }
button[disabled], html input[disabled] {cursor: default}
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; /* 1 */ nowhitespace: afterproperty; -webkit-box-sizing: content-box; box-sizing: content-box; /* 2 */ ; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance: none}
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
button { border: none; background: none; padding: 0; margin: 0; display: inline-block; }
figure,address{padding:0;margin:0;}
* {outline: 0;}
/* ==========================================================================
	jquery
 ========================================================================== */
.jqlazyFade{}/*依序淡入*/
.jqheightAuto{}/*等高*/
.jqimgFill,/*圖片縮放 中*/
.jqimgFill-tl,/*圖片縮放 上左*/
.jqimgFill-tr/*圖片縮放 上右*/{ 
	position:relative;
	overflow:hidden;
    width:100%;
    height:100%;
    display:inline-block;
}
/* ==========================================================================
	bootstrap 基本樣式
 ========================================================================== */
/*預設按鈕*/
.btn-default {
  color: #ffffff;
  background-color: #6C7E29;
  border-color: #6C7E29;
  padding: 6px 40px;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #54611F;
  border-color: #54611F;
}
/* ==========================================================================
	public
 ========================================================================== */
html,body,.wp{min-height:100%;}
body {
    padding:0;
    margin:0;
    overflow-x:visible;
    overflow-y:visible;
    -webkit-text-size-adjust: none;
}
.pd0{padding:0;}
.pd{padding:15px 25px;}
.pdT{padding-top:50px !important;}
.pdB{padding-bottom:50px !important;}
.pdR{padding-right:10px;}
.pdL{padding-left:10px;}
.maT{margin-top:50px;}
.maB{margin-bottom:50px;}
.container { width:100%;max-width:1100px;position:relative;}
.container.lg{max-width:1600px;min-width:1100px;}
.col{display:inline-block;width:auto;vertical-align:middle;}
.colTtop{display:inline-block;width:auto;vertical-align:top;}
hr { border-top-style: none; border-bottom-width: 0px; border-bottom-style: none; clear: both; border-right-style: none; border-left-style: none; border-top-width: 0px; border-right-width: 0px; border-left-width: 0px; padding-top: 20px; display: block; margin-bottom: 25px; }
/*實線*/
hr.line { border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; border-top-style: none; border-right-style: none; border-bottom-style: solid; border-left-style: none; border-bottom-color: #CCC; margin-top: 10px; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
/*虛線*/
hr.dashed { border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; border-top-style: none; border-right-style: none; border-bottom-style: dashed; border-left-style: none; border-bottom-color: #CCC; margin-top: 10px; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }

@media print {.print-hid { display:none; }}

/* ==========================================================================
   Rows
   ========================================================================== */
  ul.rows,    
  ol.rows,    
  dl.rows                         {margin: 0; padding: 0; list-style: none}

  ul.rows > li, 
  ol.rows > li,
  dl.rows > dt, 
  dl.rows > dd                    {margin: 0; padding: 0; display: block; clear: both}
/* ==========================================================================
   Columns [float]
   ========================================================================== */

  ul.columns, 
  ol.columns, 
  dl.columns                      {margin: 0; padding: 0; list-style: none;}

  ul.columns:after,
  ol.columns:after,
  dl.columns:after                {content: ""; clear: both; width: 0; height: 0; display: block; overflow: hidden; visibility: hidden;}

  ul.columns > li, 
  ol.columns > li,
  dl.columns > dt, 
  dl.columns > dd                 {margin: 0; padding: 0; float: left;}

/* ==========================================================================
   Columns [inline]
   ========================================================================== */

  ul.columns.inline, 
  ol.columns.inline, 
  dl.columns.inline               {/*letter-spacing: -0.31em;*/}
  
  opera-hack:-o-prefocus, 
  ul.columns.inline, 
  ol.columns.inline, 
  dl.columns.inline               {/*word-spacing: -0.43em;*/}
  
  ul.columns.inline > li, 
  ol.columns.inline > li,
  dl.columns.inline > dt, 
  dl.columns.inline > dd          {float: none; display: inline-block; vertical-align: top; letter-spacing: normal}

  opera-hack:-o-prefocus, 
  ul.columns.inline > li, 
  ol.columns.inline > li, 
  dl.columns.inline > dt
  dl.columns.inline > dd          {word-spacing: normal; letter-spacing: normal;}

 /* ==========================================================================
	文字
========================================================================== */
body,p{
	font-family:"微軟正黑體", Verdana, Arial, "思源黑體 TWHK Normal", serif,"新細明體-ExtB" ; 
 	line-height: 1.7em; 
	color: rgb(94, 94, 94);
	font-size:15px;
}
.max-xs-size p{
    font-size:13px;
	line-height: 1.5em; 
	margin-bottom:10px;
	letter-spacing:0px;
}
a:hover{text-decoration:none;}
a{ color:#777;}

h1 { font-size: 2em; margin: 0.67em 0; }
h2 { font-size: 1.5em; margin: 0.2em 0; }
h3 { font-size: 1.17em; margin: 1em 0; }
h4 { font-size: 1em; margin: 1.33em 0; }
h5 { font-size: 0.83em; margin: 1.67em 0; }
h6 { font-size: 0.67em; margin: 2.33em 0; }
/*時間*/
time { font-size: 10px; color: #999; margin:0; padding:0; }
address { font-style: normal; font-weight: normal; }
.more{font-family: 'Muli';}
/*顏色*/
.red {
    color:#FF7E7E;
}
/*備註文字*/
.notes {color: #999; font-size:12px;}
.num{
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
}
/* ==========================================================================
		圖片
========================================================================== */
img{max-width:100%;height:auto;}
/* ==========================================================================
		編排
========================================================================== */
/*自動100%撐開*/
.auto { overflow: hidden; zoom: 1; }
.auto .left {float: left;}
.auto .right { overflow: hidden; zoom: 1; }
/* ==========================================================================
	常用
========================================================================== */
/*穿透*/
.pointer{pointer-events: none;}
/*圓角*/
.radius {border-radius: 5px;}
/*文字陰影*/
.text-shadow {text-shadow: 1px 1px 2px #777;}
/*區塊陰影*/
.box-shadow { box-shadow: 0px 0px 5px #E3E3E3;}
/*選取*/
li:nth-child(1) {}
li:first-child {}
li:last-child {}
li:nth-child(even){}/*偶數*/
li:nth-child(odd){}/*單數*/
/*手指效果*/
.cursor {cursor: pointer;}
/*Hack*/
.hack {margin-right: 14px; /* IE 8+ */}
:root .hack {margin-right: 18px9; /* IE 9+ */}
*+html .hack {margin-right: 14px; /* IE 7+ */}

/*3角型*/
[class^="caret-"]:after, [class*="caret-"]:after{
	display: inline-block;
	margin-left:10px;
	content:'';
	border-width: 4px; 
	border-color: transparent; 
	border-style: solid;
}
.caret-t:after{ 
	border-top-width:0; 
	border-bottom-color:#000000; 
}
.caret-b:after{ 
	border-bottom-width:0; 
	border-top-color:#000000; 
}
.caret-r:after{ 
	border-right-width:0; 
	border-left-color:#000000; 
}
.caret-l:after{ 
	border-left-width:0; 
	border-right-color:#000000; 
}
/*顏色*/
.rgba { 
	background-color: rgb(143,83,156);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); 
	background-color: rgba(143,83,156,0);
}
/*去除div無物件的區塊不影響階層*/
.pointer-events { pointer-events: none; /*外圍物件*/ pointer-events: auto; /*外圍物件*/ }
/*ie9以上支援*/
:root .root {}
/*動畫*/
.transition{
    transition: background-color 1s,color 0.5s;
    transition: transform 0.4s,background-color 1s;
    
}
.transition:hover{
    transform: scale(1.1);
}
/*正中央*/
.center{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}
.middle {
  display: table;
  height:100%;
  width:100%;
}
.middle-inline{
	display: table-cell;
	vertical-align :middle;
	text-align: center;
    height:100%;
    width:100%;
}
