@charset "UTF-8";
/* ==========================================================================
    -    網站主體樣式設計 -
author:          英創達網路有限公司
email:         web@e-creative.tw
website:       http://e-creative.tw
 ==========================================================================*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300);
@import url(bootstrap.css);
/*bootstrap*/
@import url(default.css);
/*基本*/
@import url(animation.css);
/*jquery css*/
@import url(fonts/style.css);
/*文字圖形*/
@import url(plugins.css);
/*jquery css*/
body {
  background-color: #f1f1f1;
  font-family: 微軟正黑體; }

/* ==========================================================================
* report
 ==========================================================================*/
.A4 {
  background: white;
  margin: 0 auto;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative; }
  @media screen and (min-width: 1025px) {
    .A4 {
      width: 1070px;
      height: 1514px;
      margin-bottom: 0.5cm; }
      .A4 > *:not(.head), .A4 > *:not(.header) {
        padding-left: 90px;
        padding-right: 90px; } }
  @media screen and (max-width: 1025px) {
    .A4 {
      padding-bottom: 20px; }
      .A4 > *:not(.head), .A4 > *:not(.header) {
        padding-left: 20px;
        padding-right: 20px; } }

.A4-nomodify {
  background: white;
  display: block;
  margin: 0 auto; }
  @media screen and (min-width: 1025px) {
    .A4-nomodify {
      width: 1070px;
      height: 1514px;
      margin-bottom: 0.5cm; } }

@media print {
  size: A4 portrait; }

@media print {
  body {
    margin: 0;
    padding: 0; }
  .A4 {
    width: 1070px;
    height: 1514px;
    min-height: 1514px;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0;
    width: auto;
    height: auto;
    page-break-before: always; }
    .A4 > *:not(.head), .A4 > *:not(.header) {
      padding-left: 90px;
      padding-right: 90px; }
  .A4-nomodify {
    width: 1070px;
    height: 1514px;
    min-height: 1514px;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0;
    width: auto;
    height: auto; }
  .noprint {
    display: none; }
  .enable-print {
    display: block; } }

@page :left {
  margin-left: 0cm; }

@page :right {
  margin-left: 0cm; }

@page : left {
  @bottom-left {
    content: "Page " counter(page) " of " counter(pages); } }

/* ==========================================================================
* report 共用 [page] [footer]
 ==========================================================================*/
.report .print-Box.page .footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 30px;
  text-align: center; }

/* ==========================================================================
* reportPrint
 ==========================================================================*/
h1,
h2,
h3,
h4,
h5 {
  page-break-after: avoid;
  font-family: 微軟正黑體; }

.reportPrint {
  width: 1070px;
  margin: auto;
  color: #000000; }
  @media screen and (max-width: 1025px) {
    .reportPrint {
      width: 100%; } }

.reportPrint .print-Box {
  page-break-after: always; }
  @media screen and (max-width: 1025px) {
    .reportPrint .print-Box {
      width: 100%;
      min-height: 1px;
      border-left: none;
      border-right: none; } }

.reportPrint .head {
  position: relative;
  font-size: 15px;
  background: #fff8ea;
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media screen and (max-width: 1025px) {
    .reportPrint .head {
      display: none; } }
  .reportPrint .head-template {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden; }
  .reportPrint .head__logo {
    width: 180px; }
  .reportPrint .head .block {
    padding: 0 20px; }
    .reportPrint .head .block ul > li + li {
      margin-top: 5px; }
    .reportPrint .head .block + .block {
      border-left: 1px solid #dcdcdc; }

/* ==========================================================================
* report [page-front] 封面
 ==========================================================================*/
.report #page-front {
  background-image: url(images/page-front-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 0;
  position: relative; }
  @media screen and (max-width: 577px) {
    .report #page-front {
      height: 100vh;
      max-height: 650px; } }
  @media screen and (max-width: 1025px) {
    .report #page-front {
      background-image: url(images/page-front-bg-2.jpg); } }
  @media screen and (max-width: 1023px) and (orientation: landscape) {
    .report #page-front {
      min-height: 450px;
      background-image: url(images/page-front-bg-ld.jpg); } }

.report #page-front .id {
  top: 120px;
  left: 120px;
  font-size: 20px;
  color: #ffffff;
  width: 200px;
  position: absolute; }

.report #page-front .id em {
  font-size: 30px;
  margin-left: 5px; }

.report #page-front .title {
  width: 800px;
  top: 110px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  color: #ffffff;
  position: absolute; }

.report #page-front .title h1 {
  font-size: 35px;
  color: white;
  color: rgba(255, 255, 255, 0.6); }

.report #page-front .title h2 {
  font-size: 40px;
  font-family: '華康特粗明體';
  position: relative;
  margin-bottom: 30px; }

/*
.report #page-front .title h2:after{
	content:'';
	border-bottom:3px solid rgb(255,255,255);
	border-bottom:3px solid rgba(255,255,255,0.6);
	width:100px;
	top:60px;
	left:0;
	position:absolute;
}
*/
.report #page-front .title p {
  color: #ffffff; }

.report #page-front .txt {
  width: 300px;
  text-align: right;
  top: 1000px;
  right: 100px;
  left: inherit;
  padding-bottom: 20px;
  position: absolute; }

.report #page-front .txt h3 {
  font-size: 30px;
  line-height: 1.3em;
  font-family: 'DejaVu Serif', Georgia, serif;
  margin-bottom: 25px; }

.report #page-front .txt h3 em {
  font-style: normal;
  font-size: 20px;
  display: block; }

.report #page-front .txt p {
  line-height: 1em; }

.report #page-front .txt p strong {
  color: #000000; }

.report #page-front .qrcode {
  position: relative;
  padding-top: 30px;
  margin-top: 30px; }

.report #page-front .qrcode:before {
  content: '';
  width: 100px;
  position: absolute;
  right: 0;
  top: 1px;
  height: 3px;
  background-color: #c8c8c8; }

.report #page-front .qrcode img {
  margin-bottom: 10px; }

.report #page-front .address {
  position: absolute;
  bottom: 150px;
  left: 100px; }

.report #page-front .address .logo {
  width: 200px;
  margin-bottom: 15px; }

.report #page-front .address p {
  margin-left: 40px;
  line-height: 1em;
  color: #323232; }

/* ==========================================================================
* report共用 [page]
 ==========================================================================*/
.report .page > .print-Box {
  padding: 0; }

.report .page > .print-Box .page-head {
  position: absolute;
  left: 50px;
  top: 25px; }

.report .print-Box.page .text {
  padding: 0 90px; }

.report .print-Box.page > .header {
  padding-left: 90px; }

/* ==========================================================================
* report 共用 [page] [header]
 ==========================================================================*/
.report .print-Box.page > .header {
  position: relative;
  background-image: url(images/page-1-heade.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100% auto;
  height: 500px; }

.report .print-Box.page > .header .num {
  padding-top: 100px;
  color: #000000;
  font-size: 50px;
  font-family: Arial, sans-serif;
  font-style: italic;
  position: relative;
  margin-bottom: 40px; }

.report .print-Box.page > .header .num:after {
  content: '';
  background-color: #c8c8c8;
  height: 3px;
  width: 130px;
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: 2; }

.report .print-Box.page > .header .num:before {
  content: '';
  background-color: #a76f1f;
  height: 5px;
  width: 60px;
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: 3; }

.report .print-Box.page > .header h2 {
  font-weight: bold; }

.report .print-Box.page > .header h2 em {
  font-style: normal;
  display: block;
  line-height: 1.8em; }

/* ==========================================================================
* report 共用 [page] [text]
 ==========================================================================*/
.report .line {
  border-bottom: 1px solid #e4d4bb;
  padding: 0 0 15px 0; }

.report .lineb {
  border-bottom: 1px solid #a76f1f; }

.report .mr {
  padding-bottom: 50px;
  margin-bottom: 70px; }

/* ==========================================================================
* report 共用 [page] [page-1]
 ==========================================================================*/
.report .page-1 .box-1 .colTtop:first-child {
  margin-right: 80px; }

.report .page-1 .box-1 .colTtop .line {
  padding-right: 30px; }

/* ==========================================================================
* 共用 icon
 ==========================================================================*/
.white_icon {
  color: #fff;
  font-size: 17px;
  text-shadow: 0px 0px 2px #cbcbcb, 0px 0px 2px #cbcbcb, 0px 0px 2px #cbcbcb, 0px 0px 2px #cbcbcb;
  letter-spacing: 2px; }

.yellow_icon {
  color: #fff45c;
  font-size: 17px;
  text-shadow: 0px 0px 2px #cbcbcb, 0px 0px 2px #cbcbcb, 0px 0px 2px #cbcbcb, 0px 0px 2px #cbcbcb;
  letter-spacing: 2px; }

.orange_icon {
  color: #ff9600;
  letter-spacing: 2px; }

.red_icon {
  color: #ff0000;
  letter-spacing: 2px; }

.Q_icon {
  font-size: 27px;
  font-family: Arial;
  font-weight: bold;
  color: #750fb6; }

.red {
  color: #fe0000; }

/* ==========================================================================
* 共用 [header_caption]
 ==========================================================================*/
.header_caption {
  margin-top: 45px;
  padding-top: 10px;
  font-size: 18px;
  line-height: 30px;
  width: 330px;
  border-top: 2px solid #cecdcd; }

/* ==========================================================================
* 共用 [imgbox]
 ==========================================================================*/
/* 自適應div寬度 */
.imgbox img {
  max-width: 755px;
  myimg: expression( onload=function() {this.style.width=(this.offsetWidth > 755) ? '755px': 'auto'} ); }

.imgbox {
  padding-left: 54px;
  padding-top: 10px; }

/* ==========================================================================
* 共用 [inner-bg] 背景圖
 ==========================================================================*/
.inner-bg {
  background: url(images/page-inner-bg.jpg) no-repeat;
  background-position: right bottom;
  background-size: contain; }

/* ==========================================================================
* [page] [page-body] 人體模型
 ==========================================================================*/
#page-body .headerbox {
  padding-top: 90px;
  height: 200px; }

#page-body .title {
  float: left;
  color: #323232;
  font-size: 27px;
  font-family: serif;
  line-height: 40px;
  padding-left: 110px;
  padding-right: 20px;
  color: #323232; }

#page-body .title p {
  font-family: 微軟正黑體;
  font-size: 27px;
  color: #323232; }

#page-body .sub {
  float: right;
  font-size: 18px;
  line-height: 30px;
  width: 715px;
  padding-left: 35px;
  padding-right: 100px;
  margin: 11px;
  border-left: 1px solid #dcdcdc; }

/* [main] 模型主體內容 */
#page-body .main {
  background-color: #f5f5f5;
  clear: both;
  height: 100%;
  width: 100%; }

#page-body .main .inner .dollbody {
  padding-top: 10.5%;
  text-align: center;
  z-index: -1; }

#page-body .main .inner .dollbody img {
  width: 87%;
  height: auto; }

#page-body .main .inner {
  color: #323232;
  font-size: 22px;
  font-weight: bold;
  line-height: 45px; }

#page-body .main .inner .leftbox div p,
#page-body .main .inner .rightbox div p {
  font-size: 20px;
  font-weight: normal; }

/*--- [leftbox] ---*/
#page-body .main .inner .leftbox {
  text-align: right; }

#page-body .main .inner .leftbox .left1 {
  position: absolute;
  width: 180px;
  height: 100px;
  display: block;
  top: 280px;
  left: 90px; }

#page-body .main .inner .leftbox .left2 {
  position: absolute;
  width: 180px;
  height: 100px;
  display: block;
  top: 398px;
  left: 90px; }

#page-body .main .inner .leftbox .left3,
#page-body .main .inner .leftbox .fe_left3 {
  position: absolute;
  width: 180px;
  height: 100px;
  display: block;
  top: 512px;
  left: 90px; }

#page-body .main .inner .leftbox .left4,
#page-body .main .inner .leftbox .fe_left4 {
  position: absolute;
  width: 180px;
  height: 100px;
  display: block;
  top: 633px;
  left: 90px; }

#page-body .main .inner .leftbox .left5,
#page-body .main .inner .leftbox .fe_left5 {
  position: absolute;
  width: 180px;
  height: 100px;
  display: block;
  top: 750px;
  left: 90px; }

#page-body .main .inner .leftbox .left6 {
  position: absolute;
  width: 180px;
  height: 100px;
  display: block;
  top: 865px;
  left: 90px; }

#page-body .main .inner .leftbox .left7 {
  position: absolute;
  width: 180px;
  height: 100px;
  display: block;
  top: 980px;
  left: 90px; }

/*--- [rightbox] ---*/
#page-body .main .inner .rightbox {
  text-align: left; }

#page-body .main .inner .rightbox .right1 {
  position: absolute;
  width: 180px;
  height: 100px;
  display: block;
  top: 398px;
  right: 100px; }

#page-body .main .inner .rightbox .right2,
#page-body .main .inner .rightbox .fe_right2 {
  position: absolute;
  width: 180px;
  height: 100px;
  display: block;
  top: 512px;
  right: 100px; }

#page-body .main .inner .rightbox .right3 {
  position: absolute;
  width: 180px;
  height: 100px;
  display: block;
  top: 633px;
  right: 100px; }

#page-body .main .inner .rightbox .right4 {
  position: absolute;
  width: 180px;
  height: 100px;
  display: block;
  top: 750px;
  right: 100px; }

#page-body .main .inner .rightbox .right5 {
  position: absolute;
  width: 180px;
  height: 100px;
  display: block;
  top: 865px;
  right: 100px; }

#page-body .main .inner .rightbox .right6 {
  position: absolute;
  width: 180px;
  height: 100px;
  display: block;
  top: 980px;
  right: 100px; }

/*--- [males] 男性的線段 ---*/
#page-body .main .inner .leftbox .left1:before {
  content: url(images/line_left1.png);
  position: absolute;
  top: 22px;
  left: 190px; }

#page-body .main .inner .leftbox .left2:before {
  content: url(images/line_left2.png);
  position: absolute;
  top: -8px;
  left: 190px; }

#page-body .main .inner .leftbox .left3:before {
  content: url(images/line_left3.png);
  position: absolute;
  top: -6px;
  left: 190px; }

#page-body .main .inner .leftbox .left4:before {
  content: url(images/line_left4.png);
  position: absolute;
  top: -10px;
  left: 190px; }

#page-body .main .inner .leftbox .left5:before {
  content: url(images/line_left5.png);
  position: absolute;
  top: -8px;
  left: 190px; }

#page-body .main .inner .rightbox .right1:before {
  content: url(images/line_right1.png);
  position: absolute;
  top: 21px;
  right: 195px; }

#page-body .main .inner .rightbox .right2:before {
  content: url(images/line_right2.png);
  position: absolute;
  top: -5px;
  right: 195px; }

/*--- [females] 女性的線段 ---*/
#page-body .main .inner .leftbox .fe_left3:before {
  content: url(images/line_left3.png);
  position: absolute;
  top: -6px;
  left: 190px; }

#page-body .main .inner .leftbox .fe_left4:before {
  content: url(images/line_left4-2.png);
  position: absolute;
  top: -20px;
  left: 190px; }

#page-body .main .inner .leftbox .fe_left5:before {
  content: url(images/line_left5-2.png);
  position: absolute;
  top: -55px;
  left: 190px; }

#page-body .main .inner .rightbox .fe_right2:before {
  content: url(images/line_right2-2.png);
  position: absolute;
  top: -5px;
  right: 195px; }

/*--- [caption] ---*/
#page-body .main .inner .caption {
  position: relative;
  width: 100%; }

#page-body .main .inner .caption .title {
  color: #323232;
  font-size: 22px;
  font-family: 微軟正黑體;
  font-weight: bold;
  text-align: left;
  width: 100%; }

#page-body .main .inner .caption .inner {
  padding-left: 11%;
  padding-top: 1%;
  display: inline-block; }

#page-body .main .inner .caption .box {
  display: inline-block;
  text-align: center;
  margin: -4px;
  width: 120px;
  height: 90px;
  font-size: 20px;
  background-color: #fff;
  border: 1px solid #c8c8c8; }

#page-body .main .inner .caption .box span {
  padding-top: 10px;
  height: 40px;
  display: block; }

/* ==========================================================================
* [page] [page-catalog] 目錄
 ==========================================================================*/
#page-catalog .headerbox {
  width: 80%;
  height: 90px;
  margin: 10% 10% 5% 10%;
  border-bottom: 5px solid #dcdcdc;
  color: #323232;
  font-size: 37px;
  font-weight: bold; }

#page-catalog .main .left {
  float: left;
  margin: 0 0 0 10%;
  width: 35%; }

#page-catalog .main .right {
  float: right;
  margin: 0 10% 0 0;
  width: 35%; }

#page-catalog .main .list {
  line-height: 45px;
  border-bottom: 2px solid #dcdcdc;
  margin-bottom: 4px; }

#page-catalog .main .list2 {
  line-height: 45px;
  border-bottom: none; }

#page-catalog .main .title {
  font-size: 19px;
  font-weight: bold; }

#page-catalog .main .list ul,
#page-catalog .main .list2 ul {
  padding-left: 30px; }

#page-catalog .main .list ul li,
#page-catalog .main .list2 ul li {
  list-style: none;
  font-size: 19px; }

#page-catalog .main .pagenum {
  font-family: 微軟正黑體;
  font-weight: normal;
  position: relative;
  float: right; }

/* ==========================================================================
* [page] [page-1] 基礎評估
 ==========================================================================*/
#page-1 .header {
  height: 380px; }

#page-1 .text {
  padding-top: 40px; }

/*--- [grid] ---*/
#page-1 .text .title {
  font-size: 25px;
  height: 33px;
  line-height: 33px;
  font-weight: bold;
  padding-left: 50px;
  margin: 20px 0;
  background: url(images/icon04.png) no-repeat 0 2px; }

#page-1 .text .grid {
  clear: both;
  padding-top: 60px;
  width: 100%;
  font-size: 19px; }

#page-1 .text .grid .left {
  width: 20%;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #f7f1e0; }

#page-1 .text .grid .right {
  width: 80%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  text-align: left; }

/*--- [grid_left] ---*/
#page-1 .text .grid_left {
  float: left;
  width: 50%;
  font-size: 19px; }

#page-1 .text .grid_left .left,
#page-1 .text .grid_right .left {
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #f7f1e0; }

#page-1 .text .grid_left .right,
#page-1 .text .grid_right .right {
  width: 260px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  text-align: left; }

/*--- [grid_right] ---*/
#page-1 .text .grid_right {
  float: right;
  width: 50%;
  font-size: 19px; }

/* ==========================================================================
* [page] [page-2] 異常清單
 ==========================================================================*/
#page-2 .header {
  position: relative;
  background-image: url(images/page-2-header.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100% auto;
  height: 550px; }

#page-2 .header .num:before {
  background-color: #619034; }

/*--- [text] ---*/
#page-2 .text .grid {
  padding-top: 40px;
  font-size: 19px;
  line-height: 30px;
  width: 100%; }

#page-2 .text .grid .title {
  font-size: 25px;
  height: 33px;
  line-height: 33px;
  font-weight: bold;
  padding-left: 50px;
  margin: 20px 0;
  background: url(images/icon01.png) no-repeat 0 2px; }

#page-2 .text .grid .td {
  padding-top: 20px;
  padding-bottom: 20px; }

#page-2 .text .grid .subtitle {
  height: 65px;
  text-align: center; }

#page-2 .text .grid .name {
  width: 33%;
  padding-left: 30px;
  padding-right: 30px; }

#page-2 .text .grid .num {
  font-family: 微軟正黑體;
  text-align: center; }

#page-2 .text .grid .level {
  text-align: center; }

#page-2 .text .grid .time {
  width: 20%;
  text-align: center; }

#page-2 .text .grid .branch {
  text-align: center; }

/* ==========================================================================
* [page] [page-3] 追蹤時程
 ==========================================================================*/
#page-3 .header {
  position: relative;
  background-image: url(images/page-3-header.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100% auto;
  height: 550px; }

#page-3 .header .num:before {
  background-color: #3d94d2; }

/*--- [text] ---*/
#page-3 .text .title {
  font-size: 25px;
  height: 33px;
  line-height: 33px;
  font-weight: bold;
  padding-left: 50px;
  margin: 50px 0 20px 0;
  background: url(images/icon02.png) no-repeat 0 2px; }

#page-3 .text .grid {
  background-color: rgba(211, 240, 255, 0.4);
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 2px solid #3d94d2;
  border-bottom: 2px solid #3d94d2; }

#page-3 .text .grid .list {
  padding-left: 55px;
  line-height: 30px;
  height: 30px;
  font-size: 19px;
  background: url(images/icon02-dot.png) no-repeat 25px 8px; }

#page-3 .text .contact {
  font-size: 19px;
  line-height: 30px;
  margin: 50px 0 20px 0; }

#page-3 .text .qrcode {
  background: url(images/qrcode2.png) no-repeat -6px 0;
  height: 89px;
  width: 80px;
  display: block; }

/* ==========================================================================
* [page] [page-4] 建議事項
 ==========================================================================*/
#page-4 .header {
  position: relative;
  background-image: url(images/page-4-header.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100% auto;
  height: 550px; }

#page-4 .header .num:before {
  background-color: #8b80b0; }

/*--- [text] ---*/
#page-4 .text {
  padding-top: 60px; }

#page-4 .text .grid {
  width: 100%;
  font-size: 19px; }

#page-4 .text .grid .left {
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  text-align: left; }

#page-4 .text .grid .right {
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  text-align: left; }

#page-4 .text .contact {
  font-size: 19px;
  line-height: 30px;
  margin: 20px 0; }

/* ==========================================================================
* [page] [page-5] 生理量測
 ==========================================================================*/
#page-5 .header {
  position: relative;
  background-image: url(images/page-5-header.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100% auto;
  height: 380px; }

#page-5 .header .num:before {
  background-color: #a76f1f; }

/*--- [text] ---*/
#page-5 .text .grid {
  padding-top: 50px;
  width: 100%;
  font-size: 19px; }

#page-5 .text .grid .td {
  width: 17%;
  padding-top: 5px;
  padding-bottom: 5px;
  vertical-align: middle; }

#page-5 .text .grid .subtitle .td {
  padding-top: 20px;
  padding-bottom: 20px; }

#page-5 .text .grid .reference {
  width: 32%; }

/* ==========================================================================
* [page] [page-6] 檢驗
 ==========================================================================*/
#page-6 .header {
  position: relative;
  background-image: url(images/page-6-header.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100% auto;
  height: 380px; }

#page-6 .header .num:before {
  background-color: #619034; }

#page-6 .header_caption {
  width: 280px; }

/*--- [text] ---*/
#page-6 .text .title {
  font-size: 25px;
  height: 33px;
  line-height: 33px;
  font-weight: bold;
  padding-left: 50px;
  margin: 50px 0 20px 0;
  background: url(images/icon01.png) no-repeat 0 2px; }

#page-6 .text {
  width: 100%;
  font-size: 19px; }

#page-6 .text .grid .td {
  width: 20%;
  padding-top: 5px;
  padding-bottom: 5px;
  vertical-align: middle; }

#page-6 .text .subtitle .td {
  padding-top: 20px;
  padding-bottom: 20px; }

#page-6 .text .grid2 .td {
  width: 18%;
  padding-top: 5px;
  padding-bottom: 5px;
  vertical-align: middle; }

#page-6 .text .grid2 .reference {
  width: 28%; }

/* ==========================================================================
* [page] [page-7] 理學檢查
 ==========================================================================*/
#page-7 .header {
  position: relative;
  background-image: url(images/page-7-header.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100% auto;
  height: 380px; }

#page-7 .header .num:before {
  background-color: #3d94d2; }

/*--- [text] ---*/
#page-7 .text .grid {
  padding-top: 60px;
  width: 100%;
  font-size: 19px;
  line-height: 30px; }

#page-7 .text .grid .td {
  padding-top: 20px;
  padding-bottom: 20px; }

#page-7 .text .grid span {
  display: table; }

#page-7 .text .grid .left {
  padding-left: 20px;
  width: 14%;
  background-color: #e6f1f7; }

#page-7 .text .grid .right {
  width: 86%;
  padding-left: 20px; }

#page-7 .text .grid .list:before {
  padding-right: 10px;
  content: url(images/icon02-dot.png); }

/* ==========================================================================
* [page] [page-8] 醫師診斷
 ==========================================================================*/
#page-8 .header {
  position: relative;
  background-image: url(images/page-8-header.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100% auto;
  height: 380px; }

#page-8 .header .num:before {
  background-color: #8b80b0; }

/*--- [text] ---*/
#page-8 .text .title {
  font-size: 25px;
  height: 33px;
  line-height: 33px;
  font-weight: bold;
  padding-left: 50px;
  margin: 50px 0 20px 0;
  background: url(images/icon03.png) no-repeat 0 2px; }

#page-8 .text .grid {
  border-top: 2px solid #8b80b0;
  border-bottom: 2px solid #8b80b0;
  background-color: #fbf8fb;
  font-size: 19px;
  line-height: 30px; }

#page-8 .text .grid .inner {
  margin: 20px 30px; }

#page-8 .text .grid .list {
  font-weight: bold;
  padding-top: 10px; }

#page-8 .text .grid .list:before {
  padding-right: 15px;
  content: url(images/icon03-dot.png); }

#page-8 .text .grid .sub_caption {
  padding-left: 27px; }

/* ==========================================================================
* [page] [page-9] 內視鏡
 ==========================================================================*/
#page-9 .header {
  position: relative;
  background-image: url(images/page-9-header.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100% auto;
  height: 380px; }

#page-9 .header .num:before {
  background-color: #a76f1f; }

/*--- [text] ---*/
#page-9 .text .title {
  font-size: 25px;
  height: 33px;
  line-height: 33px;
  font-weight: bold;
  padding-left: 50px;
  margin: 50px 0 20px 0;
  background: url(images/icon04.png) no-repeat 0 2px; }

#page-9 .text .grid {
  border-top: 2px solid #a76f1f;
  border-bottom: 2px solid #a76f1f;
  background-color: #fefbf4;
  font-size: 19px;
  line-height: 30px; }

#page-9 .text .grid .inner {
  margin: 20px 30px 30px 30px; }

#page-9 .text .grid .list {
  font-weight: bold;
  padding-top: 10px; }

#page-9 .text .grid .list:before {
  padding-right: 15px;
  content: url(images/icon04-dot.png); }

#page-9 .text .grid .sub_caption {
  padding-left: 27px; }

#page-9 .text .grid .sub_caption2 {
  padding-left: 54px; }

#page-9 .text .grid .date {
  color: #a76f1f;
  font-weight: bold;
  padding-left: 27px;
  line-height: 40px; }

#page-9 .text .grid span {
  display: inline-block; }

#page-9 .text .grid .imgbox {
  padding-left: 54px;
  padding-top: 10px; }

#page-9 .text .grid .imgbox .img1 {
  background: url(images/page-9-01.jpg) center center no-repeat;
  width: 249px;
  height: 190px;
  background-size: cover; }

#page-9 .text .grid .imgbox .img2 {
  background: url(images/page-9-02.jpg) center center no-repeat;
  width: 249px;
  height: 190px;
  background-size: cover; }

#page-9 .text .grid .imgbox .img3 {
  background: url(images/page-9-02.jpg) center center no-repeat;
  width: 249px;
  height: 190px;
  background-size: cover; }

/* ==========================================================================
* [page] [page-10] 病理報告
 ==========================================================================*/
#page-10 .header {
  position: relative;
  background-image: url(images/page-10-header.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100% auto;
  height: 380px; }

#page-10 .header .num:before {
  background-color: #619034; }

/*--- [text] ---*/
#page-10 .text .title {
  font-size: 25px;
  height: 33px;
  line-height: 33px;
  font-weight: bold;
  padding-left: 50px;
  margin: 50px 0 20px 0;
  background: url(images/icon01.png) no-repeat 0 2px; }

#page-10 .text .grid {
  border-top: 2px solid #619034;
  border-bottom: 2px solid #619034;
  background-color: #f2f8f0;
  font-size: 19px;
  line-height: 30px; }

#page-10 .text .grid .inner {
  margin: 20px 30px 30px 30px; }

#page-10 .text .grid .list {
  font-weight: bold;
  padding-top: 10px; }

#page-10 .text .grid .list:before {
  padding-right: 15px;
  content: url(images/icon01-dot.png); }

#page-10 .text .grid .sub_caption {
  padding-left: 27px; }

#page-10 .text .grid .sub_caption2 {
  padding-left: 54px; }

#page-10 .text .grid .date {
  color: #619034;
  font-weight: bold;
  padding-left: 27px;
  line-height: 40px; }

/* ==========================================================================
* [page] [page-11] 影像檢查
 ==========================================================================*/
#page-11 .header {
  position: relative;
  background-image: url(images/page-11-header.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100% auto;
  height: 380px; }

#page-11 .header .num:before {
  background-color: #3d94d2; }

/*--- [text] ---*/
#page-11 .text .title {
  font-size: 25px;
  height: 33px;
  line-height: 33px;
  font-weight: bold;
  padding-left: 50px;
  margin: 50px 0 20px 0;
  background: url(images/icon02.png) no-repeat 0 2px; }

#page-11 .text .grid {
  border-top: 2px solid #3d94d2;
  border-bottom: 2px solid #3d94d2;
  background-color: #f5fbfe;
  font-size: 19px;
  line-height: 30px; }

#page-11 .text .grid .inner {
  margin: 20px 30px 30px 30px; }

#page-11 .text .grid .list {
  font-weight: bold;
  padding-top: 10px; }

#page-11 .text .grid .list:before {
  padding-right: 15px;
  content: url(images/icon02-dot.png); }

#page-11 .text .grid .sub_caption {
  padding-left: 27px; }

#page-11 .text .grid .sub_caption2 {
  padding-left: 54px; }

#page-11 .text .grid .date {
  color: #3d94d2;
  font-weight: bold;
  padding-left: 27px;
  line-height: 40px; }

/* ==========================================================================
* [page] [page-12] 其他檢查
 ==========================================================================*/
#page-12 .header {
  position: relative;
  background-image: url(images/page-12-header.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100% auto;
  height: 380px; }

#page-12 .header .num:before {
  background-color: #8b80b0; }

/*--- [text] ---*/
#page-12 .text .title {
  font-size: 25px;
  height: 33px;
  line-height: 33px;
  font-weight: bold;
  padding-left: 50px;
  margin: 50px 0 20px 0;
  background: url(images/icon03.png) no-repeat 0 2px; }

#page-12 .text .grid {
  border-top: 2px solid #8b80b0;
  border-bottom: 2px solid #8b80b0;
  background-color: #fbf8fb;
  font-size: 19px;
  line-height: 30px; }

#page-12 .text .grid .inner {
  margin: 20px 30px 30px 30px; }

#page-12 .text .grid .list {
  font-weight: bold;
  padding-top: 10px; }

#page-12 .text .grid .list:before {
  padding-right: 15px;
  content: url(images/icon03-dot.png); }

#page-12 .text .grid .sub_caption {
  padding-left: 27px; }

#page-12 .text .grid .sub_caption2 {
  padding-left: 54px; }

#page-12 .text .grid .date {
  color: #8b80b0;
  font-weight: bold;
  padding-left: 27px;
  line-height: 40px; }

/* ==========================================================================
* [page] [page-back] 封底
 ==========================================================================*/
#page-back {
  background: #eaf1ff url(images/page-back-bg.jpg) center center no-repeat;
  background-size: cover; }

#page-back .logo {
  position: absolute;
  top: 40%;
  left: 45%;
  width: 200px;
  margin-bottom: 15px; }

/* ==========================================================================
* .reportPrint [tabelList] 封底
 ==========================================================================*/
.tabelList {
  display: table;
  width: 100%;
  border-top: 2px solid #86aa63; }

.tabelList > .colgroup {
  display: table-column-group; }

.tabelList > .caption {
  display: table-caption; }

.tabelList > .theader {
  display: table-header-group; }

.tabelList > .tbody {
  display: table-row-group; }

.tabelList > .tr {
  display: table-row;
  width: 100%;
  clear: both; }

.tabelList > .tr > .th {
  text-align: center;
  display: table-cell;
  padding: 15px;
  border-bottom: 2px solid #86aa63;
  background-color: #edf9ff; }

.tabelList > .tr > .td {
  display: table-cell;
  padding: 15px;
  border-bottom: 2px solid #86aa63;
  background-color: #f2f8f0;
  text-align: center; }

.tabelList > .tfooter {
  display: table-footer-group; }

/*綠色*/
.green {
  border-top: 2px solid #86aa63; }

.green > .tr > .th,
.green > .tr > .td {
  border-bottom: 2px solid #86aa63; }

.green > .tr > .th {
  background-color: #e1f1d4; }

.green > .tr > .td {
  background-color: #f2f8f0; }

/*綠色*/
.blue {
  border-top: 2px solid #3d94d2; }

.blue > .tr > .th,
.blue > .tr > .td {
  border-bottom: 2px solid #3d94d2; }

.blue > .tr > .th {
  background-color: #e6f1f7; }

.blue > .tr > .td {
  background-color: #f5fbfe; }

/*土色*/
.terra {
  border-top: 2px solid #a76f1f; }

.terra > .tr > .th,
.terra > .tr > .td {
  border-bottom: 2px solid #a76f1f; }

.terra > .tr > .th {
  background-color: #f7f1e0; }

.terra > .tr > .td {
  background-color: #fefbf4; }

/*紫色*/
.purple {
  border-top: 2px solid #a79dc2; }

.purple > .tr > .th,
.purple > .tr > .td {
  border-bottom: 2px solid #a79dc2; }

.purple > .tr > .th {
  background-color: #f4ecf3; }

.purple > .tr > .td {
  background-color: #f9f5f7; }

/* ==========================================================================
* tableList各頁面設定
 ==========================================================================*/
#page-2 .name {
  text-align: left; }

/*# sourceMappingURL=test.css.map */
