@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?spe44z');
	src:url('fonts/icomoon.eot?#iefixspe44z') format('embedded-opentype'),
		url('fonts/icomoon.ttf?spe44z') format('truetype'),
		url('fonts/icomoon.woff?spe44z') format('woff'),
		url('fonts/icomoon.svg?spe44z#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before{
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-volume:before {
	content: "\e62f";
}
.icon-cart4:before {
	content: "\e623";
}
.icon-board:before {
	content: "\e627";
}
.icon-mail:before {
	content: "\e63f";
}
.icon-arrow-repeat:before {
	content: "\e615";
}
.icon-play-arrow:before {
	content: "\e624";
}
.icon-play-download:before {
	content: "\e626";
}
.icon-cross2:before {
	content: "\e117";
}
.icon-close3:before {
	content: "\e640";
}
.icon-social-twitter:before {
	content: "\e644";
}
.icon-edit:before {
	content: "\e645";
}
.icon-find-in-page:before {
	content: "\e631";
}
.icon-arrow-left3:before {
	content: "\e094";
}
.icon-arrow-right2:before {
	content: "\e095";
}
.icon-arrow-up3:before {
	content: "\e096";
}
.icon-arrow-down3:before {
	content: "\e097";
}
.icon-heart-outlined:before {
	content: "\e633";
}
.icon-heart:before {
	content: "\e634";
}
.icon-sina-weibo:before {
	content: "\e635";
}
.icon-instagram:before {
	content: "\e636";
}
.icon-plus:before {
	content: "\e604";
}
.icon-arrow-left:before {
	content: "\e605";
}
.icon-arrow-down:before {
	content: "\e606";
}
.icon-arrow-up:before {
	content: "\e607";
}
.icon-arrow-right:before {
	content: "\e608";
}
.icon-arrow-left2:before {
	content: "\e609";
}
.icon-arrow-down2:before {
	content: "\e60a";
}
.icon-arrow-up2:before {
	content: "\e60b";
}
.icon-uniE622:before {
	content: "\e622";
}
.icon-facebook:before {
	content: "\e60d";
}
.icon-facebook2:before {
	content: "\e60c";
}
.icon-search3:before {
	content: "\e637";
}
.icon-printer:before {
	content: "\e630";
}
.icon-cross:before {
	content: "\e61a";
}
.icon-download:before {
	content: "\e61d";
}
.icon-plus2:before {
	content: "\e647";
}
.icon-arrow-long-right:before {
	content: "\e632";
}
.icon-arrow-right3:before {
	content: "\e638";
}
.icon-list-unordered:before {
	content: "\f061";
}
.icon-calendar:before {
	content: "\e625";
}
.icon-x:before {
	content: "\e616";
}
.icon-play:before {
	content: "\e61b";
}
.icon-envelope2:before {
	content: "\e628";
}
.icon-picture:before {
	content: "\e629";
}
.icon-camera:before {
	content: "\e62a";
}
.icon-film:before {
	content: "\e62b";
}
.icon-heart2:before {
	content: "\e63d";
}
.icon-home:before {
	content: "\f08d";
}
.icon-trashcan:before {
	content: "\f0d0";
}
.icon-phone:before {
	content: "\e600";
}
.icon-zoomin:before {
	content: "\e601";
}
.icon-clock:before {
	content: "\e602";
}
.icon-pin-alt:before {
	content: "\e603";
}
.icon-close:before {
	content: "\e60e";
}
.icon-search:before {
	content: "\e614";
}
.icon-zoomin2:before {
	content: "\e610";
}
.icon-zoomout:before {
	content: "\e611";
}
.icon-search2:before {
	content: "\e612";
}
.icon-zoomin3:before {
	content: "\e60f";
}
.icon-zoomout2:before {
	content: "\e613";
}
.icon-play2:before {
	content: "\e62d";
}
.icon-cart:before {
	content: "\e61f";
}
.icon-cart2:before {
	content: "\e620";
}
.icon-cart3:before {
	content: "\e621";
}
.icon-print:before {
	content: "\e61e";
}
.icon-gift:before {
	content: "\e62e";
}
.icon-close2:before {
	content: "\e617";
}
.icon-checkmark:before {
	content: "\e618";
}
.icon-checkmark2:before {
	content: "\e619";
}
.icon-facebook4:before {
	content: "\e63e";
}
.icon-in:before {
	content: "\e61c";
}
.icon-spinner:before {
	content: "\e641";
}
.icon-spinner2:before {
	content: "\e642";
}
.icon-twitter:before {
	content: "\e643";
}
.icon-plus-alt:before {
	content: "\e63c";
}
.icon-minus-alt:before {
	content: "\e648";
}
.icon-play-alt:before {
	content: "\e646";
}
.icon-earth:before {
	content: "\e9ca";
}
.icon-user:before {
	content: "\e62c";
}
.icon-chart:before {
	content: "\e639";
}
.icon-arrow-small-down:before {
	content: "\f0a0";
}
.icon-arrow-small-left:before {
	content: "\f0a1";
}
.icon-arrow-small-right:before {
	content: "\f071";
}
.icon-arrow-small-up:before {
	content: "\f09f";
}
.icon-pencil:before {
	content: "\f058";
}
.icon-box-remove:before {
	content: "\e95f";
}
.icon-key:before {
	content: "\e98d";
}
.icon-upload2:before {
	content: "\e9c6";
}
.icon-th:before {
	content: "\f00a";
}
.icon-th-list:before {
	content: "\f00b";
}
.icon-youtube:before {
	content: "\f167";
}
.icon-navicon:before {
	content: "\f0c9";
}
.icon-angle-double-left:before {
	content: "\f100";
}
.icon-angle-double-right:before {
	content: "\f101";
}
.icon-angle-double-up:before {
	content: "\f102";
}
.icon-angle-double-down:before {
	content: "\f103";
}
.icon-trash:before {
	content: "\f1f8";
}
